/* colors */
/*font family*/
/* breakpoints */
/*transform*/
/*opacity*/
/*opacity- end*/
.cp-order-management {
  border: 1px solid #DEDEDE;
  padding: 4rem;
  border-radius: 1.6rem;
  -webkit-border-radius: 1.6rem;
  -moz-border-radius: 1.6rem; }
  .cp-order-management .head-wrap {
    display: flex;
    justify-content: space-between;
    margin-bottom: 4rem; }
    .cp-order-management .head-wrap .title {
      font-size: 3.6rem;
      font-family: "Poppins Semibold";
      color: #333333; }
    .cp-order-management .head-wrap .cp-search {
      width: 34.3rem; }
      .cp-order-management .head-wrap .cp-search .search-icon {
        color: #B3B3B3; }
  .cp-order-management .sec-cont {
    margin-bottom: 2rem; }
  .cp-order-management .my-order-cont-wrap {
    border: 1px solid #DEDEDE;
    padding: 1.6rem;
    border-radius: 1.6rem;
    -webkit-border-radius: 1.6rem;
    -moz-border-radius: 1.6rem;
    background: #fff;
    position: relative; }
    .cp-order-management .my-order-cont-wrap .cont-head {
      padding-bottom: 1.2rem;
      margin-bottom: 1.2rem;
      border-bottom: 1px solid #DEDEDE; }
      .cp-order-management .my-order-cont-wrap .cont-head .order-date {
        display: flex;
        justify-content: space-between;
        font-size: 1.2rem;
        color: #666666;
        align-items: center; }
        .cp-order-management .my-order-cont-wrap .cont-head .order-date .order-tag {
          padding: 2px 8px;
          border-radius: 2.6rem;
          -webkit-border-radius: 2.6rem;
          -moz-border-radius: 2.6rem; }
          .cp-order-management .my-order-cont-wrap .cont-head .order-date .order-tag.blue {
            background: #D8E5F8;
            color: #00398C; }
          .cp-order-management .my-order-cont-wrap .cont-head .order-date .order-tag.yellow {
            background: #FFF1CC;
            color: #A77800; }
          .cp-order-management .my-order-cont-wrap .cont-head .order-date .order-tag.green {
            background: #CCEDD9;
            color: #00A441; }
          .cp-order-management .my-order-cont-wrap .cont-head .order-date .order-tag.red {
            background: #FCDACC;
            color: #EE4400; }
      .cp-order-management .my-order-cont-wrap .cont-head .order-no {
        display: flex;
        justify-content: space-between;
        color: #333333;
        font-size: 1.6rem;
        font-family: "Poppins Medium";
        align-items: center;
        margin: 8px 0; }
        .cp-order-management .my-order-cont-wrap .cont-head .order-no .price {
          font-size: 2rem; }
      .cp-order-management .my-order-cont-wrap .cont-head .order-status {
        display: flex;
        align-items: center;
        font-size: 1.2rem;
        font-family: "Poppins Medium";
        color: #333333;
        gap: 4px; }
        .cp-order-management .my-order-cont-wrap .cont-head .order-status .icon {
          font-size: 1.6rem; }
        .cp-order-management .my-order-cont-wrap .cont-head .order-status.red {
          color: #EE4400; }
          .cp-order-management .my-order-cont-wrap .cont-head .order-status.red .icon {
            color: #EE4400; }
        .cp-order-management .my-order-cont-wrap .cont-head .order-status.blue .icon {
          color: #3D7EDB; }
        .cp-order-management .my-order-cont-wrap .cont-head .order-status.green .icon {
          color: #00A441; }
    .cp-order-management .my-order-cont-wrap .product-title {
      font-size: 1.6rem;
      color: #333333;
      font-family: "Poppins Medium";
      margin-bottom: 1.2rem; }
    .cp-order-management .my-order-cont-wrap .product-list-wrap {
      display: flex;
      justify-content: space-between;
      align-items: end; }
      .cp-order-management .my-order-cont-wrap .product-list-wrap .prodcut-list-main {
        display: flex;
        align-items: center;
        gap: 1.4rem; }
        .cp-order-management .my-order-cont-wrap .product-list-wrap .prodcut-list-main .product-list {
          border-radius: 1.2rem;
          -webkit-border-radius: 1.2rem;
          -moz-border-radius: 1.2rem;
          width: 84px;
          height: 84px;
          border: 1.78px solid #DEDEDE;
          overflow: hidden; }
          .cp-order-management .my-order-cont-wrap .product-list-wrap .prodcut-list-main .product-list.typ-number {
            display: flex;
            align-items: center;
            color: #666666;
            font-size: 2.4rem;
            justify-content: center; }
      .cp-order-management .my-order-cont-wrap .product-list-wrap .btn-wrap {
        display: flex;
        gap: 1.2rem; }
        .cp-order-management .my-order-cont-wrap .product-list-wrap .btn-wrap .w-224 {
          min-width: 22.4rem !important; }
        .cp-order-management .my-order-cont-wrap .product-list-wrap .btn-wrap .btn {
          font-size: 1.4rem;
          min-width: 13.7rem; }
    .cp-order-management .my-order-cont-wrap .btn-wrap-main {
      padding-top: 1.2rem;
      margin-top: 1.2rem;
      border-top: 1px solid #DEDEDE; }
      .cp-order-management .my-order-cont-wrap .btn-wrap-main .w-224 {
        min-width: 22.4rem !important; }
      .cp-order-management .my-order-cont-wrap .btn-wrap-main .btn {
        font-size: 1.4rem;
        min-width: 13.7rem; }
  .cp-order-management .rating-main {
    border-radius: 1.6rem;
    -webkit-border-radius: 1.6rem;
    -moz-border-radius: 1.6rem;
    border: 1px solid #DEDEDE;
    margin-top: -24px;
    overflow: hidden;
    position: relative;
    z-index: -1; }
    .cp-order-management .rating-main .radio-wrap {
      gap: 8px;
      display: flex;
      justify-content: space-between;
      margin: 1.6rem 0; }
      .cp-order-management .rating-main .radio-wrap .radio-wrap {
        gap: 8px;
        display: flex;
        justify-content: space-between; }
    .cp-order-management .rating-main .rating-head {
      background: #FFF1CC;
      border-bottom: 1px solid #FFD466;
      padding: 2.8rem 1.6rem 1.2rem; }
      .cp-order-management .rating-main .rating-head .head-title {
        font-size: 2rem;
        font-family: "Poppins Semibold";
        color: #333333; }
    .cp-order-management .rating-main .desc {
      color: #333333; }
    .cp-order-management .rating-main .rating-sec {
      display: flex;
      justify-content: space-between;
      padding: 1.2rem 1.6rem;
      align-items: center; }
      .cp-order-management .rating-main .rating-sec .rating-wrap {
        width: 65%; }

/*# sourceMappingURL=cp-order-management.css.map */
