@import "../config/variables";
@import "../config/mixin";

.cp-artical {
    .artical-list-main {
        @media only screen and (max-width: $media-sm) {
            display: flex;
            flex-wrap: wrap;
            gap: 1.2rem;
        }

        .artical-list {
            display: flex;
            gap: 1.6rem;
            border-bottom: 1px solid #DEDEDE;
            padding-bottom: 2.4rem;
            margin-bottom: 2.4rem;

            @media only screen and (max-width: $media-sm) {
                flex-direction: column;
                border: 0;
                flex: 0 0 calc(50% - 0.6rem);
                max-width: calc(50% - 0.6rem);
                margin-bottom: 0;
            }

            .img-wrap {
                width: 25%;
                @include border-radius(1.6rem);
                position: relative;
                overflow: hidden;
                height: 9.4rem;

                @media only screen and (max-width: $media-sm) {
                    width: 100%;
                }

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            .cont-wrap {
                width: 75%;

                @media only screen and (max-width: $media-sm) {
                    width: 100%;
                }

                .title {
                    font-size: 1rem;
                    font-family: $font-medium;
                    color: #D2042D;
                    line-height: normal;
                    margin-bottom: 0.4rem;
                    display: -webkit-box;
                    -webkit-line-clamp: 1;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                }

                .desc {
                    font-size: 1.4rem;
                    color: $clr-base;
                    font-family: $font-semiBold;
                    line-height: 2rem;
                    margin-bottom: 0.8rem;
                    display: -webkit-box;
                    -webkit-line-clamp: 3;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                }

                .date-time {
                    font-size: 1rem;
                    color: $clr-para;

                    &::before {
                        content: '|';
                        font-size: 1rem;
                        padding-inline: 0.4rem;
                        color: #DEDEDE;

                        @media only screen and (max-width: $media-sm) {
                            font-size: 1.2rem;
                        }

                    }

                    &:first-child {
                        &::before {
                            content: none;
                        }
                    }
                }

            }
        }
    }

    &.typ-col-6 {
        .artical-list-main {
            display: flex;
            flex-wrap: wrap;
            gap: 2rem;

            @media only screen and (max-width: $media-sm) {
                flex-direction: column;
            }

            .artical-list {
                border: 1px solid #DEDEDE;
                padding-bottom: 2.4rem;
                margin: 0;
                padding: 1.2rem;
                @include border-radius(1.6rem);
                flex: 0 0 calc(50% - 1rem);
                max-width: calc(50% - 1rem);

                @media only screen and (max-width: $media-sm) {
                    flex: 0 0 100%;
                    max-width: 100%;
                    flex-direction: initial;
                }
                .img-wrap{height: auto; }
                .cont-wrap {
                    .desc {
                        -webkit-line-clamp: 2;
                    }
                }
            }
        }
    }
    &.typ-col-3 {
        .artical-list-main {
            display: flex;
            flex-wrap: wrap;
            gap: 2rem;

            @media only screen and (max-width: $media-sm) {
                flex-direction: column;
            }

            .artical-list {
                border: 1px solid #DEDEDE;
                padding-bottom: 2.4rem;
                margin: 0;
                padding: 1.2rem;
                @include border-radius(1.6rem);
                flex: 0 0 calc(33% - 1rem);
                max-width: calc(33% - 1rem);
                background-color: #fff;
                @media only screen and (max-width: $media-sm) {
                    flex: 0 0 100%;
                    max-width: 100%;
                    flex-direction: initial;
                }
                .img-wrap{
                    width: 16rem;
                }
                .cont-wrap {
                    .desc {
                        -webkit-line-clamp: 2;
                    }
                }
            }
        }
    }
}