@import "../config/variables";
@import "../config/mixin";

.cp-architect {
  display: flex;
  align-items: start;
  justify-content: space-between;
  position: relative;
  gap: 2rem;
  padding-left: 10rem;

  @media only screen and (max-width: $media-mobile) {
    padding: 0 0 0 1.6rem;
  }

  .arch-left {
    width: 22%;

    .title {
      font-family: $font-semiBold;
      font-size: 4rem;
      line-height: 5.2rem;
      color: $clr-base;
      margin-bottom: 0.8rem;
    }

    .desc {
      font-family: $font-regular;
      font-size: 1.6rem;
      line-height: 2.4rem;
      margin-bottom: 1.6rem;
    }

    .service-btn {
      @media only screen and (max-width: $media-mobile) {
        position: absolute;
        left: 50%;
        bottom: 0;
        transform: translateX(-50%);
      }
    }
  }

  .arch-right {
    width: 76%;
    overflow: hidden;
  }

  @media only screen and (max-width: $media-mobile) {
    flex-direction: column;
    gap: 1.6rem;
    padding-bottom: 6.4rem;

    .arch-left {
      width: 100%;

      .title {
        width: 60%;
        font-size: 2.4rem;
        line-height: 3.2rem;
      }

      .desc {
        margin-bottom: 0rem;
      }
    }

    .arch-right {
      width: 100%;
    }
  }

  &.typ-fabricators {
    flex-wrap: wrap;
    padding-left: 0;

    @media only screen and (max-width: $media-mobile) {
      padding-bottom: 0;
    }

    .btn-wrap {
      width: 100%;
    }

    .arch-left {
      .title {
        margin-bottom: 1.6rem;
      }
    }

    .service-btn {
      min-width: 29.5rem;

      &.btn-link {
        min-width: auto;
      }
    }

    @media only screen and (max-width: $media-mobile) {
      .arch-left {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;

        .title {
          margin-bottom: 0;
        }

        .service-btn {
          &.btn-link {
            position: relative;
            @include transform(none);
            left: 0;
            margin-right: 1.6rem;
          }
        }
      }
    }
  }

}

// swiper-card code for architect section
.cp-architect-card {
  position: relative;
  width: 29.6rem;
  // height: 26rem;
  border-radius: 1.6rem;
  overflow: hidden;

  // @media only screen and (max-width: $media-mobile) {
  //   height: 29.6rem;
  // }

  .img-wrap {
    .img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      max-height: 24rem;

      @media only screen and (max-width: $media-mobile) {
        max-height: 28rem;
      }
    }

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 70%;
      background: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
      z-index: 1;
    }
  }

  .detail-wrap {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 0 1.6rem 2.4rem 2.4rem;
    z-index: 2;
  }

  .card-title {
    font-size: 1.6rem;
    line-height: 2.4rem;
    font-family: $font-medium;
    margin-bottom: 0.8rem;
    color: $clr-root;
    text-transform: capitalize;
  }

  .bottom-sec {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .location-list {
      display: flex;


      .location-item {
        display: flex;
        align-items: center;

        .icon {
          font-size: 1.2rem;
          color: $clr-root;
        }

        .details {
          position: relative;
          margin-left: 0.5rem;
          font-size: 1.2rem;
          color: $clr-root;
          font-family: $font-medium;
          line-height: 1.6rem;
          margin-right: 1.2rem;

          &.no-seperator {
            &::after {
              content: none;
            }
          }

          &::after {
            content: "";
            position: absolute;
            right: 0;
            top: 0;
            width: 1px;
            height: 1.2rem;
            background-color: $clr-root;
            margin-right: -1.2rem;
          }
        }


        &.typ-rating {
          padding: 0.2rem 0.8rem;
          background-color: $clr-secondary;
          border-radius: 2.6rem;
          margin-left: 1.2rem;

          &.typ-green {
            background-color: #00A441;
          }

          .details {
            margin: 0;
            margin-left: 0.2rem;

            &::after {
              display: none;
            }
          }

        }
      }
    }
  }

  .detail-right {
    width: 2.4rem;
    height: 2.4rem;
    border-radius: 0.4rem;
    border: 1px solid $clr-root;

    .icon {
      color: $clr-root;
      font-size: 2.4rem;
      cursor: pointer;
    }
  }

  &.typ-about-nestudio {
    .bottom-sec {
      .location-list {
        .location-item {
          .details {
            margin: 0;
            font-family: $font-regular;
            color: #B3B3B3;

            &::after {
              content: none;
            }
          }
        }
      }
    }
  }

  &.typ-architect-plan {
    border: #DEDEDE 1px solid;
    width: 100%;

    .img-wrap {
      max-height: 16rem;

      &::after {
        content: none;
      }

      img {
        max-height: 16rem;
      }
    }

    .detail-wrap {
      background-color: #fff;
      padding: 1.2rem;
      position: static;

      .location-item {
        .details {
          color: $clr-base;
          font-family: $font-semiBold;
          font-size: 1.6rem;
        }
      }

      .detail-right {
        border: 1px solid $clr-base;
        @include border-radius(0.6rem);
        padding: 0.4rem;
        display: flex;
        align-items: center;
        justify-content: center;

        .icon {
          color: $clr-base;
          font-size: 1.6rem;
        }
      }
    }
  }

  &.typ-architect-style {
    width: 100%;

    .img-wrap {
      &::after {
        height: 14rem;
      }

      .img {
        max-height: 46rem;
      }

      .tag-list {
        position: absolute;
        top: 0;
        width: 100%;
        left: 0;
        right: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1.4rem 1.6rem;

        .tag-item {
          .tag {
            background: #fff;
            @include border-radius(2.6rem);
            font-family: "Poppins Medium";
            font-size: 1.2rem;
            line-height: 1.6rem;
            color: #3D7EDB;
            padding: 0.4rem 0.8rem;
          }

          .icon {
            font-size: 1.6rem;
            line-height: 2.4rem;
            color: #999999;
            cursor: pointer;
            background: #fff;
            width: 2.4rem;
            height: 2.4rem;
            padding: 4px;
            @include border-radius(0.6rem)
          }
        }
      }
    }

    .detail-wrap {
      padding: 1.6rem;

      .card-title {
        margin-bottom: 1.6rem;
      }


      .location-list {
        flex-direction: column;

        .location-item {
          .tag-list {
            margin-bottom: 8px;
          }

          .tag-item {
            display: flex;
            flex-wrap: wrap;
            gap: 8px;

            .tag {
              background-color: #D8E5F8;
              font-size: 1.2rem;
              color: $clr-base;
              padding: 2px 8px;
              @include border-radius(2.6rem);
            }
          }

          .link {
            color: #fff;
            font-size: 1.4rem;
            text-decoration: underline;
            font-family: $font-medium;
          }
        }
      }
    }

    &.typ-plans {
      .img-wrap {
        &::before {
          background: #0000001A;
          position: absolute;
          height: 100%;
          left: 0;
          right: 0;
          width: 100%;
          height: 100%;
          content: '';
        }

        &::after {
          height: 18.4rem;
        }

        .img {
          max-height: 100%;
          min-height: 40.3rem;
        }
      }

      .card-title {
        margin-bottom: 4px;
      }

      .desc {
        font-size: 1.4rem;
        color: #fff;
      }

      .detail-wrap {
        .list {
          display: flex;
          align-items: center;

          li {
            a {
              font-family: $font-medium;
              font-size: 1.6rem;
            }

          }

          & li+li::before {
            content: '|';
            font-size: 1.6rem;
            padding-inline: 0.8rem;
            color: #3D7EDB;

            @media only screen and (max-width: $media-sm) {
              font-size: 1.2rem;
            }
          }
        }
      }
    }
  }

  &.typ-service-provider {
    .bottom-sec {
      .location-list {
        .location-item {
          .price {
            margin-left: 1.2rem;
            font-size: 1.2rem;
            color: #FFFFFF;
            font-family: $font-medium;
            line-height: 1.6rem;
          }
        }
      }
    }
  }

  &.typ-sp-card {
    border: #DEDEDE 1px solid;
    width: 100%;
    height: 100%;

    .img-wrap {
      max-height: 12rem;

      &::after {
        content: none;
      }

      img {
        max-height: 12rem;
      }
    }

    .detail-wrap {
      background-color: #fff;
      padding: 1.2rem;
      position: static;

      .location-item {
        .details {
          color: $clr-base;
          font-size: 2rem;
          line-height: 2rem;

          @media only screen and (max-width: $media-sm) {
            font-size: 1.6rem;
          }
        }
      }

      .detail-right {
        border: 1px solid $clr-base;
        @include border-radius(0.6rem);
        padding: 0.4rem;
        display: flex;
        align-items: center;
        justify-content: center;

        .icon {
          color: $clr-base;
          font-size: 1.6rem;
        }
      }
    }
  }

  &.typ-home-building {
    border: #DEDEDE 1px solid;
    width: 100%;
    height: 100%;

    .img-wrap {
      max-height: 12rem;

      &::after {
        content: none;
      }

      img {
        max-height: 12rem;
      }
    }

    .detail-wrap {
      background-color: #fff;
      padding: 1.2rem;
      position: static;
      height: 65px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .bottom-sec {
        width: 100%;
      }

      .location-item {
        .details {
          color: $clr-base;
          font-size: 2rem;
          line-height: 2rem;

          @media only screen and (max-width: $media-sm) {
            font-size: 1.6rem;
          }
        }
      }

      .detail-right {
        border: 1px solid $clr-base;
        @include border-radius(0.6rem);
        padding: 0.4rem;
        display: flex;
        align-items: center;
        justify-content: center;

        .icon {
          color: $clr-base;
          font-size: 1.6rem;
        }
      }
    }
  }

  &.typ-design-style-quiz {
    @media only screen and (max-width: $media-sm) {
      @include border-radius(0)
    }

    .bottom-sec {
      .location-list {
        .location-item {
          .link {
            color: #fff;
            text-decoration: underline;
            font-family: $font-medium;
            font-size: 1.4rem;
          }
        }
      }

    }
  }

  &.typ-design-style-support {
    .detail-right {
      @media only screen and (max-width: $media-sm) {
        right: 18px;
        top: -95%;
        position: absolute;
      }
    }

    .detail-wrap {
      @media only screen and (max-width: $media-sm) {
        padding: 1.2rem;
      }
    }

    .card-title {
      margin-bottom: 0;

      @media only screen and (max-width: $media-sm) {
        font-size: 1.4rem;
        line-height: 2rem;
      }
    }
  }
}

.w-100 {
  width: 100%;
}