@import "../config/variables";
@import "../config/mixin";

.cp-blog-filter{
    border-top:1px solid #dedede;
    height: 100vh;
    .lhs{
        width: 100%;
        border-left: 1px solid #dedede;
        height: 100%;
        background: #FFFBF2;
        .category-list{
            .list-item{
                font-size: 1.4rem;
                color: $clr-base;
                font-family: $font-semiBold;
                border-bottom: 1px solid #FFE399;
                padding: 1.6rem 3.2rem;
                width: 60%;
                position: relative;
                &.active{
                    background: #FFE399;
                    border-bottom: 1px solid #A77800;
                }
            }
        }
        .filter-menu-list{
            position: fixed;
            right: 42px;
            top: 81px;
            width: 16%;
            background: $clr-root;
            padding: 1rem;
            z-index: 2;
            display: none;
            height: 74%;
            @media only screen and (max-width: $media-mobile) {
                right: -20px;
                top: 65px;
                width: 57%;
                z-index: 2;
                height: 74%;
            }
            &.active{
                display: block;
            }
        }
    }
    .rhs{
        width: 50%;
        padding: 1.6rem;
        .title{
            font-size: 1.6rem;
            font-family: $font-semiBold;
            color:$clr-base;
        }
    }
.act-wrap{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 1.2rem 1.6rem;
    border-top: 1px solid #dedede;
    .btn{
        min-width: 22.6rem;
        @media only screen and (max-width: $media-mobile) {
            min-width: 16.3rem
        }
    }
}
}