@import "../config/variables";
@import "../config/mixin";

.cp-box {
    display: flex;
    justify-content: flex-start;

    .title {
        font-size: 1.6rem;
        font-family: $font-medium;
        color: $clr-base;
        padding-block: 1.6rem;
    }

    &.type-quntity {
        flex-wrap: wrap;
        justify-content: space-between;

        .title {
            width: 100%;
        }

    }

    .act-wrap {
        @media only screen and (max-width: $media-mobile) {
            position: sticky;
            top: 10px;
            /* Adjust as needed */
            z-index: 1;
        }

    }

    &.typ-durshine-pdp {
        justify-content: flex-end;
    }

    &.typ-calculate {
        border: 1px solid $clr-primary;
        @include border-radius(1.6rem);
        background: #ECF2FB;
        padding: 3.2rem 4rem;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 4rem;
        height: 100%;

        @media only screen and (max-width: $media-sm) {
            width: 100%;
            gap: 1.6rem;
        }

        .img-wrap,
        .cont-wrap {
            width: 47%;

            @media only screen and (max-width: $media-tab) {
                width: 100%;
            }
        }

        .img-wrap {
            width: 55.5rem;
            height: 34.2rem;
            @include border-radius(1.6rem);

            img {
                height: 100%;
                object-fit: contain;
            }
        }
    }

    &.typ-rebar {
        .img-wrap {
            width: 55.5rem;
            height: 25rem;

            @media only screen and (max-width: $media-sm) {
                height: 14rem;
            }
        }

        @media only screen and (max-width: $media-sm) {
            padding: 1.6rem;

            .sec-head {
                margin-bottom: 0;
                text-align: center;

                .sec-title {
                    color: #666666;
                    font-family: $font-medium;
                    font-size: 1.2rem;
                    line-height: 1.6rem;
                    text-align: center;
                    margin: 0;
                    width: 100%;
                }
            }
        }
    }

    &.typ-result {
        margin-bottom: 1.4rem;
        position: relative;
        border: 1px solid $clr-border;
        @include border-radius(1.2rem);
        padding: 1.6rem;
        gap: 1.2rem;
        align-items: start;

        @media only screen and (max-width: $media-mobile) {
            padding: 0.8rem 1.2rem;
            align-items: center;
        }

        .img-wrap {
            border-radius: 50%;
            width: 4.8rem;
            height: 4.8rem;
            background-color: #5A245A;

            @media only screen and (max-width: $media-mobile) {
                width: 3.2rem;
                height: 3.2rem;
            }

            .icon {
                color: $clr-root;
                font-size: 2.4rem;
                line-height: 4.8rem;
                display: flex;
                justify-content: center;

                @media only screen and (max-width: $media-mobile) {
                    font-size: 1.6rem;
                    line-height: 3.2rem;
                }
            }
        }

        .cont-wrap {
            padding-right: 3rem;
            width: 85%;
        }

        .title {
            font-size: 1.6rem;
            line-height: 2.4rem;
            margin-bottom: 0.4rem;
            color: #5A245A;
            padding: 0;
            font-family: $font-semiBold;

            @media only screen and (max-width: $media-mobile) {
                font-size: 1.4rem;
                line-height: 2rem;
                font-family: $font-regular;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                margin: 0;
            }
        }

        .desc {
            font-size: 1.4rem;
            line-height: 2.4rem;
            color: #5A245A;
            font-family: $font-regular;

            @media only screen and (max-width: $media-mobile) {
                display: none;
            }
        }

        .icon.icon-edit {
            position: absolute;
            top: 1.6rem;
            right: 1.6rem;
            font-size: 2.4rem;
            color: $clr-base;
        }
    }

    &.typ-price {
        padding: 1.6rem;
        position: relative;
        border: 1px solid $clr-border;
        @include border-radius(1.2rem);
        background-color: $clr-root;
        text-align: center;

        .cont-wrap {
            width: 100%;
        }

        .title {
            font-family: $font-semiBold;
            font-size: 2rem;
            line-height: 2.8rem;
            color: $clr-base;
            padding: 0;
            margin-bottom: 0.4rem;
        }

        .desc {
            font-family: $font-semiBold;
            font-size: 2.8rem;
            line-height: 4rem;
            color: $clr-base;

            &.typ-flex {
                align-items: center;
                justify-content: center;
                gap: 4px;
                display: flex;
            }

            .typ-small,
            .icon {
                font-size: 2rem;
            }
        }

        .link {
            font-size: 1.4rem;
            text-decoration: underline;
            font-family: $font-medium;

            @media only screen and (max-width: $media-mobile) {
                font-size: 1.2rem;
            }
        }
    }

    &.bottom-notify {
        z-index: -1;
        position: relative;
        padding: 1.6rem;
        padding-top: 4rem;
        margin-top: -2rem;
        border: 1px solid #FFC633;
        background: #FFF8E5;
        @include border-radius(1.2rem);

        .img-wrap {
            border-radius: 50%;
            width: 3.6rem;
            height: 3.6rem;
            background-color: #FFC633;
            margin-right: 1.2rem;

            .icon {
                color: $clr-root;
                font-size: 2.4rem;
                line-height: 3.6rem;
                display: flex;
                justify-content: center;
            }
        }

        .cont-wrap {
            width: 85%;
        }

        .title {
            padding: 0;
            font-size: 1.2rem;
            line-height: 1.6rem;
            color: $clr-black;
            font-family: $font-regular;
        }
    }

    &.bottom-notify-breakout {
        z-index: -1;
        position: relative;
        padding: 1.6rem 3.6rem 1.6rem 1.6rem;
        padding-top: 4rem;
        margin-top: -4rem;
        border: 1px solid #FFC633;
        background: #5A245A;
        position: relative;
        @include border-radius(1.2rem);
        align-items: center;

        .img-wrap {
            border-radius: 50%;
            width: 3.6rem;
            height: 3.6rem;
            background-color: #BDA7BD;
            margin-right: 1.2rem;

            .icon {
                color: #5A245A;
                font-size: 2.4rem;
                line-height: 3.6rem;
                display: flex;
                justify-content: center;
            }
        }

        .cont-wrap {
            width: 85%;
        }

        .title {
            padding: 0;
            font-size: 1.2rem;
            line-height: 1.6rem;
            color: #fff;
            font-family: $font-regular;
        }

        &::after {
            content: "\e908";
            position: absolute;
            right: 15px;
            top: 50%;
            font-size: 1.6rem;
            color: #fff;
            font-family: 'icomoon' !important;
        }
    }

    .cost-list-wrap {
        display: flex;
        margin: 3.6rem 0 2.4rem;

        .cost-list {
            width: 33.33%;
            padding: 0 1.2rem;
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .icon {
                width: 4rem;
                height: 4rem;
                font-size: 2.4rem;
                @include border-radius(1.2rem);
                display: flex;
                align-items: center;
                justify-content: center;
                margin-bottom: 8px;

                &.orange {
                    background-color: #FDECE5;
                    color: #F16933;
                }

                &.blue {
                    background-color: #ECF2FB;
                    color: #3D7EDB;
                }

                &.green {
                    background-color: #E5F6EC;
                    color: #00A441;
                }
            }

            .price {
                font-size: 1.6rem;
                color: $clr-base;
                font-family: $font-semiBold;

                @media only screen and (max-width: $media-mobile) {
                    font-size: 1.4rem;
                }
            }

            .title {
                font-size: 1.4rem;
                color: #666666;
                font-family: $font-regular;
                margin: 0;

                @media only screen and (max-width: $media-mobile) {
                    font-size: 1.2rem;
                }
            }
        }
    }

    .estimate-time-wrap {
        background-color: #F3F4F6;
        @include border-radius(8px);
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0.8rem 1.2rem;
        text-align: left;

        .title {
            font-size: 1.4rem;
            font-family: $font-medium;
            color: $clr-base;
            line-height: 2rem;
            margin-bottom: 0;

            .typ-small {
                font-size: 1.2rem;
                font-family: $font-regular;
                color: #666666;
                display: block;
            }
        }
    }
}