@import "../config/variables";
@import "../config/mixin";

.cp-box{
    display: flex;
    justify-content: flex-start;
    .title{
        font-size:1.6rem;
        font-family: $font-medium;
        color: $clr-base;
        padding-block: 1.6rem;
    }
    &.type-quntity{
        flex-wrap: wrap;
        justify-content: space-between;
        .title{
            width: 100%;
        }

    }
        .act-wrap{
            @media only screen and (max-width: $media-mobile) {
                position: sticky;
                top: 10px; /* Adjust as needed */
                z-index: 1;
            }
            
        }
    &.typ-durshine-pdp{
        justify-content: flex-end;
    }

    &.typ-calculate{
        border: 1px solid $clr-primary;
        @include border-radius(1.6rem);
        background: #ECF2FB;
        padding: 4rem 3.2rem;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 4rem;
        @media only screen and (max-width: $media-sm) {
            width: 100%;
            gap: 2rem;
        }
        .img-wrap,
        .cont-wrap{
            width: 47%;
            @media only screen and (max-width: $media-sm) {
                width: 100%;
            }
        }
        .img-wrap{
            width:55.5rem;
            height:34.2rem;
            @include border-radius(1.6rem);
            img{
                height: 100%;
                object-fit: contain;
            }
        }
    }
}