@import "../config/variables";
@import "../config/mixin";

.cp-box{
    display: flex;
    justify-content: flex-start;
    .title{
        font-size:1.6rem;
        font-family: $font-medium;
        color: $clr-base;
        padding-block: 1.6rem;
    }
    &.type-quntity{
        flex-wrap: wrap;
        justify-content: space-between;
        .title{
            width: 100%;
        }

    }
    .act-wrap{
        @media only screen and (max-width: $media-mobile) {
            position: sticky;
            top: 10px; /* Adjust as needed */
            z-index: 1;
        }
        
    }
    &.typ-durshine-pdp{
        justify-content: flex-end;
    }

    &.typ-calculate{
        border: 1px solid $clr-primary;
        @include border-radius(1.6rem);
        background: #ECF2FB;
        padding: 3.2rem 4rem;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 4rem;
        height: 100%;
        @media only screen and (max-width: $media-sm) {
            width: 100%;
            gap: 1.6rem;
        }
        .img-wrap,
        .cont-wrap{
            width: 47%;
            @media only screen and (max-width: $media-sm) {
                width: 100%;
            }
        }
        .img-wrap{
            width:55.5rem;
            height:34.2rem;
            @include border-radius(1.6rem);
            img{
                height: 100%;
                object-fit: contain;
            }
        }
    }
    &.typ-rebar{
        .img-wrap{
            width:55.5rem;
            height:25rem;
            @media only screen and (max-width: $media-sm) {
                height: 14rem;
            }
        }
        @media only screen and (max-width: $media-sm) {
            padding: 1.6rem;
            .sec-head{
                margin-bottom: 0;
                text-align: center;
                .sec-title{
                    color: #666666;
                    font-family: $font-medium;
                    font-size: 1.2rem;
                    line-height: 1.6rem;
                    text-align: center;
                    margin: 0;
                    width: 100%;
                }
            }
        }
    }

    &.typ-result{
        margin-bottom: 1.6rem;
        position: relative;
        border: 1px solid $clr-border;
        @include border-radius(1.2rem);
        padding: 1.6rem;
        gap: 1.2rem;
        align-items: center;
        @media only screen and (max-width: $media-mobile) {
            padding: 0.8rem 1.2rem;
        }
        .img-wrap{
            border-radius: 50%;
            width: 4.8rem;
            height: 4.8rem;
            background-color: #5A245A;
            @media only screen and (max-width: $media-mobile) {
                width: 3.2rem;
                height: 3.2rem;
            }
            .icon{
                color: $clr-root;
                font-size: 2.4rem;
                line-height: 4.8rem;
                display: flex;
                justify-content: center;
                @media only screen and (max-width: $media-mobile) {
                    font-size: 1.6rem;
                    line-height: 3.2rem;
                }
            }
        }
        .cont-wrap{
            padding-right: 3rem;
            width: 85%;
        }
        .title{
            font-size: 1.6rem;
            line-height: 2.4rem;
            margin-bottom: 0.4rem;
            color: #5A245A;
            padding: 0;
            font-family: $font-semiBold;
            @media only screen and (max-width: $media-mobile) {
                font-size: 1.4rem;
                line-height: 2rem;
                font-family: $font-regular;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                margin: 0;
            }
        }
        .desc{
            font-size: 1.6rem;
            line-height: 2.4rem;
            color: #5A245A;
            font-family: $font-regular;
            @media only screen and (max-width: $media-mobile) {
                display: none;
            }
        }
        .icon.icon-edit{
            position: absolute;
            top: 1.6rem;
            right: 1.6rem;
            font-size: 2.4rem;
            color: $clr-base;
        }
    }

    &.typ-price{
        padding: 1.6rem;
        position: relative;
        border: 1px solid $clr-border;
        @include border-radius(1.2rem);
        background-color: $clr-root;
        text-align: center;
        .cont-wrap{
            width: 100%;
        }
        .title{
            font-family: $font-semiBold;
            font-size: 2rem;
            line-height: 2.8rem;
            color: $clr-base;
            padding: 0;
            margin-bottom: 0.4rem;
        }
        .desc{
            font-family: $font-semiBold;
            font-size: 2.8rem;
            line-height: 4rem;
            color: $clr-base;
        }
    }

    &.bottom-notify{
        z-index: -1;
        position: relative;
        padding: 1.6rem;
        padding-top: 4rem;
        margin-top: -2rem;
        border: 1px solid #FFC633;
        background: #FFF8E5;
        @include border-radius(1.2rem);
        .img-wrap{
            border-radius: 50%;
            width: 3.6rem;
            height: 3.6rem;
            background-color: #FFC633;
            margin-right: 1.2rem;
            .icon{
                color: $clr-root;
                font-size: 2.4rem;
                line-height: 3.6rem;
                display: flex;
                justify-content: center;
            }
        }
        .cont-wrap{
            width: 85%;
        }
        .title{
            padding: 0;
            font-size: 1.2rem;
            line-height: 1.6rem;
            color: $clr-black;
        }
    }
}