@import "../config/variables";
@import "../config/mixin";

.cp-content-info {
    display: flex;
    border-radius: 16px;
    border: 1px solid $clr-border;
    overflow: hidden;

    @media only screen and (max-width: $media-mobile) {
        flex-wrap: wrap;
    }

    .img-wrap {
        width: 50%;

        @media only screen and (max-width: $media-mobile) {
            width: 100%;
        }
    }

    .cont-wrap {
        width: 50%;
        padding: 2.4rem;

        @media only screen and (max-width: $media-mobile) {
            width: 100%;
        }

        .lebal {
            background: $clr-bg;
            font-size: 1.2rem;
            font-family: $font-medium;
            color: $clr-base;
            display: inline-flex;
            padding: 0.5rem 1.2rem;
            justify-content: center;
        }

        .title {
            font-size: 2.8rem;
            font-family: $font-semiBold;
            color: $clr-base;
            line-height: 40px;
            margin: 1.6rem 0;

            @media only screen and (max-width: $media-mobile) {
                font-size: 1.6rem;
                margin: 0.8rem 0;
            }
        }

        .desc {
            font-size: 2rem;
            font-family: $font-medium;
            color: $clr-para;
            margin-bottom: 1.6rem;
            line-height: 28px;

            @media only screen and (max-width: $media-mobile) {
                margin-bottom: 0.8rem;
            }
        }
    }

    &.typ-struct-pdp {
        background-color: $clr-bg;
        padding: 1.6rem;
        border: 1px solid #B1CBF1;
        margin-bottom: 1.6rem;

        @media only screen and (max-width: $media-mobile) {
            flex-wrap: nowrap;
        }

        .img-wrap {
            border: 1px solid $clr-border;
            width: 6.4rem;
            height: 6.4rem;
            overflow: hidden;
            border-radius: 12px;
            background: $clr-root;
        }

        .cont-wrap {
            padding: 0 1.2rem;
            width: 100%;
        }

        .title {
            font-size: 1.6rem;
            font-family: $font-medium;
            margin: 0;
            line-height: 24px;
        }

        .desc {
            font-size: 1.4rem;
            font-family: $font-regular;
            margin-bottom: 0.8rem;
        }

        .list {
            display: flex;
            gap: 1.5rem;

            .list-item {
                font-size: 1.4rem;
                color: $clr-base;
                position: relative;

                &:nth-child(1) {
                    &::after {
                        content: '';
                        background: #999999;
                        position: absolute;
                        width: 1px;
                        height: 14px;
                        right: -7px;
                        top: 3px;
                    }
                }
            }
        }

        .act-wrap {
            display: flex;
            gap: 1.6rem;
            justify-content: flex-end;
        }
    }

    &.typ-paresh-pdp {
        background-color: #F3F4F6;
        padding: 7rem 1.6rem;
        border: 0;

        @media only screen and (max-width: $media-sm) {
            padding: 0;
            background-color: #ffffff;
            border-radius: 0;
        }

        .img-wrap {
            width: 54%;
            margin: auto;

            @media only screen and (max-width: $media-sm) {
                width: 100%;
            }
        }
    }

    .typ3-mobile {
        @media only screen and (max-width: $media-sm) {
            width: 50%;
        }
    }

    &.typ-about-brand {
        align-items: center;
        border: 0;
        border-radius: 0;

        .img-wrap {
            img {
                max-width: 524px;
            }
        }

        .cont-wrap {
            @media only screen and (max-width: $media-sm) {
                padding: 2.4rem 0 0;
            }

            .title {
                font-size: 4rem;
                margin-top: 0;
                margin-bottom: 2.4rem;

                @media only screen and (max-width: $media-sm) {
                    font-size: 2.4rem;
                }
            }

            .desc {
                font-size: 1.6rem;
                font-family: $font-regular;

                &:last-child {
                    margin-bottom: 0;
                }

                @media only screen and (max-width: $media-sm) {
                    margin-bottom: 2.4rem;
                }
            }
        }

    }

    &.typ-architech-plan {
        padding: 1.2rem;
        align-items: center;
        display: flex;
        gap: 1.2rem;
        overflow: hidden;
        margin-top: 12px;
        position: relative;

        .cont-wrap {
            width:  calc(100% - 6.8rem);
            padding: 0;

            .desc {
                font-size: 1.4rem;
                line-height: 2.4rem;
                color: $clr-base;
                margin-bottom: 0;
                font-family: $font-regular;
                .price{font-family: $font-semiBold;}
            }
            .cp-box{
                position: absolute;
                right: 12px;
                top: 12px;
                display: block;
                @media only screen and (max-width: $media-sm) {position: static; margin-bottom: 4px;}
            }
        }

        .img-wrap {
            width: 5.6rem;
            height: 5.6rem !important;
            flex: 0 0 5.6rem;
            @include border-radius (1.2rem);
            overflow: hidden;

            img {
                @include border-radius (0);
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

            &.typ-w-48 {
                width: 4.8rem;
                height: 4.8rem !important;
                flex: 0 0 4.8rem;
            }
        }

        .title {
            font-size: 1.6rem;
            font-family: "Poppins Medium";
            margin: 0;
            line-height: normal;
        }

        &.typ-blue-bg {
            background-color: #ECF2FB;
            border-color: #B1CBF1;
        }

        &.typ-align-start {
            align-items: flex-start;
        }
    }
}