@import "../config/variables";
@import "../config/mixin";

.cp-drawer {
    width: 50.5rem;
    height: 100%;
    position: fixed;
    top: 0;
    right: -999px;
    z-index: 9;
    background: $clr-root;
    padding: 2.4rem 3.2rem 2.4rem 2rem;
    @include transition(all, 0.8s, ease-in-out);
    overflow: hidden;
    overflow-y: auto;

    &.active {
        right: 0;
    }

    @media only screen and (max-width: $media-mobile) {
        width: 100%;
        height: 90vh;
        top: auto;
        right: 0;
        bottom: -999px;
        padding: 1.6rem 1.2rem 1.6rem 1.6rem;
        @include border-radius(2.4rem 2.4rem 0 0);

        &.active {
            bottom: 0;
            right: auto;
        }
    }

    .head-sec {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1.2rem 0;

        &.p-0 {
            padding: 0;
        }

        .drawer-title {
            font-family: $font-medium;
            font-size: 2.4rem;
            line-height: 3.2rem;
            color: $clr-base;

            @media only screen and (max-width: $media-mobile) {
                font-size: 1.6rem;
                line-height: 2.4rem;
            }

            &.typ-about {
                font-size: 1.6rem;
                max-width: 300px;
                line-height: 2.4rem;
            }
        }

        .icon.icon-close {
            position: absolute;
            top: 2.4rem;
            right: 3.2rem;
            font-size: 2.2rem;
            color: #999999;

            @media only screen and (max-width: $media-mobile) {
                right: 1.6rem;
            }
        }
    }

    &.typ-prod-detail {
        padding-top: 4rem;

        .cp-add-info-list {
            margin-bottom: 3.2rem;
        }

        .radio-wrap {
            gap: 1.2rem;
            justify-content: flex-start;

            .bs-radio {
                margin-bottom: 0;
            }
        }

        .cp-box.type-quntity {
            margin-top: 3.2rem;
        }
    }

    &.typ-drawer-login {
        .cont-wrap {
            .cont-phara {
                font-size: 1.4rem;
                line-height: 2rem;
                color: $clr-base;
                margin-bottom: 3.2rem;
            }

            .small-head {
                font-family: $font-semiBold;
                font-size: 1.4rem;
                line-height: 2rem;
                color: $clr-base;
            }

            .blue-text {
                color: #3D7EDB;
            }
        }

        .typ-privacy {
            .btn {
                min-width: 47%;
                border-color: #fff
            }
        }
    }

    &.typ-blog {
        padding-left: 0;
        padding-right: 0;

        .head-sec {
            border-bottom: 1px solid #dedede;
            padding-left: 2rem;
        }

        .act-wrap {
            background: $clr-root;
            padding: 1.2rem;
            display: flex;
            gap: 1.2rem;
            align-items: center;
            position: fixed;
            bottom: 0;

            @media only screen and (max-width: $media-mobile) {
                position: absolute;
            }

            .btn {
                min-width: 22.6rem;

                @media only screen and (max-width: $media-mobile) {
                    min-width: 16.3rem;
                }
            }
        }

        &.active {
            .act-wrap {
                position: fixed;
            }
        }
    }

    &.typ-help-policy {
        @media only screen and (max-width: $media-mobile) {
            padding: 1.6rem 0;
        }

        .head-sec {
            @media only screen and (max-width: $media-mobile) {
                margin: 0 1.6rem;
            }
        }

        .cp-tab {
            .tab-list {
                @media only screen and (max-width: $media-mobile) {
                    margin: 0 1.6rem;
                }
            }
        }
    }

    &.typ-offer {
        .head-sec {
            .drawer-title {
                font-family: $font-medium;
                font-size: 2.8rem;
                line-height: 3.2rem;
                color: #333333;

                @media only screen and (max-width: $media-mobile) {
                    font-size: 1.6rem;
                    line-height: 2.4rem;
                }
            }
        }

        .drawer-sub-title {
            font-family: $font-medium;
            font-size: 2.4rem;
            line-height: 3.2rem;
            color: #333333;

            @media only screen and (max-width: $media-mobile) {
                font-size: 1.6rem;
                line-height: 2.4rem;
            }
        }
    }

    &.typ-no-padding {
        padding-left: 0;
        padding-right: 0;
    }

    &.typ-border {
        .head-sec {
            border-bottom: 1px solid #dedede;
            padding: 0 2rem 1.6rem;
        }
    }

    &.typ-setback {
        padding-bottom: 0;

        .cont-sec {
            padding: 2rem;
            position: relative;

            .cont-title {
                font-family: $font-medium;
                font-size: 1.6rem;
                margin-bottom: 1.2rem;
                color: $clr-base;
            }

            .cont-desc {
                font-size: 1.2rem;
                line-height: 1.6rem;
            }

            .img-wrap {
                margin: 1.6rem 0;
            }

            .price-list-item {
                display: flex;
                align-items: center;
                font-size: 1.2rem;
                padding: 0.8rem 1.6rem;
                background: #FFF8E5;
                border: 1px solid #FFD466;
                color: #A77800;
                gap: 0.4rem;
                margin-top: 1.2rem;
                @include border-radius(1.2rem);

                .icon {
                    font-size: 2.4rem;
                    width: 2.4rem;
                    height: 2.4rem;
                }

                .desc {
                    color: #A77800;
                    font-size: 1.2rem;
                    line-height: 1.6rem;
                }
            }


        }

        .btn-wrap {
            position: sticky;
            bottom: 0;
            width: 100%;
            background: #fff;
            padding: 1.2rem 2rem 2.4rem;
            display: flex;
            gap: 2rem;

            .btn {
                min-width: 48%
            }
        }
    }

    &.typ-floor-plans {
        @media only screen and (max-width: $media-mobile) {
            height: 100%;
            @include border-radius(0)
        }
    }

    &.typ-sp-detail {
        padding: 2.4rem 3.2rem;

        @media only screen and (max-width: $media-mobile) {
            padding: 2.4rem 1.6rem;
        }

        .head-sec {
            padding: 0rem 0 2.4rem;

            .drawer-title {
                font-size: 2rem;
                font-family: $font-semiBold;
            }

            .location {
                display: flex;
                align-items: center;
                gap: 4px;
                font-size: 1.2rem;
                color: $clr-base;
                font-family: $font-medium;

                .icon {
                    font-size: 1.2rem;
                    color: $clr-base;
                }
            }
        }

    }

    &.typ-moodboard-preview {
        .head-sec {
            padding: 0rem 0 2rem;

            @media only screen and (max-width: $media-mobile) {
                padding: 1.2rem 0 1.2rem;
            }
        }
    }

    &.typ-home-story-pp {
        background-color: #F3F4F6;
        padding: 0;

        .head-sec {
            padding: 2.4rem;
            background-color: #fff;
        }

        .cont-wrap {
            height: calc(100% - 92px);
            padding: 2.4rem;
        }

        .cp-prod-thumb-slider {
            position: relative;
            height: calc(100% - 53px);
            @media only screen and (max-width: $media-mobile) {
            height: calc(100% - 29px);}
        }

        .home-story-container {
            height: 100%;
            display: flex;
            align-items: center;
        }

        .thumb-home-story-container {
            background: #fff;
            padding: 1.6rem;
            margin: 0 -2.4rem;
        }
    }
}