@import "../config/variables";
@import "../config/mixin";

.cp-dashboard-my-aashiyana {
    .head-wrap {
        margin-bottom: 3.2rem;
        display: flex;
        align-items: center;
        gap: 0.8rem;

        @media only screen and (max-width: $media-mobile) {
            border-bottom: 1px solid #DEDEDE;
            margin: 0 -1.6rem 3.2rem;
            padding: 0 1.6rem 2.4rem;
        }

        .icon {
            font-size: 3.2rem;
            width: 5.6rem;
            height: 5.6rem;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #ECF2FB;
            color: #3D7EDB;
            @include border-radius(50%);

            @media only screen and (max-width: $media-mobile) {
                font-size: 1.6rem;
                width: 3.2rem;
                height: 3.2rem;
            }
        }

        .title {
            font-size: 2.8rem;
            color: $clr-base;
            font-family: $font-semiBold;

            @media only screen and (max-width: $media-mobile) {
                font-size: 1.6rem;
            }
        }
    }

    .project-detail-wrap {
        border: 1px solid #DEDEDE;
        padding: 4rem;
        @include border-radius(1.6rem);
        overflow: hidden;
        padding: 2.4rem;

        @media only screen and (max-width: $media-mobile) {
            border: 0;
            padding: 0;
            @include border-radius(0);
        }

        .sub-title {
            font-size: 2rem;
            color: $clr-base;
            font-family: $font-semiBold;
            margin-bottom: 1.6rem;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        .typ-bold {
            font-family: $font-semiBold;
            font-size: 1.6rem;
            color: $clr-base;
            margin-bottom: 1.6rem;
        }

        .cont-sec {
            margin-bottom: 4.8rem;

            @media only screen and (max-width: $media-mobile) {
                margin-bottom: 3.2rem;
            }

            &:last-child {
                margin-bottom: 0;
            }
        }

        .typ-w-680 {
            max-width: 68rem;
        }

        .mb-16 {
            margin-bottom: 1.6rem;
        }

        .typ-con-stage {
            display: flex;
            flex-wrap: wrap;
            gap: 1.6rem;

            @media only screen and (max-width: $media-mobile) {
                flex-direction: column;
            }
        }

        .typ-stage {
            margin-bottom: 0;
            width: calc(50% - 0.8rem);

            @media only screen and (max-width: $media-mobile) {
                width: 100%;
            }

            .custom-radio {
                width: 100%;
                flex-direction: row;
                gap: 10px;
                padding: 1.2rem;

                .icon {
                    width: 4rem;
                    height: 4rem;
                    font-size: 2.4rem;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: 0.8rem;
                    background: #fff;
                    border-radius: 50%;
                    flex: 0 0 4rem;

                    &.blue {
                        background: #ECF2FB;
                        color: #3D7EDB;
                    }

                    &.orange {
                        background: #FFF8E5;
                        color: #FFB800;
                    }

                    &.red {
                        background: #FAE6EA;
                        color: #D2042D;
                    }

                    &.green {
                        background: #E5F6EC;
                        color: #00A441;
                    }
                }

                span:last-child {
                    flex: 0 0 calc(100% - 5rem);
                }

            }

            input[type="radio"]:checked+.custom-radio {
                font-family: $font-medium;
                color: $clr-base;
            }

            &.typ-buisness {
                .custom-radio {
                    position: relative;
                    font-family: $font-medium;
                    font-size: 1.4rem;
                    color: $clr-base;

                    .small-text {
                        display: block;
                        font-family: $font-regular;
                        font-size: 1.2rem;
                        color: #666666;
                    }

                }

                .checkmark {
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    right: 1.6rem;
                    height: 2rem;
                    width: 2rem;
                    background-color: rgba(0, 0, 0, 0);
                    border-radius: 50%;
                    border: 2px solid #999999;
                    transition: all 0.3s;
                }

                .checkmark::after {
                    content: "";
                    position: absolute;
                    display: none;
                }

                .checkmark::after {
                    top: 3px;
                    left: 3px;
                    width: 1.1rem;
                    height: 1.1rem;
                    border-radius: 50%;
                    background: #3D7EDB;
                }

                input[type="radio"]:checked+.custom-radio .checkmark::after {
                    display: block;
                }

            }
        }

        .typ-size {
            display: flex;
            gap: 1.2rem;
            flex-wrap: wrap;
            margin-bottom: 2.4rem;

            .bs-radio {
                margin-bottom: 0;

                .custom-radio {
                    min-width: auto;
                    padding: 1.2rem 1.6rem;
                }

                &.col-3 {
                    width: 31.4%;

                    @media only screen and (max-width: $media-mobile) {
                        width: 30.5%;
                    }
                }
            }

            &.typ-login {
                .bs-radio {
                    .custom-radio {
                        min-width: 7.6rem;

                        @media only screen and (max-width: $media-mobile) {
                            min-width: 7.4rem;
                        }
                    }
                }
            }


        }

        .range-main {
            display: block;
            padding: 0 1.1rem 0 0;

            @media only screen and (max-width: $media-mobile) {
                padding: 0 1.5rem 0 0;
            }

            .range {
                position: relative;
                width: 100%;
                height: 5px;

                input {
                    width: 100%;
                    position: absolute;
                    top: 2px;
                    height: 0;
                    -webkit-appearance: none;
                }

                input::-webkit-slider-thumb {
                    -webkit-appearance: none;
                    width: 4.2rem;
                    height: 4.4rem;
                    margin: -1rem 0 0;
                    border-radius: 50%;
                    background-image: url('../../components/cp-login/image/home-icon.svg');
                    background-size: contain;
                    background-position: center center;
                    background-repeat: no-repeat;
                    cursor: pointer;
                    border: 0 !important;
                }


                input::-moz-range-thumb {
                    width: 4.2rem;
                    height: 4.4rem;
                    margin: -1rem 0 0;
                    border-radius: 50%;
                    background-image: url('../../components/cp-login/image/home-icon.svg');
                    background-size: contain;
                    background-position: center center;
                    background-repeat: no-repeat;
                    cursor: pointer;
                    border: 0 !important;
                }

                input::-ms-thumb {
                    width: 4.2rem;
                    height: 4.4rem;
                    margin: -8px 0 0 -8px;
                    border-radius: 50%;
                    background-image: url('../../components/cp-login/image/home-icon.svg');
                    background-size: contain;
                    background-position: center center;
                    background-repeat: no-repeat;
                    cursor: pointer;
                    border: 0 !important;
                }

                input::-webkit-slider-runnable-track {
                    width: 100%;
                    height: 1.2rem;
                    cursor: pointer;
                    background: #DEDEDE;
                    border-radius: 1.2rem;
                }

                input::-moz-range-track {
                    width: 100%;
                    height: 2px;
                    cursor: pointer;
                    background: #b2b2b2;
                }

                input::-ms-track {
                    width: 100%;
                    height: 2px;
                    cursor: pointer;
                    background: #b2b2b2;
                }

                input:focus {
                    background: none;
                    outline: none;
                }

                .range input::-ms-track {
                    width: 100%;
                    cursor: pointer;
                    background: transparent;
                    border-color: transparent;
                    color: transparent;
                }


            }

            .range-labels {
                margin: 18px -50px 0;
                padding: 0;
                list-style: none;
                display: flex;

                @media only screen and (max-width: $media-mobile) {
                    margin: 18px -19px 0;
                }

                li {
                    position: relative;
                    width: 25%;
                    text-align: center;
                    color: #999999;
                    font-size: 14px;
                    cursor: pointer;
                    font-family: $font-semiBold;

                    // @media only screen and (max-width: $media-mobile) {
                    //     width: 75.25px;
                    // }
                }

                .active {
                    color: $clr-base;
                    font-size: 3.6rem;

                    @media only screen and (max-width: $media-mobile) {
                        font-size: 2rem;
                    }
                }

                .selected::before {
                    background: $clr-base;
                }

                .active.selected::before {
                    display: none;
                }

            }

        }

        .upload-file-area {
            .desc {
                max-width: 317px;
                margin: auto;
            }
        }

        .file-upload {
            margin-bottom: 0;
        }

        .typ-aashiyana {
            display: flex;
            align-items: center;
            justify-content: end;
            gap: 1.2rem;

            @media only screen and (max-width: $media-mobile) {
                justify-content: center;
            }

            .btn {
                @media only screen and (max-width: $media-mobile) {
                    min-width: 48%;
                }
            }
        }
    }

    .profile-details-wrap {
        margin-top: 1.6rem;

        .details-list {
            display: flex;
            align-items: center;
            border-bottom: 1px solid #DEDEDE;
            padding: 1.6rem 0;
            justify-content: space-between;
            flex-wrap: wrap;

            .label {
                color: #666666;
                font-size: 1.4rem;
            }

            .detail {
                color: $clr-base;
                font-family: $font-medium;
                font-size: 1.6rem;
                display: block;
            }

            .icon {
                font-size: 1.6rem;
                color: #3D7EDB;
                cursor: pointer;
            }

            .username {
                font-size: 2rem;
                font-family: $font-bold;
                margin-left: auto;
                color: $clr-base;
            }
        }

        .form-wrap {
            width: 100%;
            padding: 24px 0;
        }

        .form-head {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 2.4rem;

            .title {
                font-size: 2rem;
                font-family: $font-semiBold;
                color: $clr-base;
            }

        }


        .sub-title {
            font-family: $font-semiBold;
            font-size: 1.6rem;
            color: $clr-base;
            margin-bottom: 1.6rem;
        }


        .border-0 {
            border-bottom: 0 !important;
        }

        .text-center-align {
            justify-content: center;
        }

        .update-btn {
            min-width: 100%;
        }
    }

    .drawer-head {
        border-bottom: 1px solid #cccc;
        margin: 0 -2.4rem;
        padding: 1.2rem 2rem;
    }

    .form-control {
        font-family: $font-medium;
    }

    .form-desc {
        font-size: 1rem;
        color: $clr-base;
        display: block;
        margin-top: 5px;
        font-family: $font-regular;
    }

    .successful-msg {
        background: #E5F6EC;
        border-radius: 0.8rem;
        border: 1px solid #66C88D;
        display: flex;
        max-width: 34.8rem;
        margin: 0 auto 1.2rem;
        padding: 1rem;
        font-size: 1.4rem;
        font-family: $font-medium;
        color: #00A441;
        gap: 1rem;
        position: absolute;
        left: 0;
        right: 0;

        .icon {
            font-size: 2.4rem;
        }
    }

    .otp-form {
        .otp-head {
            margin-bottom: 2.4rem;

            .otp-title {
                font-size: 2.8rem;
                font-family: $font-semiBold;
                color: $clr-base;
                margin-bottom: 1.6rem;
            }

            .desc {
                font-size: 1.4rem;
                color: #666666;
                line-height: 2rem;
            }

            .dark-text {
                color: $clr-base;
                font-family: $font-medium;
            }
        }
    }

    .otp-form-wrap {
        .form-group {
            display: flex;
            flex-direction: column;
            position: relative;
            margin-bottom: 2.4rem;

            .otp-wrap {
                display: flex;
                justify-content: space-between;
                margin-bottom: 1rem;
                gap: 0.5rem;

                .form-input {
                    @include border-radius(1.2rem);
                    border: 1px solid #dedede;
                    font-size: 1.6rem;
                    font-family: "Poppins Medium";
                    color: #333333;
                    padding: 1rem;
                    width: 7.5rem;
                    height: 6.4rem;
                    text-align: center;

                    @media only screen and (max-width: $media-mobile) {
                        width: 6rem;
                    }

                    /* Chrome, Safari, Edge, Opera */
                    &::-webkit-outer-spin-button,
                    &::-webkit-inner-spin-button {
                        -webkit-appearance: none;
                        margin: 0;
                    }
                }

                /* Firefox */
                input[type=number] {
                    -moz-appearance: textfield;
                }


            }
        }

        .bottom-sec {
            display: flex;
            justify-content: center;
            gap: 0.8rem;
            margin-bottom: 1.6rem;
            margin-top: 1.6rem;

            @media only screen and (max-width: $media-mobile) {
                margin-bottom: 0.8rem;
            }

            .otp-timer {
                font-size: 1.4rem;
                font-family: $font-regular;
                color: #EE4400;
            }

            .otp-txt-msg {
                font-size: 1.4rem;
            }

            .re-send-link {
                color: #B3B3B3;
                font-family: $font-medium;
                font-size: 1.4rem;
                border-bottom: 1px solid #B3B3B3;
                padding: 0;
            }

        }

        .valid-message {
            font-size: 1.4rem;
            color: $clr-base;
            font-family: $font-medium;
            text-align: center;
        }
    }

    .delete-profile-wrap {
        text-align: center;
        padding-top: 3.2rem;

        .title {
            font-family: $font-semiBold;
            font-size: 1.6rem;
            color: $clr-base;
            margin-bottom: 1.6rem;
        }

        .desc {
            color: $clr-base;
            font-size: 1.4rem;
            margin-bottom: 1.6rem;
        }

        .btn-wrap {
            margin-top: 20px;
        }
    }
}