@import "../config/variables";
@import "../config/mixin";

.cp-eCommerce-home-banner {
    position: relative;
    background: #F3F4F6;
    padding: 5.6rem 0;

    @media only screen and (max-width: 768px) {
        padding: 2.4rem 0 1.2rem;
    }

    .banner-title {
        font-size: 4rem;
        line-height: 5.2rem;
        font-family: $font-semiBold;
        color: $clr-base;
        margin-bottom: 2rem;

        @media only screen and (max-width: $media-mobile) {
            font-size: 2.4rem;
            line-height: 3.2rem;
            margin-bottom: 1.6rem;
        }
    }

    .container {
        position: relative;
    }

    .feature,
    .feature-type-2 {
        display: flex;
        gap: 2rem;

        &.swiper-wrapper {
            gap: 0;
        }

        @media only screen and (max-width: 768px) {
            gap: 0rem;
        }

        .feature-item {
            width: 25%;
            /* Adjust width to account for 20px gutter */
            height: 14rem;
            overflow: hidden;
            display: flex;
            margin: 0;

            &:nth-child(1) {
                order: 1;
            }

            //REBARS
            &:nth-child(2) {
                order: 2;
            }

            //Hand
            &:nth-child(3) {
                order: 3;
            }

            //DOORS
            &:nth-child(4) {
                order: 4;
            }

            //BRICKS
            &:nth-child(5) {
                order: 5;
            }

            //ROOF
            &:nth-child(6) {
                order: 6;
            }

            //GARDENING
            &:nth-child(7) {
                order: 7;
            }

            //FENCING
            &:nth-child(8) {
                order: 8;
            }

            //HOLLOW
            &:nth-child(9) {
                order: 9;
            }

            //HOMES
            &:nth-child(10) {
                order: 10;
            }

            //SOIL
            @media only screen and (max-width: 768px) {
                width: 48%;
                height: 9.2rem;
                // display: block;
                order: initial;
                margin-bottom: 1.2rem;
            }

            &.typ-resized {
                @media only screen and (max-width: 768px) {
                    height: 13rem;
                }

                .feature-card {
                    .f-img {
                        max-width: 14.3rem;
                        max-height: 13.6rem;

                        @media only screen and (max-width: $media-mobile) {
                            max-width: 8rem;
                            max-height: 8rem;
                        }
                    }
                }
            }
        }

        .grid-sizer {
            width: 31%;
            height: 11rem;
            display: none;
            order: 0;

            @media only screen and (max-width: 768px) {
                display: block;
                width: 48%;
                height: 9.2rem;
            }
        }

        &.typ-architech-confidence {
            .feature-item {
                &:nth-child(1) {
                    order: 4;

                    @media only screen and (max-width: 768px) {
                        width: 100%;
                    }
                }

                &:nth-child(6) {
                    order: 3;
                }

            }
        }
    }

    .feature-card {
        border: 1px solid $clr-border;
        background: $clr-root;
        padding: 1.2rem;
        @include border-radius(1.6rem);
        @include transition(all, 2s, linear);
        position: relative;
        display: block;
        width: 100%;
        height: 100%;
        overflow: hidden;

        @media only screen and (max-width: $media-mobile) {
            padding: 1rem;
        }

        &:hover,
        &.active {
            box-shadow: 0px 8px 24px 0px #00000014;
            border: 2px solid $clr-border
        }

        .f-title {
            font-family: $font-semiBold;
            font-size: 1.4rem;
            line-height: 2rem;
            color: $clr-base;
            max-width: 75%;
            position: relative;
            z-index: 1;
            text-transform: uppercase;

            @media only screen and (max-width: $media-mobile) {
                font-size: 1.6rem;
                line-height: 2.4rem;
            }
        }

        .f-desc {
            font-family: $font-regular;
            font-size: 1.2rem;
            line-height: 1.6rem;
            color: $clr-para;
            margin-bottom: 0.6rem;
            max-width: 65%;
            z-index: 1;
            position: relative;
        }

        .f-offer {
            background: $clr-secondary;
            padding: .2rem 0.8rem;
            color: $clr-root;
            font-family: $font-medium;
            font-size: 1rem;
            line-height: 1.2rem;
            @include border-radius(2.6rem);
        }

        .f-img {
            position: absolute;
            bottom: 0;
            right: 0;
            max-width: 10rem;
            max-height: 10rem;

            @media only screen and (max-width: $media-mobile) {
                max-width: 8rem;
                max-height: 8rem;
            }

            img {
                object-fit: contain;
            }
        }
    }

    &.typ-color-change {
        background: $clr-root;
        padding: 0;

        .feature-item {
            overflow: hidden;

            @media only screen and (max-width: $media-mobile) {
                height: 9.2rem;
            }

            .feature-card {
                border: 0;

                .f-title {

                    line-height: 2rem;
                }
            }

            .f-img {
                z-index: 2;

                &:after {
                    background: #99DAB3;
                    width: 11.3rem;
                    height: 11.3rem;
                    border-radius: 50%;
                    position: absolute;
                    right: -10px;
                    bottom: -31px;
                    content: '';
                    opacity: 0.3;
                    z-index: -1;
                }
            }

            &:nth-child(1) {
                .feature-card {
                    background: #E5F6EC;
                }
            }

            &:nth-child(2) {
                .feature-card {
                    background: #FFF8E5;

                    .f-img {
                        &::after {
                            background: #FFE399;
                        }
                    }

                }
            }

            &:nth-child(3) {

                .feature-card {
                    background: #FAE6EA;

                    .f-img {
                        &::after {
                            background: #ED9BAB;
                        }
                    }
                }
            }

            &:nth-child(4) {

                .feature-card {
                    background: #ECF2FB;

                    .f-img {
                        &::after {
                            background: #B1CBF1;

                        }
                    }
                }
            }

            &:nth-child(5) {

                .feature-card {
                    background: #FDECE5;

                    .f-img {
                        &::after {
                            background: #F8B499;


                        }
                    }
                }
            }

            &:nth-child(6) {

                .feature-card {
                    background: #F3F4F6;

                    .f-img {
                        &::after {
                            background: #CCCCCC;
                        }
                    }
                }
            }

            &.typ-resize {
                .feature-card {
                    .f-img {
                        max-width: 9rem;
                        max-height: 9rem;

                        &::after {
                            bottom: -6px;
                        }
                    }
                }


            }

            &:nth-child(1) {
                order: 1;
            }

            //TRADE HAND TOOL
            &:nth-child(2) {
                order: 1;
            }

            //DIY TOOL KITS
            &:nth-child(3) {
                order: 4;
            }

            //AGRI TOOL
            &:nth-child(4) {
                order: 3;
            }

            //FILLING TOOL
            &:nth-child(5) {
                order: 5;
            }

            //GARDEN TOOL
            &:nth-child(6) {
                order: 6;
            }

            //INDUSTRIAL & HARDWARE

        }
    }

    &.typ-wiron {
        .feature-item {
            &:nth-child(6) {
                width: 100%;

                .feature-card {
                    background: #F3F4F6;

                    .f-img {
                        &::after {
                            background: #CCCCCC;
                        }
                    }
                }
            }
        }

        .act-wrap {
            margin-top: 2rem;
            text-align: center;
        }
    }

    &.typ-select {
        .feature {
            @media only screen and (max-width: $media-mobile) {
                gap: 1.2rem;
            }
        }

        .feature-item {
            width: 19.1rem;
            height: 14.0rem;

            @media only screen and (max-width: $media-mobile) {
                width: 16.6rem;
                height: 13.0rem;
                gap: 1.2rem;
            }

            .f-img {
                width: 18.8rem;
                height: 97.2rem;
            }

            .feature-card {
                .f-title {
                    max-width: 77%;
                }
            }

            &:nth-child(1) {
                .feature-card {
                    background-color: #FFF8E5;

                    &.active {
                        border: 3px solid #FFB800;

                        .icon {
                            color: #FFB800;
                        }
                    }
                }

                .f-img {
                    &::after {
                        background-color: #FFE399;
                    }
                }
            }

            &:nth-child(2) {
                .feature-card {
                    background-color: #E5F6EC;

                    .f-img {
                        &::after {
                            background-color: #99DAB3;
                        }
                    }

                    &.active {
                        border: 3px solid #33B667;

                        .icon {
                            color: #33B667;
                        }
                    }

                }

                .f-img {
                    &::after {
                        background-color: #99DAB3;
                    }
                }
            }

            &:nth-child(3) {
                @media only screen and (max-width: $media-mobile) {
                    width: 100%;
                    height: 9.2rem;
                }

                .feature-card {
                    background-color: #F3F4F6;

                    .f-img {
                        &::after {
                            background: #CCCCCC;
                        }
                    }

                    &.active {
                        border: 3px solid #808080;

                        .icon {
                            color: #808080;
                        }
                    }

                }

                .f-img {
                    &::after {
                        background-color: #99DAB3;
                    }
                }
            }

            .active {
                .f-title {
                    padding-left: 2.5rem;
                }

                .icon {
                    position: absolute;
                    font-size: 2rem;
                    left: 1.1rem;
                    top: 1rem;
                }

            }
        }
    }

    &.typ-durashine {
        .view-btn {
            position: absolute;
            right: 0;
            top: 20px;

            @media only screen and (max-width: $media-mobile) {
                left: 0;
                right: 0;
                width: 34%;
                margin: 0 auto;
                top: auto;
                bottom: -23px;
            }
        }
    }

    &.typ-pravesh {
        .typ-feature-banner {
            padding-bottom: 0;
        }

        .feature-item {
            width: 15%;
            order: initial !important;

            @media only screen and (max-width: $media-mobile) {
                width: 48%;
            }

            &:nth-child(3) {
                .feature-card {
                    background-color: $clr-bg;

                    .f-img {
                        &::after {
                            background-color: #B1CBF1;
                        }
                    }

                }
            }
        }
    }

    &.typ-offer {
        .feature {
            flex-wrap: wrap;

            .feature-item {
                width: 15%;
                order: initial;

                @media only screen and (max-width: $media-mobile) {
                    width: 48%;
                }

                .f-title {
                    margin-bottom: 0.8rem;
                }

                .feature-card {
                    .f-offer {
                        position: relative;
                        z-index: 3;
                    }
                }

                &:nth-child(1) {
                    .feature-card {
                        background-color: #ECF2FB;

                        .f-img {
                            &::after {
                                background-color: #B1CBF1;
                            }
                        }

                    }

                }

                &:nth-child(2) {
                    .feature-card {
                        background-color: #EEE9EE;

                        .f-img {
                            &::after {
                                background-color: #BDA7BD;
                            }
                        }

                    }

                }

                &:nth-child(3) {
                    .feature-card {
                        background-color: #FAE6EA;

                        .f-img {
                            &::after {
                                background-color: #ED9BAB;
                            }
                        }

                    }

                }

                &:nth-child(4) {
                    .feature-card {
                        background-color: #FFF8E5;

                        .f-img {
                            &::after {
                                background-color: #FFD466;
                            }
                        }

                    }

                }

                &:nth-child(5) {
                    .feature-card {
                        background-color: #E5F6EC;

                        .f-img {
                            &::after {
                                background-color: #99DAB3;
                            }
                        }

                    }

                }

                &:nth-child(6) {
                    .feature-card {
                        background-color: #FAE6EA;

                        .f-img {
                            &::after {
                                background-color: #ED9BAB;
                            }
                        }

                    }

                }

                &:nth-child(7) {
                    .feature-card {
                        background-color: #ECF2FB;

                        .f-img {
                            &::after {
                                background-color: #B1CBF1;
                            }
                        }

                    }

                }

                &:nth-child(8) {
                    .feature-card {
                        background-color: #F3F4F6;

                        .f-img {
                            &::after {
                                background-color: #CCCCCC;
                            }
                        }

                    }

                }
            }
        }
    }

    &.typ-sub-menu {
        display: flex;
        flex-direction: row;
    }

    &.typ-header {
        padding: 0;
        background: $clr-root;

        @media only screen and (max-width: $media-mobile) {
            display: none;
        }

        .feature {
            // flex-wrap: wrap;
            overflow-x: scroll;
            width: 100%;

            .feature-item {
                width: 14%;
                height: 9.6rem;
                order: initial;

                @media only screen and (max-width: $media-mobile) {
                    width: 48%;
                    display: none;
                }

            }

            .feature-card {
                &.typ-2 {
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-end;

                    .f-img {
                        width: 8.5rem;
                        height: 8.5rem;
                        top: 0;
                        bottom: auto;
                    }

                    .f-title {
                        font-size: 1.4rem;
                        line-height: 2rem;
                        font-family: $font-regular;
                    }

                    .f-desc {
                        margin-bottom: 0;
                        font-size: 1.6rem;
                        line-height: 2.4rem;
                        font-family: $font-semiBold;
                    }
                }

                &.typ-purple {
                    border: 1px solid #5A245A;
                    background: #5A245A;

                    .f-title,
                    .f-desc {
                        color: $clr-root;
                    }
                }
            }
        }

        .grid-sizer {
            display: none;
        }

        &.typ-2 {
            .feature {
                flex-direction: column;
                width: 100%;

                @media only screen and (max-width: $media-mobile) {
                    flex-direction: row;
                    justify-content: space-between;
                }

                .feature-item {
                    width: 14.1rem;
                    height: 11.6rem;
                    order: initial;
                }
            }
        }
    }

    &.typ-calculate {
        padding: 0;
        background: transparent;

        .feature {
            @media only screen and (max-width: $media-mobile) {
                flex-wrap: wrap;
                gap: 1.3rem;
            }

            .feature-card {
                background: $clr-root;

                .f-img {
                    z-index: 2;

                    &:after {
                        width: 11.3rem;
                        height: 11.3rem;
                        border-radius: 50%;
                        position: absolute;
                        right: -10px;
                        bottom: -31px;
                        content: '';
                        opacity: 0.3;
                        z-index: -1;

                        @media only screen and (max-width: $media-mobile) {
                            width: 9rem;
                            height: 9rem;
                            border-radius: 50%;
                            position: absolute;
                            right: -1.2rem;
                            bottom: -1.5rem;
                            content: "";
                            opacity: 0.3;
                            z-index: -1;
                        }
                    }

                    @media only screen and (max-width: $media-mobile) {
                        max-width: 6rem;
                        max-height: 6rem;
                    }
                }
            }

            .feature-item {
                width: 19.1rem;

                @media only screen and (max-width: 768px) {
                    width: 48%;
                    height: 13rem;
                    order: initial;
                }

                &:nth-child(1) {
                    .feature-card {
                        .f-img {
                            &::after {
                                background: #B1CBF1;
                            }
                        }
                    }
                }

                &:nth-child(2) {
                    .feature-card {
                        .f-img {
                            &::after {
                                background: #FFD466;
                            }
                        }
                    }
                }

                &:nth-child(3) {
                    .feature-card {
                        .f-img {
                            &::after {
                                background: #CCEDD9;
                            }
                        }
                    }
                }

                &:nth-child(4) {
                    .feature-card {
                        .f-img {
                            &::after {
                                background: #ED9BAB;
                            }
                        }
                    }
                }
            }
        }
    }

    &.typ-help-support {
        .typ-feature-banner {
            padding-bottom: 0;

            @media only screen and (max-width: $media-mobile) {
                margin-right: 0;
            }
        }

        .feature-item {
            order: initial !important;
            height: 18rem;

            @media only screen and (max-width: $media-mobile) {
                height: 16rem;
            }

            .feature-card {
                .f-title {
                    @media only screen and (max-width: $media-mobile) {
                        font-size: 1.4rem;
                    }
                }

                .f-img {
                    min-width: 9rem;
                    min-height: 9.5rem;
                    align-items: center;
                    display: flex;
                    justify-content: center;

                    &:after {
                        width: 11.6rem;
                        height: 11.6rem;
                        right: -15px;
                        bottom: -15px;
                    }

                    .icon {
                        font-size: 5.6rem;
                        width: 5.6rem;
                        height: 5.6rem;
                    }
                }
            }

            &:nth-child(1) {
                .feature-card {
                    background-color: #E5F6EC;

                    .f-img {
                        &::after {
                            background-color: #99DAB3;
                        }

                        .icon {
                            color: #00A441;
                        }
                    }

                }

            }

            &:nth-child(2) {
                .feature-card {
                    background-color: #FFF8E5;

                    .f-img {
                        &::after {
                            background-color: #FFE399;
                        }

                        .icon {
                            color: #FFB800;
                        }
                    }

                }

            }

            &:nth-child(3) {
                .feature-card {
                    background-color: #FAE6EA;

                    .f-img {
                        &::after {
                            background-color: #ED9BAB;
                        }

                        .icon {
                            color: #DB3657;
                        }
                    }

                }

            }

            &:nth-child(4) {
                .feature-card {
                    background-color: #ECF2FB;

                    .f-img {
                        &::after {
                            background-color: #B1CBF1;
                        }

                        .icon {
                            color: #3D7EDB;
                        }
                    }

                }

            }

        }

        .feature-type-2 {

            gap: 1.2rem;

            @media only screen and (max-width: $media-mobile) {
                flex-wrap: wrap;
            }

            &.typ-policies {
                @media only screen and (max-width: $media-mobile) {
                    gap: initial;
                    flex-wrap: initial;
                }
            }
        }
    }

    &.typ-architectual-plan {
        // background-color: transparent;
        // padding: 4rem 0;

        .feature {
            .feature-item {
                order: initial;
                width: 33%;
                height: 22.8rem;

                @media only screen and (max-width: $media-mobile) {
                    width: 48%;
                }

                .feature-card {
                    padding: 4rem 2.4rem;

                    &.cp-notify {
                        .f-title {
                            @media only screen and (max-width: $media-mobile) {
                                // font-size: 2.8rem;
                            }
                        }

                        .f-title,
                        .f-desc {
                            color: #fff;
                        }

                        .f-img {
                            top: 56px;
                            right: 38px;

                            @media only screen and (max-width: $media-mobile) {
                                top: 2px;
                            }

                            &.notify-icon {
                                opacity: 60%;
                            }

                            &::after {
                                content: none;
                            }
                        }

                    }

                    .btn-wrap {
                        position: absolute;
                        bottom: 20px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        min-height: 48px;

                        @media only screen and (max-width: $media-mobile) {
                            bottom: 10px;
                        }
                    }
                }

                .f-title {
                    text-transform: capitalize;
                    font-size: 2.8rem;
                    max-width: 18.7rem;
                    line-height: 4rem;
                    margin-bottom: 1.2rem;

                    @media only screen and (max-width: $media-mobile) {
                        font-size: 2rem;
                        line-height: 2.8rem;
                    }
                }

                .f-desc {
                    font-size: 2rem;

                    @media only screen and (max-width: $media-mobile) {
                        font-size: 1.4rem;
                    }
                }

                .f-img {
                    position: absolute;
                    top: 0;
                    bottom: auto;
                    right: 0;
                    width: 14.7rem;
                    height: 14.7rem;
                    z-index: 1;

                    &::after {
                        background: #E5F6EC;
                        width: 14.7rem;
                        height: 14.7rem;
                        border-radius: 50%;
                        position: absolute;
                        right: -28px;
                        top: -23px;
                        content: '';
                        opacity: 1;
                        z-index: -1;

                        @media only screen and (max-width: $media-mobile) {
                            width: 11.7rem;
                            height: 11.7rem;
                        }
                    }
                }

                &:nth-child(1) {
                    .feature-card {
                        @media only screen and (max-width: $media-mobile) {
                            padding: 9.5rem 1.2rem 2.4rem;
                        }
                    }
                }

                &:nth-child(2) {
                    .feature-card {
                        @media only screen and (max-width: $media-mobile) {
                            padding: 9.5rem 1.2rem 2.4rem;
                        }

                        .f-img {
                            &::after {
                                background-color: #FDECE5;
                            }
                        }

                    }

                }

                &:nth-child(3) {
                    @media only screen and (max-width: $media-mobile) {
                        width: 100%;
                        height: 16.8rem;
                    }

                    .feature-card {
                        @media only screen and (max-width: $media-mobile) {
                            padding: 2.4rem 1.2rem 2.4rem;
                        }
                    }
                }
            }

            &.typ-archit-col-2 {
                .feature-item {
                    width: 50%;
                }
            }
        }
    }

    //   this section added for Estimated building cost - calculator result  start
    &.typ-calculator-result {
        .feature-type-2 {
            gap: 2rem;
            flex-wrap: wrap;

            @media only screen and (max-width: $media-mobile) {
                gap: 1.2rem;
            }
        }

        .feature-item {
            order: initial !important;
            height: 13rem;
            width: 23.1%;

            @media only screen and (max-width: $media-mobile) {
                width: 48.2%;
            }

            .feature-card {
                .f-title {
                    font-size: 2rem;
                    text-transform: capitalize;

                    @media only screen and (max-width: $media-mobile) {
                        font-size: 1.4rem;
                    }
                }

                .f-desc {
                    font-size: 1.4rem;
                    font-family: $font-medium;
                    max-width: 100%;
                    color: #666666;
                }

                .f-img {
                    min-width: 9rem;
                    min-height: 9.5rem;
                    align-items: center;
                    display: flex;
                    justify-content: center;

                    &:after {
                        width: 10rem;
                        height: 10rem;
                        right: -15px;
                        bottom: -15px;
                    }

                    .icon {
                        font-size: 5.6rem;
                        width: 4.6rem;
                        height: 3.6rem;
                    }
                }
            }

            &:nth-child(1) {
                .feature-card {
                    background-color: #FDECE5;

                    .f-img {
                        &::after {
                            background-color: #F8B499;
                        }

                        .icon {
                            color: #F58F66;
                        }
                    }

                }

            }

            &:nth-child(2) {
                .feature-card {
                    background-color: #ECF2FB;

                    .f-img {
                        &::after {
                            background-color: #B1CBF1;
                        }

                        .icon {
                            color: #6498E2;
                        }
                    }

                }

            }

            &:nth-child(3) {
                .feature-card {
                    background-color: #E5F6EC;

                    .f-img {
                        &::after {
                            background-color: #99DAB3;
                        }

                        .icon {
                            color: #33B667;
                        }
                    }

                }

            }

            &:nth-child(4) {
                .feature-card {
                    background-color: #FFF8E5;

                    .f-img {
                        &::after {
                            background-color: #FFD466;
                        }

                        .icon {
                            color: #FFC633;
                        }
                    }

                }

            }

            &:nth-child(5) {
                .feature-card {
                    background-color: #FAE6EA;

                    .f-img {
                        &::after {
                            background-color: #ED9BAB;
                        }

                        .icon {
                            color: #E46881;
                        }
                    }

                }

            }

            &:nth-child(6) {
                .feature-card {
                    background-color: #fff;
                    border: 1px solid #DEDEDE;

                    .f-desc {
                        font-size: 1.2rem;
                        font-family: $font-regular;
                        &.link{
                            font-size: 1.6rem;
                            color: #3D7EDB;
                            text-decoration: underline;
                            margin-top: 1.2rem;
                        }
                    }

                    .f-title {
                        font-size: 1.4rem;
                    }

                    .f-img {
                        &::after {
                            background-color: rgba(222, 222, 222, 20%);
                        }

                        .icon {
                            color: rgba(222, 222, 222, 1);
                        }
                    }

                }

            }

        }
    }

    //   this section added for Estimated building cost - calculator result  end
    &.typ-home-building {
        background-color: transparent;
        padding: 0 0 2rem 0;
        margin-bottom: 2rem;
        border-bottom: 1px solid #DEDEDE;

        .feature-type-2 {
            gap: 2rem;
            flex-wrap: wrap;

            @media only screen and (max-width: $media-mobile) {
                gap: 1.2rem;
            }
        }

        .feature-item {
            order: initial !important;
            height: 13rem;
            width: 23.1%;

            @media only screen and (max-width: $media-mobile) {
                width: 47.9%;
            }

            .feature-card {
                background-color: #fff;

                .f-title {
                    font-size: 1.4rem;
                    text-transform: capitalize;
                    max-width: 100%;

                }

                .f-img {
                    min-width: 9rem;
                    min-height: 9.5rem;
                    align-items: center;
                    display: flex;
                    justify-content: center;
                    z-index: 1;

                    &:after {
                        width: 10rem;
                        height: 10rem;
                        right: -15px;
                        bottom: -15px;
                        border-radius: 50%;
                        position: absolute;
                        content: '';
                        opacity: 30%;
                        z-index: -1;
                    }

                    .icon {
                        font-size: 5.6rem;
                        width: 4.6rem;
                        height: 3.6rem;
                    }
                }
            }

            &:nth-child(1) {
                .feature-card {
                    .f-img {
                        &::after {
                            background-color: #ED9BAB;
                        }

                        .icon {
                            color: #DB3657;
                        }
                    }

                }

            }

            &:nth-child(2) {
                .feature-card {
                    .f-img {
                        &::after {
                            background-color: #B1CBF1;
                        }

                        .icon {
                            color: #6498E2;
                        }
                    }

                }

            }

        }
    }

    &.typ-mood-board {
        background-color: #fff;
        padding: 0;
        height: 100%;
        padding-top: 24px;
        margin: 0;

        .feature {
            height: 100%;

            @media only screen and (max-width: $media-sm) {
                height: 136px;
            }

            .feature-item {
                order: initial;
                width: 100%;
                height: 100%;

                .feature-card {
                    padding: 4rem 2.4rem;

                    @media only screen and (max-width: $media-sm) {
                        padding: 1.6rem;
                    }
                }

                .cont-wrap {
                    position: absolute;
                    bottom: 4rem;

                    @media only screen and (max-width: $media-sm) {
                        position: static;
                    }
                }

                .f-desc {
                    font-size: 2rem;

                    @media only screen and (max-width: $media-sm) {
                        font-size: 1.4rem;
                    }
                }

                .f-title {
                    text-transform: capitalize;
                    font-size: 2.8rem;
                    max-width: 100%;
                    line-height: 4rem;
                    margin-bottom: 1.2rem;

                    @media only screen and (max-width: $media-sm) {
                        font-size: 1.6rem;
                        max-width: 58%;
                        line-height: 2.4rem;
                    }
                }

                .f-img {
                    position: absolute;
                    top: 0;
                    bottom: auto;
                    right: 0;
                    width: 22.6rem;
                    height: 22.6rem;
                    max-width: 22.6rem;
                    max-height: 22.6rem;
                    z-index: 1;

                    @media only screen and (max-width: $media-sm) {
                        width: 12.6rem;
                        height: 12.6rem;
                        max-width: 12.6rem;
                        max-height: 12.6rem;
                    }

                    &::after {
                        background: #FFF8E5;
                        width: 22.6rem;
                        height: 22.6rem;
                        border-radius: 50%;
                        position: absolute;
                        right: -28px;
                        top: -23px;
                        content: '';
                        opacity: 1;
                        z-index: -1;

                        @media only screen and (max-width: $media-sm) {
                            width: 14.6rem;
                            height: 14.6rem;
                        }
                    }
                }
            }
        }
    }

    &.typ-home-building-stage {
        background-color: transparent;
        padding: 0 0 2rem 0;
        margin-bottom: 2rem;
        border-bottom: 1px solid #DEDEDE;

        .feature-type-2 {
            gap: 2rem;
            flex-wrap: wrap;

            @media only screen and (max-width: $media-mobile) {
                gap: 1.2rem;
            }
        }

        .feature-item {
            order: initial !important;
            height: 13rem;
            width: 31%;

            @media only screen and (max-width: $media-mobile) {
                width: 47.9%;
            }

            .feature-card {
                background-color: #fff;

                .f-title {
                    font-size: 1.4rem;
                    text-transform: capitalize;
                    max-width: 100%;

                }

                .f-img {
                    min-width: 9rem;
                    min-height: 9.5rem;
                    align-items: center;
                    display: flex;
                    justify-content: center;
                    z-index: 1;

                    &:after {
                        width: 10rem;
                        height: 10rem;
                        right: -15px;
                        bottom: -15px;
                        border-radius: 50%;
                        position: absolute;
                        content: '';
                        opacity: 30%;
                        z-index: -1;
                    }

                    .icon {
                        font-size: 5.6rem;
                        width: 4.6rem;
                        height: 3.6rem;
                    }
                }
            }


            &.red-card {
                .f-img {
                    &::after {
                        background-color: #ED9BAB;
                    }

                    .icon {
                        color: #DB3657;
                    }
                }

            }

            &.blue-card {
                .f-img {
                    &::after {
                        background-color: #B1CBF1;
                    }

                    .icon {
                        color: #6498E2;
                    }
                }

            }

            &.yellow-card {
                .f-img {
                    &::after {
                        background-color: #FFE399;
                    }

                    .icon {
                        color: #FFC633;
                    }
                }
            }

            &.green-card {
                .f-img {
                    &::after {
                        background-color: #99DAB3;
                    }

                    .icon {
                        color: #33B667;
                    }
                }
            }

            &.orange-card {
                .f-img {
                    &::after {
                        background-color: #F8B499;
                    }

                    .icon {
                        color: #F16933;
                    }
                }
            }

        }

        &.bs-swiper {
            margin-bottom: 0;
            border-bottom: 0;

            .swiper-wrapper {
                gap: 0rem;
                flex-wrap: initial;
            }
        }
    }

    &.typ-moodboard-help {
        background-color: #fff;
        padding: 0;
        height: 220px;
        margin: 0;

        @media only screen and (max-width: $media-sm) {
            height: auto;
        }

        .feature {
            height: 100%;

            @media only screen and (max-width: $media-sm) {
                height: 136px;
            }

            .feature-item {
                order: initial;
                width: 100%;
                height: 100%;

                .feature-card {
                    padding: 4rem 2.4rem;

                    @media only screen and (max-width: $media-sm) {
                        padding: 1.6rem;
                    }
                }

                .cont-wrap {
                    position: absolute;
                    bottom: 3rem;

                    @media only screen and (max-width: $media-sm) {
                        position: static;
                    }
                }

                .f-desc {
                    font-size: 1.6rem;

                    @media only screen and (max-width: $media-sm) {
                        font-size: 1.4rem;
                    }
                }

                .f-title {
                    text-transform: capitalize;
                    font-size: 2.8rem;
                    max-width: 100%;
                    line-height: 4rem;
                    margin-bottom: 1.2rem;

                    @media only screen and (max-width: $media-sm) {
                        font-size: 1.6rem;
                        max-width: 33%;
                        line-height: 2.4rem;
                    }
                }

                .f-img {
                    position: absolute;
                    top: 0;
                    bottom: auto;
                    right: 0;
                    width: 22.6rem;
                    height: 22.6rem;
                    max-width: 22.6rem;
                    max-height: 22.6rem;
                    z-index: 1;

                    @media only screen and (max-width: $media-sm) {
                        width: 12.6rem;
                        height: 12.6rem;
                        max-width: 12.6rem;
                        max-height: 12.6rem;
                    }

                    &::after {
                        background: #FFF8E5;
                        width: 22.6rem;
                        height: 22.6rem;
                        border-radius: 50%;
                        position: absolute;
                        right: -28px;
                        top: -23px;
                        content: '';
                        opacity: 1;
                        z-index: -1;

                        @media only screen and (max-width: $media-sm) {
                            width: 14.6rem;
                            height: 14.6rem;
                        }
                    }
                }
            }
        }
    }

    &.typ-color {
        padding: 0;
        background: transparent;

        .feature {
            @media only screen and (max-width: $media-mobile) {
                flex-wrap: wrap;
                gap: 1.3rem;
            }

            .feature-card {
                background: $clr-root;

                .f-img {
                    z-index: 2;
                    min-width: 9rem;
                    min-height: 9.5rem;
                    align-items: center;
                    display: flex;
                    justify-content: center;

                    &:after {
                        width: 10rem;
                        height: 10rem;
                        right: -15px;
                        bottom: -15px;
                        border-radius: 50%;
                        position: absolute;
                        content: '';
                        opacity: 30%;
                        z-index: -1;

                        @media only screen and (max-width: $media-mobile) {
                            width: 9rem;
                            height: 9rem;
                            border-radius: 50%;
                            position: absolute;
                            right: -1.2rem;
                            bottom: -1.5rem;
                            content: "";
                            opacity: 0.3;
                            z-index: -1;
                        }
                    }

                    @media only screen and (max-width: $media-mobile) {
                        max-width: 6rem;
                        max-height: 6rem;
                    }

                    .icon {
                        font-size: 5.6rem;
                        width: 4.6rem;
                        height: 3.6rem;

                        @media only screen and (max-width: $media-mobile) {
                            font-size: 4.6rem;
                            width: 2.6rem;
                            height: 2.6rem;
                        }
                    }
                }
                .f-title{
                    @media only screen and (max-width: $media-mobile) { max-width: 100%;}
                }
            }

            .feature-item {
                width: 19.1rem;

                @media only screen and (max-width: 768px) {
                    width: 48%;
                    height: 13rem;
                    order: initial;
                }



                &.red-card {
                    .f-img {
                        &::after {
                            background-color: #ED9BAB;
                        }

                        .icon {
                            color: #DB3657;
                        }
                    }

                }

                &.blue-card {
                    .f-img {
                        &::after {
                            background-color: #B1CBF1;
                        }

                        .icon {
                            color: #6498E2;
                        }
                    }

                }

                &.purple-card {
                    .f-img {
                        &::after {
                            background-color: #DED3DE;
                        }

                        .icon {
                            color: #9C7C9C;
                        }
                    }

                }

                &.yellow-card {
                    .f-img {
                        &::after {
                            background-color: #FFE399;
                        }

                        .icon {
                            color: #FFC633;
                        }
                    }
                }

                &.green-card {
                    .f-img {
                        &::after {
                            background-color: #99DAB3;
                        }

                        .icon {
                            color: #33B667;
                        }
                    }
                }

                &.orange-card {
                    .f-img {
                        &::after {
                            background-color: #F8B499;
                        }

                        .icon {
                            color: #F16933;
                        }
                    }
                }
            }
        }
    }
}