@import "../config/mixin.scss";
@import "../config/variables.scss";

.cp-form {
  margin-top: 3.2rem;

  .feedback-title {
    font-family: $font-medium;
    font-size: 1.6rem;
    line-height: 2.4rem;
    margin-bottom: 1.2rem;
  }

  .form-group {
    margin-bottom: 3.2rem;

    @media only screen and (max-width: $media-sm) {
      margin-bottom: 2.4rem;
    }

    &.typ-border {
      padding-top: 1.6rem;
      border-top: 1px solid $clr-border;
    }

    .form-label {
      font-family: $font-regular;
      font-size: 1.4rem;
      line-height: 2rem;
      color: $clr-para;
      margin-bottom: 0.8rem;
      display: block;

      sup {
        color: $clr-secondary;
      }

      .clr-gray {
        color: #999999;
      }
    }

    .form-control {
      width: 100%;
      padding: 1.1rem 1.6rem;
      border: 1px solid $clr-border;
      font-family: $font-regular;
      font-size: 1.6rem;
      line-height: 2.4rem;
      border-radius: 1.2rem;

      &::placeholder {
        color: #B3B3B3;
        opacity: 1;
        /* Firefox */
        font-family: $font-regular;
      }

      &::-ms-input-placeholder {
        /* Edge 12-18 */
        color: #B3B3B3;
        font-family: $font-regular;
      }
    }

    .form-textarea {
      width: 100%;
      padding: 1.2rem 1.6rem;
      border: 1px solid $clr-border;
      font-family: $font-regular;
      font-size: 1.6rem;
      line-height: 2.4rem;
      border-radius: 1.2rem;
      min-height: 15.6rem;

    }

    .err-mgs {
      color: $clr-secondary;
      font-family: $font-medium;
      font-size: 1rem;
      line-height: 1.5rem;
      margin-bottom: 2.4rem;
      display: block;
    }
  }

  .feedback-personal-data {
    .form-group {
      .form-label {
        font-family: $font-regular;
        font-size: 1.4rem;
        line-height: 2rem;
        margin-bottom: 0.8rem;
        display: block;
      }

      .form-group {
        .form-label {
          font-family: $font-regular;
          font-size: 1.4rem;
          line-height: 2rem;
          margin-bottom: 0.8rem;
          display: block;
        }

        .form-control {
          width: 100%;
          padding: 1.2rem 1.6rem;
          border: 1px solid $clr-border;
          font-family: $font-regular;
          font-size: 1.6rem;
          line-height: 2.4rem;
          border-radius: 1.2rem;

          &::placeholder {
            color: #B3B3B3;
            opacity: 1;
            /* Firefox */
            font-family: $font-regular;
          }

          &::-ms-input-placeholder {
            /* Edge 12-18 */
            color: #B3B3B3;
            font-family: $font-regular;
          }

        }

        .form-textarea {
          width: 100%;
          padding: 1.2rem 1.6rem;
          border: 1px solid $clr-border;
          font-family: $font-regular;
          font-size: 1.6rem;
          line-height: 2.4rem;
          border-radius: 1.2rem;
          min-height: 15.6rem;

          &::placeholder {
            color: #B3B3B3;
            opacity: 1;
            /* Firefox */
            font-family: $font-regular;
          }

          &::-ms-input-placeholder {
            /* Edge 12-18 */
            color: #B3B3B3;
            font-family: $font-regular;
          }
        }

        .err-mgs {
          color: $clr-secondary;
          font-family: $font-medium;
          font-size: 1rem;
          line-height: 1.5rem;
          margin-bottom: 2.4rem;
          display: block;
        }
      }

      .act-wrap {
        .btn-submit {
          width: 100%;
        }
      }

      .disabled {
        background-color: #ededed;
        color: #b3b3b3;
        border: none;
      }

      .star-label,
      .review-label,
      .title-label {
        font-family: $font-regular;
        font-size: 1.4rem;
        line-height: 2rem;
        margin-bottom: 0.8rem;
      }

      .star-rating {
        padding-bottom: 2.4rem;
        border-bottom: 1px solid $clr-border;
        margin-bottom: 2.4rem;

        .icon {
          font-size: 4.8rem;
          color: #cccccc;
        }

        .star-selected {
          color: #ffb800;
        }
      }

      &.typ-location,
      &.typ-language {
        .act-wrap {
          margin-top: 2.4rem;
          text-align: center;

          .btn-submit {
            margin-bottom: 2.4rem;
          }
        }

        .radio-wrap {
          display: flex;
          justify-content: flex-start;
          flex-wrap: wrap;
          gap: 0.8rem;
        }

        .bs-radio {
          margin-bottom: 0;

          .custom-radio {
            min-width: 8.4rem;
            padding: 1.25rem 0;
          }
        }
      }

      &.typ-book-demo {
        margin: 0;

        .form-group {
          .form-label {
            margin-bottom: 1.6rem;
          }

          .form-control {
            max-width: 34.4rem;
          }
        }

        .btn-default {
          min-width: 22rem;

          @media only screen and (max-width: $media-mobile) {
            min-width: 100%;
          }
        }
      }
    }
  }

  &.typ-newsletter {
    display: flex;
    gap: 0.8rem;
    margin-top: 0;

    .form-group {
      width: 100%;
    }

    .btn {
      min-width: auto
    }
  }

  &.typ-comment {
    padding: 1.2rem 1.8rem;
    @include border-radius(1.6rem);
    background-color: #F3F4F6;
    margin-top: 0;

    @media only screen and (max-width: $media-mobile) {
      border-radius: 0;
      margin: 2rem -1.5rem 3.8rem;
      order: 3;
    }

    .form-group {
      position: relative;
      margin-bottom: 0;

      textarea {
        resize: none;
      }

      .icon {
        position: absolute;
        right: 1.2rem;
        top: 6px;
        width: 3.2rem;
        height: 3.2rem;
        color: #CCCCCC;
        font-size: 3.2rem;
        margin: auto;
      }
    }
  }

  .form-input-wrap {
    position: relative;

    .icon {
      width: 3.2rem;
      height: 3.2rem;
      position: absolute;
      right: 5px;
      bottom: 5px;
      font-size: 2.4rem;
      color: #999999;
      cursor: pointer;
    }
  }

  &.typ-help-policies {
    .desc {
      font-size: 1.4rem;
      color: $clr-base;
    }

    .form-group {
      margin-bottom: 2.4rem;

      .form-control {
        color: $clr-base;
        font-family: $font-medium;

        &::placeholder {
          color: #B3B3B3;
          opacity: 1;
          /* Firefox */
          font-family: $font-regular;
        }

        &::-ms-input-placeholder {
          /* Edge 12-18 */
          color: #B3B3B3;
          font-family: $font-regular;
        }

      }

      .select-dropdown {
        width: 100%;

        .select-dropdown-button {

          width: 100%;

          .select-text {
            color: $clr-base;
            font-family: $font-medium;
          }

          .zmdi-chevron-down {
            &::after {
              font-size: 1.4rem;
            }
          }
        }

        .select-dropdown-list-item {
          color: $clr-base;
          font-family: $font-medium;
          font-size: 1.4rem;
        }
      }
    }

    .typ-request-submit {
      min-width: 100%;
    }

  }

  .typ-upload-file {
    display: flex;
    align-items: center;
    gap: 4.8rem;
    justify-content: center;

    .btn-text {
      border: none;
      padding: 0;
      border-bottom: 1px solid #3D7EDB;
      min-width: auto;
      color: #3D7EDB;
      border-radius: 0;
    }
  }

  &.upload-supporting-files {
    display: none;
    margin-top: 0;
  }

  .hidden {
    display: none;
  }

  .error-msg {
    color: #D2042D;
    font-size: 1.2rem;
    font-family: "Poppins Regular";
  }

  .captcha {
    margin-top: 1.6rem;
  }

  &.mt-0 {
    margin-top: 0;
  }

  &.typ-cart-shipping {
    margin-top: 0;

    .desc {
      font-size: 1.2rem;
      color: #666666;
    }

    .mt-8 {
      margin-top: 8px;
    }

    .form-group {
      margin-bottom: 2.4rem;

      .form-control {
        color: $clr-base;
        font-family: $font-medium !important;

      }

      .select-dropdown {
        width: 100%;

        .select-dropdown-button {

          width: 100%;

          .select-text {
            color: $clr-base;
            font-family: $font-medium;
          }

          .zmdi-chevron-down {
            &::after {
              font-size: 1.4rem;
            }
          }
        }

        .select-dropdown-list-item {
          color: $clr-base;
          font-family: $font-medium;
          font-size: 1.4rem;
        }
      }
    }

    .typ-request-submit {
      min-width: 100%;
    }

    .form-input-wrap {
      position: relative;

      .icon-padding {
        padding-left: 32px;
      }

      .icon-check {
        width: 1.6rem;
        height: 1.6rem;
        position: absolute;
        left: 10px;
        top: 50%;
        transform: translateY(-50%);
        font-size: 1.6rem;
        color: #00A441;
        cursor: pointer;
      }
    }

  }

  &.typ-review-sp {
    .feedback-title {
      font-family: $font-medium;
      color: $clr-base;
      font-size: 1.6rem;
    }

    .star-rating {
      display: flex;
      margin-top: 1.2rem;

      .icon {
        font-size: 3.2rem;
        color: #CCCCCC;

        &.star-selected {
          color: #FFB800;
        }
      }
    }
  }

  .filter-dropdown {
    display: flex;
    gap: 1.2rem;
    margin-bottom: 4rem;

    .cp-select {
      @media only screen and (max-width: $media-mobile) {
        width: 100%;
      }

      .select-dropdown {
        @media only screen and (max-width: $media-mobile) {
          display: block;
          width: 100%;
        }

        .select-dropdown-button {
          @media only screen and (max-width: $media-mobile) {
            width: 100%;
          }
        }
      }
    }

    .btn-filter {
      position: relative;
      min-width: auto;
      padding: 1rem 1.6rem;
      display: flex;
      align-items: center;
      gap: 1.2rem;

      .icon {
        font-size: 1.4rem;
      }

      .count {
        width: 16px;
        height: 16px;
        border-radius: 50%;
        outline: 1px solid #FFFFFF;
        border: 0;
        background: #D2042D;
        position: absolute;
        color: #FFFFFF;
        font-size: 1.2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: $font-regular;
        right: -6px;
        top: -6px;
        padding: 0;
        text-align: center;
        line-height: normal;
      }
    }
  }

  &.project-planner {
    .desc {
      font-size: 1.4rem;
      color: $clr-base;
    }

    .info-wrap {
      display: flex;
      border: 1px solid #FFD466;
      background: #FFF8E5;
      justify-content: flex-start;
      align-items: center;
      padding: 0.8rem 1.2rem;
      border-radius: 12px;
      gap: 8px;
      margin-bottom: 2.4rem;

      .icon {
        font-size: 2.4rem;
        color: #A77800;
      }

      .desc {
        font-size: 1.2rem;
        font-family: $font-medium;
        color: #A77800;
        margin-bottom: 0;
      }
    }

    .form-input-wrap {
      .icon {
        color: #000;

        &.disable {
          color: #B3B3B3;
          pointer-events: none;
        }
      }
    }

    .form-group {
      margin-bottom: 2.4rem;

      .form-control {
        color: $clr-base;
        font-family: $font-medium;

        &::placeholder {
          color: #B3B3B3;
          opacity: 1;
          /* Firefox */
          font-family: $font-regular;
        }

        &::-ms-input-placeholder {
          /* Edge 12-18 */
          color: #B3B3B3;
          font-family: $font-regular;
        }

      }

      .select-dropdown {
        width: 100%;

        .select-dropdown-button {

          width: 100%;

          .select-text {
            color: $clr-base;
            font-family: $font-medium;
          }

          .zmdi-chevron-down {
            &::after {
              font-size: 1.4rem;
            }
          }
        }

        .select-dropdown-list-item {
          color: $clr-base;
          font-family: $font-medium;
          font-size: 1.4rem;
        }
      }
    }

    .typ-request-submit {
      min-width: 100%;
    }

  }

  &.typ-pp-modal {
    height: calc(100% - 105px);

    .typ-btn-two {
      display: flex;
      gap: 2rem;
      background-color: #fff;
      padding: 1.2rem 0;

      .btn {
        min-width: 49%;

        &.btn-outline {
          @media only screen and (max-width: $media-mobile) {
            border: 0;
            color: #3D7EDB;
            text-decoration: underline;
          }
        }
      }
    }
  }

  &.typ-edit-dimension {
    .dimension-form {
      display: flex;
      gap: 8px;
      align-items: end;
      justify-content: center;
      margin-bottom: 3.2rem;

      .form-group {
        margin-bottom: 0;

        .form-input {
          @include border-radius(1.2rem);
          border: 1px solid #dedede;
          font-size: 1.6rem;
          font-family: $font-medium;
          color: #333333;
          padding: 1rem;
          width: 100%;
        }

        .form-label {
          font-size: 1.2rem;
          font-family: $font-regular;
          color: #666666;
          padding-bottom: 0.8rem;
        }
      }

      .icon {
        background-color: #F3F4F6;
        @include border-radius(8px);
        padding: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 2.4rem;
        color: #999999;
        flex: 0 0 4.8rem;
        height: 4.8rem;
        width: 4.8rem;
      }
    }

    .btn-wrap {
      display: flex;
      gap: 1.6rem;

      .btn {
        min-width: 48%
      }
    }
  }

  &.typ-edit-budget-amount {
    .form-group {
      margin-bottom: 0;

      .form-control {
        color: $clr-base;
        &:focus{
          border-color: #3D7EDB;
        }
      }
    }

    .btn-wrap {
      display: flex;
      gap: 1.6rem;
      margin-top: 3.2rem;
      .btn {
        min-width: 48%
      }
    }
  }
}