@import "../config/variables";
@import "../config/mixin";

.cp-help-support {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 2rem;

    @media only screen and (max-width: $media-mobile) {
        flex-direction: column;
    }

    .grid-col {
        @media only screen and (max-width: $media-mobile) {
            width: 100% !important;
        }

        &.w-65 {
            width: 65%;
        }

        &.w-73 {
            width: 73%;
        }

        &.w-27 {
            width: 27%;
        }

        &.w-35 {
            width: 35%;
        }
    }

    .head-sec {
        margin-bottom: 4.8rem;

        @media only screen and (max-width: $media-mobile) {
            border-bottom: 1px #DEDEDE solid;
            margin-bottom: 2.4rem;
            padding-bottom: 2.4rem;
        }

        .desc {
            font-size: 1.4rem;
            color: $clr-base;
            margin-bottom: 0;
        }
    }

    .cont-wrap {
        margin-bottom: 4.8rem;

        @media only screen and (max-width: $media-mobile) {
            margin-bottom: 3.2rem;
        }

        .link-wrap {
            margin: 2.8rem 0;

            @media only screen and (max-width: $media-mobile) {
                margin: 1.6rem 0;
            }
        }
    }

    .typ-border-bottom {
        border-bottom: 0.6rem solid #F3F4F6;
    }


    .help-title {
        font-size: 2.8rem;
        line-height: 4rem;
        color: $clr-base;
        font-family: $font-semiBold;
        margin-bottom: 2.4rem;

        @media only screen and (max-width: $media-mobile) {
            margin-bottom: 0.8rem;
        }

        &.typ-head-small {
            font-size: 2.4rem;
            margin-bottom: 3.2rem;

            @media only screen and (max-width: $media-mobile) {
                font-size: 2rem;
            }
        }

        &.typ-acc-head {
            font-size: 2rem;
            margin-bottom: 1.4rem;
        }
    }

    .desc {
        color: $clr-base;
        margin-bottom: 1.2rem;
        line-height: 2.8rem;
    }

    .typ-bold {
        font-family: $font-semiBold;
    }

    .cp-other-info {
        .other-info-list {
            .other-info-item {
                font-size: 1.4rem;
                padding: 1.8rem 4rem 1.8rem 1.6rem;
            }
        }
    }

    .request-call-wrap {
        border: 1px solid #DEDEDE;
        padding: 2.4rem 1.6rem;
        max-width: 50.4rem;
        @include border-radius(1.2rem);

        .typ-number {
            @media only screen and (max-width: $media-mobile) {
                font-size: 2rem;
                font-family: $font-semiBold;
            }
        }

        .desc {
            font-size: 1.4rem;
            margin-bottom: 0.4rem;
            line-height: normal;

            &.typ-bold {
                @media only screen and (max-width: $media-mobile) {
                    font-size: 1.2rem;
                    font-family: $font-regular;
                }
            }
        }

        .divider {
            position: relative;
            color: #808080;
            font-size: 1.2rem;
            margin: 1.6rem 2.6rem;
            text-align: center;

            @media only screen and (max-width: $media-mobile) {
                margin: 1.6rem 0rem;
            }

            span {
                background-color: #fff;
                padding: 5px 16px;
            }

            &::before {
                position: absolute;
                background: #dedede;
                width: 100%;
                right: 0;
                top: 50%;
                content: "";
                height: 1px;
                transform: translateY(-50%);
                z-index: -1;
            }
        }

        .btn-request-call {
            text-align: center;
            min-width: 29.2rem;
            margin: auto;
            display: flex;
            justify-content: center;

            @media only screen and (max-width: $media-mobile) {
                min-width: 100%;
            }
        }

        .cp-table {
            border: none;
            width: 100%;

            .list-item {
                border: none;
                 padding: 1rem .4rem;
            }

            tr {
                th {
                    color: $clr-base;
                    font-family: $font-medium;
                    text-align: left;
                    @media only screen and (max-width: $media-mobile)  { white-space: nowrap; width: auto;}
                }

                td {
                    color: $clr-base;
                    font-family: $font-regular;
                    text-align: right;
                    font-size: 1.2rem;
                    @media only screen and (max-width: $media-mobile)  {
                        overflow: hidden;
                        overflow-wrap: break-word;
                        max-width: 145px;
                    }
                }
            }
        }
    }

    .policy-list {

        margin-left: 1.8rem;
        margin-bottom: 2.4rem;

        li {
            font-size: 1.6rem;
        }

        &.typ-disc {
            li {
                list-style: disc;
            }
        }

        &.typ-decimal {
            li {
                list-style: decimal;

                &::marker {
                    font-family: $font-semiBold;
                }
            }
        }
    }

    &.typ-policy {

        .typ-acc-head,
        .help-title {
            margin-bottom: 0.8rem;
        }

        .head-sec {
            margin-bottom: 1.6rem;
        }
    }

    .typ-policies-list {
        border: 1px solid #DEDEDE;
        @include border-radius(1.6rem);

        .list-main {
            .list-item {
                padding: 2.4rem;
                border-bottom: 1px solid #DEDEDE;

                @media only screen and (max-width: $media-mobile) {
                    padding: 2rem 0.8rem;
                    margin: 0 0.8rem;
                }

                a {
                    color: #3D7EDB;
                    text-decoration: underline;
                    font-size: 1.4rem;
                }

                &:last-child {
                    border-bottom: 0;
                }
            }
        }
    }
}