@import "../config/variables";
@import "../config/mixin";

.cp-image-pointers {
    position: relative;

    .img-wrap {
        @include border-radius(1.6rem);
        overflow: hidden;
    }

    .dot {
        width: 4.2rem;
        height: 4.2rem;
        position: absolute;
        display: flex;
        align-items: center;
        cursor: pointer;

        @media only screen and (max-width: $media-mobile) {
            width: 2.4rem;
            height: 2.4rem;
        }

        &:hover {
            .dropdown-content {
                display: block;
                -webkit-animation: fadeIn 1s;
                animation: fadeIn 1s;
            }
        }

        &.open {
            background: rgba(255, 0, 0, 30%);
            @include border-radius (50%);
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .white-dot {
            width: 1.6rem;
            height: 1.6rem;
            background-color: #fff;
            @include border-radius (50%);
            outline: #FF000080 solid 6px;
            position: relative;
            display: block;
            margin: auto;

            @media only screen and (max-width: $media-mobile) {
                width: 0.8rem;
                height: 0.8rem;
            }

            &::after {
                content: '';
                width: 3rem;
                height: 3rem;
                border: 1px solid #ffffff99;
                @include border-radius (50%);
                position: absolute;
                left: -7px;
                /* right: 0; */
                top: 0;
                bottom: 0;
                margin: auto;

                @media only screen and (max-width: $media-mobile) {
                    width: 1.6rem;
                    height: 1.6rem;
                    left: -4px;
                }
            }

        }

        .dropdown-content {
            display: none;
            position: absolute;
            background-color: rgb(255, 255, 255);
            min-width: 200px;
            max-width: 200px;
            left: 0px;
            top: 100%;
            z-index: 1;
            box-shadow: 0px 10.68px 7.78px 0px #00000059;
            text-align: left;
            margin: auto;
            border-radius: 5px;
            padding: 12px;

            @media only screen and (max-width: $media-mobile) {
                min-width: 155px;
                max-width: 155px;
                right: 0;
                transform: translate(-44%, 0%);
            }

            .title {
                font-family: $font-medium;
                font-size: 1.4rem;
                color: $clr-base;

                @media only screen and (max-width: $media-mobile) {
                    font-size: 1rem;
                }
            }

            .desc {
                font-size: 1.6rem;
                margin-bottom: 1.2rem;

                @media only screen and (max-width: $media-mobile) {
                    font-size: 1.2rem;
                }
            }

            .price {
                font-size: 2.4rem;
                font-family: $font-semiBold;
                color: $clr-base;

                @media only screen and (max-width: $media-mobile) {
                    font-size: 1.6rem;
                }
            }
        }
    }

    .pointer-1 {
        left: 50%;
        top: 3%;
    }

    .pointer-2 {
        left: 72%;
        top: 29%;
    }

    .pointer-3 {
        left: 69%;
        top: 68%;
    }

    //   this section added for Estimated building cost - calculator result  start
    &.typ-calculator-result {
        .dot {
            width: 2.5rem;
            height: 2.5rem;

            @media only screen and (max-width: $media-mobile) {
                width: 2rem;
                height: 2rem;
            }

            &:hover {
                .dropdown-content {
                    -webkit-animation: none;
                    animation: none;
                }
            }

            .white-dot {
                width: 0.8rem;
                height: 0.8rem;
                outline: hwb(0 0% 0% / 0.616) solid 3px;

                @media only screen and (max-width: $media-mobile) {
                    width: 0.6rem;
                    height: 0.6rem;
                }

                &::after {
                    content: '';
                    width: 1.6rem;
                    height: 1.6rem;
                    left: -4px;

                    @media only screen and (max-width: $media-mobile) {
                        width: 1.6rem;
                        height: 1.6rem;
                        left: -5px;
                    }

                }

            }

            .dropdown-content {
                display: block;
                min-width: fit-content;
                max-width: fit-content;
                box-shadow: 0px 3.94px 6.7px 0px #00000059;
                transform: none;
                padding: 6px 8px;

                @media only screen and (max-width: $media-mobile) {
                    padding: 5px;
                }

                .desc {
                    font-size: 1rem;
                    white-space: nowrap;
                    margin-bottom: 0rem;
                    color: $clr-base;
                    line-height: 1.4rem;

                    @media only screen and (max-width: $media-mobile) {
                        font-size: 1rem;
                        margin-bottom: 0rem;
                    }
                }

                .price {
                    font-size: 1.4rem;
                    white-space: nowrap;
                    color: #000;
                    font-family: $font-medium;

                    @media only screen and (max-width: $media-mobile) {
                        font-size: 1.2rem;
                    }
                }

                &.position-left {
                    transform: translate(-91%, -0%);
                }

                &.position-top {
                    bottom: 100%;
                    top: auto;
                }

                &.position-right {
                    right: 0;
                    left: inherit;
                }

                &.position-center {
                    right: 0;
                    transform: translate(-30%, 0%);
                }

                &.position-center-right {
                    right: 0;
                    top: 50%;
                    transform: translate(29%, -50%);
                }

                &.position-center-left {

                    top: 50%;
                    transform: translate(-100%, -50%);
                }
            }
        }

        // ground floor
        &.g-floor {
            .pointer-1 {
                left: 70%;
                top: 42%;

                @media only screen and (max-width: $media-mobile) {
                    left: 71%;
                    top: 42%;
                }

                .position-center-right {
                    @media only screen and (max-width: $media-mobile) {
                        transform: translate(6%, -133%);
                    }
                }
            }

            .pointer-2 {
                left: 67%;
                top: 6%;

                @media only screen and (max-width: $media-mobile) {
                    left: 69%;
                    top: 20%;
                }
            }

            .pointer-3 {
                left: 66%;
                top: 24%;

                @media only screen and (max-width: $media-mobile) {
                    left: 67%;
                    top: 60%;

                }

                .position-center-right {
                    @media only screen and (max-width: $media-mobile) {
                        transform: translate(-100%, -25%);
                    }
                }
            }

            .pointer-4 {
                left: 58%;
                top: 72%;

                @media only screen and (max-width: $media-mobile) {
                    left: 28%;
                    top: 58%;
                }
            }

            .pointer-5 {
                left: 49%;
                top: 44%;

                @media only screen and (max-width: $media-mobile) {
                    left: 46%;
                    top: 42%;
                }
            }

            .pointer-6 {
                left: 35%;
                top: 27%;

                @media only screen and (max-width: $media-mobile) {
                    left: 14%;
                    top: 37%;
                }
            }

            .pointer-7 {
                left: 25%;
                top: 72%;

                @media only screen and (max-width: $media-mobile) {
                    left: 88%;
                    top: 79%;
                }
            }
        }


        // floor 1
        &.g1-floor {
            .pointer-1 {
                left: 68%;
                top: 64%;

                @media only screen and (max-width: $media-mobile) {
                    left: 69%;
                    top: 57%;
                }
            }

            .pointer-2 {
                left: 65%;
                top: 10%;

                @media only screen and (max-width: $media-mobile) {
                    left: 65%;
                    top: 9%;
                }
            }

            .pointer-3 {
                left: 67%;
                top: 24%;

                @media only screen and (max-width: $media-mobile) {
                    left: 69%;
                }
            }

            .pointer-4 {
                left: 60%;
                top: 84%;

                @media only screen and (max-width: $media-mobile) {
                    left: 56%;
                    top: 73%;
                }
            }

            .pointer-5 {
                left: 28.5%;
                top: 41%;

                @media only screen and (max-width: $media-mobile) {
                    left: 8%;
                    top: 36%;
                }
            }

            .pointer-6 {
                left: 40%;
                top: 5%;

                @media only screen and (max-width: $media-mobile) {
                    left: 25%;
                    top: 7%;
                }
            }

            .pointer-7 {
                left: 28%;
                top: 82%;

                @media only screen and (max-width: $media-mobile) {
                    left: 34%;
                    top: 79%;
                }
            }
        }

        // floor 2
        &.g2-floor {
            .pointer-1 {
                left: 61%;
                top: 74%;

                @media only screen and (max-width: $media-mobile) {
                    left: 70%;
                    top: 73%;
                }
            }

            .pointer-2 {
                left: 61.5%;
                top: 13%;

                @media only screen and (max-width: $media-mobile) {
                    left: 69%;
                    top: 7%;
                }
            }

            .pointer-3 {
                left: 60%;
                top: 37%;

                @media only screen and (max-width: $media-mobile) {
                    left: 67%;
                }
            }

            .pointer-4 {
                left: 54%;
                top: 84%;

                @media only screen and (max-width: $media-mobile) {
                    left: 56%;
                    top: 83%;
                }
            }

            .pointer-5 {
                left: 31%;
                top: 53%;

                @media only screen and (max-width: $media-mobile) {
                    left: 20%;
                    top: 58%;
                }
            }

            .pointer-6 {
                left: 38%;
                top: 22%;

                @media only screen and (max-width: $media-mobile) {
                    left: 25%;
                    top: 22%;
                }
            }

            .pointer-7 {
                left: 35%;
                top: 79%;

                @media only screen and (max-width: $media-mobile) {
                    left: 23%;
                    top: 79%;
                }
            }
        }

        // floor 3
        &.g3-floor {
            .pointer-1 {
                left: 59%;
                top: 78%;

                @media only screen and (max-width: $media-mobile) {
                    left: 67%;
                    top: 76%;
                }
            }

            .pointer-2 {
                left: 59%;
                top: 7%;

                @media only screen and (max-width: $media-mobile) {
                    left: 67%;
                    top: 9%;
                }
            }

            .pointer-3 {
                left: 60%;
                top: 45%;

                @media only screen and (max-width: $media-mobile) {
                    left: 69%;
                }
            }

            .pointer-4 {
                left: 54%;
                top: 86%;

                @media only screen and (max-width: $media-mobile) {
                    left: 56%;
                    top: 83%;
                }
            }

            .pointer-5 {
                left: 32%;
                top: 59%;

                @media only screen and (max-width: $media-mobile) {
                    left: 20%;
                    top: 58%;
                }
            }

            .pointer-6 {
                left: 36%;
                top: 18%;

                @media only screen and (max-width: $media-mobile) {
                    left: 38%;
                    top: 22%;
                }
            }

            .pointer-7 {
                left: 35%;
                top: 82%;

                @media only screen and (max-width: $media-mobile) {
                    left: 23%;
                    top: 80%;
                }
            }
        }

        // floor 4
        &.g4-floor {
            .pointer-1 {
                left: 62%;
                top: 81%;

                @media only screen and (max-width: $media-mobile) {
                    left: 69%;
                    top: 78%;
                }
            }

            .pointer-2 {
                left: 45%;
                top: 8%;

                @media only screen and (max-width: $media-mobile) {
                    left: 42%;
                    top: 12%;
                }
            }

            .pointer-3 {
                left: 62%;
                top: 39%;

                @media only screen and (max-width: $media-mobile) {
                    left: 70%;
                }
            }

            .pointer-4 {
                left: 56%;
                top: 87%;

                @media only screen and (max-width: $media-mobile) {
                    left: 62%;
                    top: 84%;
                }
            }

            .pointer-5 {
                left: 36%;
                top: 63%;

                @media only screen and (max-width: $media-mobile) {
                    left: 26%;
                    top: 63%;
                }
            }

            .pointer-6 {
                left: 40%;
                top: 13%;

                @media only screen and (max-width: $media-mobile) {
                    left: 31%;
                    top: 17%;
                }
            }

            .pointer-7 {
                left: 35%;
                top: 83%;

                @media only screen and (max-width: $media-mobile) {
                    left: 24%;
                    top: 81%;
                }
            }
        }
    }

    //   this section added for Estimated building cost end
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}