@import "../config/variables";
@import "../config/mixin";

.cp-image-pointers {
    position: relative;

    .img-wrap {
        @include border-radius(1.6rem);
        overflow: hidden;
    }

    .dot {
        width: 4.2rem;
        height: 4.2rem;
        position: absolute;
        display: flex;
        align-items: center;
        cursor: pointer;
        @media only screen and (max-width: $media-mobile) {     width: 2.4rem;
            height: 2.4rem;}
        &:hover {
            .dropdown-content {
                display: block;
                -webkit-animation: fadeIn 1s;
                animation: fadeIn 1s;
            }
        }

       &.open {
            background: rgba(255, 0, 0, 30%);
            @include border-radius (50%);
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .white-dot {
            width: 1.6rem;
            height: 1.6rem;
            background-color: #fff;
            @include border-radius (50%);
            outline:#FF000080 solid 6px;
            position: relative;
            display: block;
            margin: auto;
            @media only screen and (max-width: $media-mobile) {     width: 0.8rem;
                height: 0.8rem;}
            &::after {
                content: '';
                width: 3rem;
                height: 3rem;
                border: 1px solid #ffffff99;
                @include border-radius (50%);
                position: absolute;
                left: -7px;
                /* right: 0; */
                top: 0;
                bottom: 0;
                margin: auto;
                @media only screen and (max-width: $media-mobile) {
                    width: 1.6rem;
                    height: 1.6rem;
                    left: -4px;
                 }
            }

        }

        .dropdown-content {
            display: none;
            position: absolute;
            background-color: rgb(255, 255, 255);
            min-width: 200px;
            max-width: 200px;
            left: 0px;
            top: 100%;
            z-index: 1;
            box-shadow: 0px 10.68px 7.78px 0px #00000059;
            text-align: left;
            margin: auto;
            border-radius: 5px;
            padding: 12px;
            @media only screen and (max-width: $media-mobile) { min-width: 155px; max-width: 155px; right: 0;  transform: translate(-44%, 0%);}
            .title {
                font-family: $font-medium;
                font-size: 1.4rem;
                color: $clr-base;
                @media only screen and (max-width: $media-mobile) { font-size: 1rem;}
            }

            .desc {
                font-size: 1.6rem;
                margin-bottom: 1.2rem;
                @media only screen and (max-width: $media-mobile) { font-size: 1.2rem;}
            }

            .price {
                font-size: 2.4rem;
                font-family: $font-semiBold;
                color: $clr-base;
                @media only screen and (max-width: $media-mobile) { font-size: 1.6rem;}
            }
        }
    }

    .pointer-1 {
        left: 50%;
        top: 3%;
    }

    .pointer-2 {
        left: 72%;
        top: 29%;
    }
    .pointer-3 {
        left: 69%;
        top: 68%;
    }
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}