@import "../config/variables";
@import "../config/mixin";

.cp-login {
    display: flex;
    justify-content: flex-start;
    border: 1px solid #dedede;
    border-radius: 24px;

    @media only screen and (max-width: $media-mobile) {
        border: 0;
    }

    .lhs {
        width: 50%;

        @media only screen and (max-width: $media-mobile) {
            display: none;
        }

        .img-wrap {
            width: 100%;
            height: 768px;
            overflow: hidden;
            img{
                object-fit: cover;
            }
        }
    }

    .rhs {
        width: 50%;
        padding: 2.4rem 4.8rem 0;

        @media only screen and (max-width: $media-mobile) {
            width: 100%;
            padding: 0;
        }

        .title {
            font-size: 2.8rem;
            font-family: $font-semiBold;
            color: $clr-base;
            line-height: 40px;
            padding-bottom: 1.6rem;

            @media only screen and (max-width: $media-mobile) {
                font-size: 2.4rem;
            }

            &.typ-small {
                font-size: 1.6rem;
                margin-bottom: 0;
            }
        }

        .sub-title {
            font-size: 2rem;
            color: $clr-base;
            line-height: 28px;
            display: block;
            font-family: $font-semiBold;

        }

        .desc {
            font-size: 1.4rem;
            color: $clr-para;
            font-family: $font-regular;

            &.typ2 {
                font-family: $font-medium;
                text-align: center;
                display: flex;
                justify-content: center;
            }
            .typ-clr-black {
                color: #333333;
            }
        }

        .form-wrap {
            margin-top: 1.5rem;

            &.typ2 {
                position: relative;
                // height: 100vh;
            }

            .form-group {
                display: flex;
                flex-direction: column;
                position: relative;
                margin-bottom: 2.4rem;

                @media only screen and (max-width: $media-mobile) {
                    margin-bottom: 25px;
                }

                .form-label {
                    font-size: 1.4rem;
                    font-family: $font-regular;
                    color: $clr-para;
                    padding-bottom: 0.8rem;
                }

                .form-input {
                    border-radius: 12px;
                    border: 1px solid #dedede;
                    font-size: 1.6rem;
                    font-family: $font-medium;
                    color: $clr-base;
                    padding: 1rem;

                    &.typ-otp {
                        width: 75px;
                        height: 64px;
                        text-align: center;

                        @media only screen and (max-width: $media-mobile) {
                            width: 60px;
                        }
                    }

                    &::placeholder {
                        color: #B3B3B3;
                        opacity: 1;
                        /* Firefox */
                    }

                    &::-ms-input-placeholder {
                        /* Edge 12 -18 */
                        color: #B3B3B3;
                        opacity: 1;
                    }
                }

                .forgot-link {
                    position: absolute;
                    bottom: -33px;
                    right: 0;

                    @media only screen and (max-width: $media-mobile) {
                        font-size: 1.2rem;
                        bottom: -25px;
                    }
                }

                .otp-wrap {
                    display: flex;
                    justify-content: space-between;
                    margin-bottom: 10px;
                    gap: 5px;
                }

                .error-msg {
                    color: #D2042D;
                    font-size: 1.2rem;
                    font-family: $font-regular;

                    &.typ-2 {
                        position: absolute;
                        top: 98px;
                        left: 0;
                    }
                }
            }

            .icon {
                width: 3.2rem;
                height: 3.2rem;
                position: absolute;
                right: 5px;
                bottom: 5px;
                font-size: 2.4rem;
                color: #999999;
            }
        }

        .act-wrap {
            .login-btn {
                width: 100%;
                margin-bottom: 1.6rem;

            }

            .desc {
                @media only screen and (max-width: $media-mobile) {
                    font-size: 1.2rem;
                }
            }

            .btn-account {
                @media only screen and (max-width: $media-mobile) {
                    font-size: 1.2rem;
                }
            }

            &.typ2 {
                position: absolute;
                bottom: 0;
                left: -53px;
                border-top: 1px solid #dedede;
                border-bottom: 1px solid #dedede;
                right: 35px;
                width: 124%;
                padding-left: 6rem;
                padding-right: 6rem;
                padding-top: 2rem;

                @media only screen and (max-width: $media-mobile) {
                    position: fixed;
                    left: 0;
                    right: 0;
                    width: 97%;
                    padding-left: 1.6rem;
                    padding-right: 1.6rem;
                    border: 0;
                    background: $clr-root;

                }
            }
        }

        .sign-up-sec {
            margin-top: 24px;

            .title {
                font-size: 1.4rem;
                font-family: $font-regular;
                color: #808080;
                position: relative;
                text-align: center;

                &::after {
                    position: absolute;
                    background: #dedede;
                    width: 132px;
                    left: 0;
                    top: 20px;
                    content: '';
                    height: 1px;

                    @media only screen and (max-width: $media-mobile) {
                        width: 106px;
                    }
                }

                &::before {
                    position: absolute;
                    background: #dedede;
                    width: 132px;
                    right: 0;
                    top: 20px;
                    content: '';
                    height: 1px;

                    @media only screen and (max-width: $media-mobile) {
                        width: 106px;
                    }
                }

            }

            .option-list {
                display: flex;
                justify-content: space-between;
                gap: 1.6rem;
                margin-bottom: 32px;

                .option-list-item {
                    border: 1px solid #dedede;
                    border-radius: 12px;
                    text-align: center;
                    width: 50%;
                    display: flex;
                    justify-content: center;
                    padding: 1rem;

                    img {
                        width: 24px;
                        height: 24px;

                    }
                }

                &.typ2 {
                    .option-list-item {
                        border: 0;
                        margin-right: 2rem;

                        @media only screen and (max-width: $media-mobile) {
                            margin-right: 0;
                        }

                        .btn {
                            @media only screen and (max-width: $media-mobile) {
                                font-size: 1.2rem;
                            }
                        }

                        &:first-child {
                            position: relative;

                            &::after {
                                content: '';
                                background: #dedede;
                                width: 1px;
                                height: 28px;
                                right: -28px;
                                top: 12px;
                                position: absolute;

                                @media only screen and (max-width: $media-mobile) {
                                    height: 19px;
                                    right: -17px;
                                    top: 12px;
                                }
                            }
                        }
                    }
                }
            }
        }

        .bottom-sec {
            display: flex;
            justify-content: center;
            gap: 0.8rem;
            margin-bottom: 1.6rem;

            @media only screen and (max-width: $media-mobile) {
                margin-bottom: 0.8rem;
            }

            .otp-timer {
                font-size: 1.4rem;
                font-family: $font-regular;
                color: #EE4400;
            }

            .otp-txt-msg {
                font-size: 1.4rem;
            }

            .re-send-link {
                color: #B3B3B3;
                font-family: $font-medium;
                font-size: 1.4rem;
                border-bottom: 1px solid #B3B3B3
            }
        }

        .valid-message {
            font-size: 1.4rem;
            color: $clr-base;
            font-family: $font-medium;
            text-align: center;
        }

        .pass-verification {
            display: flex;
            flex-direction: column;
            margin-bottom: 2.4rem;
            margin-top: -2rem;

            .verify-item {
                font-size: 1rem;
                font-family: $font-regular;
                color: #999;
                position: relative;
                padding-left: 2rem;

                &:first-child {
                    padding-left: 0;
                    padding-bottom: 0.8rem;

                    &::after {
                        display: none;
                    }
                }

                &::after {
                    content: "\e92e";
                    position: absolute;
                    left: 0;
                    top: 0;
                    font-size: 1.2rem;
                    color: #999;
                    font-family: 'icomoon' !important;

                }

                &.completed {
                    color: #00A441;
                    position: relative;

                    &::after {
                        content: "\e92e";
                        position: absolute;
                        left: 0;
                        top: 0;
                        font-size: 1.2rem;
                        color: #00A441;
                        font-family: 'icomoon' !important;

                    }
                }

                &.error {
                    color: #EE4400;

                    &::after {
                        content: "\e92e";
                        position: absolute;
                        left: 0;
                        top: 0;
                        font-size: 1.2rem;
                        color: #EE4400;
                        font-family: 'icomoon' !important;

                    }
                }

            }
        }

        &.relative {
            position: relative;

            @media only screen and (max-width: $media-mobile) {
                position: static;
            }
        }


        &.typ-2 {
            padding-right: 1.6rem;

            @media only screen and (max-width: $media-mobile) {
                padding-right: 0;
            }
        }

    }

    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    /* For Firefox */
    input[type="number"] {
        -moz-appearance: textfield;
    }

    .step-sec {
        background-color: #612D61;
        @include border-radius(0.8rem);
        margin-bottom: 3.2rem;
        padding: 1.2rem 1.6rem;
        color: $clr-root;

        @media only screen and (max-width: $media-mobile) {
            position: absolute;
            left: 0;
            right: 0;
            @include border-radius(0);
        }

        .steps-num {
            font-family: $font-medium;
            font-size: 1.2rem;
        }

        .step-main {
            margin-top: 0.8rem;
            display: flex;
            gap: 0.4rem;

            .step {
                width: 25%;
                height: 3px;
                background-color: #FFFFFF;
                @include border-radius(1rem);

                &.active {
                    background-color: #FFB800;
                }

                &.finish {
                    background-color: #FFB800;
                }
            }
        }

    }

    &.mt-2 {
        margin-top: 2.4rem;
    }

    .sticky {
        position: absolute;
        bottom: 0;
        background-color: #fff;
        border-top: 1px solid #DEDEDE;
        padding: 2.4rem 4.8rem;
        width: 100%;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 1.6rem;
        border-radius: 0 0 24px 0;

        @media only screen and (max-width: $media-mobile) {
            padding: 1.6rem;
            flex-wrap: wrap;
            justify-content: center;
            position: static;
        }

        .desc {
            @media only screen and (max-width: $media-mobile) {
                width: 100%;
                flex: 0 0 100%;
                text-align: center;
            }
        }

        .btn-steps {
            min-width: auto;
            padding: 1.1rem 2rem;

            @media only screen and (max-width: $media-mobile) {
                min-width: 47%;
            }
        }

        .btn-link {
            font-size: 1.4rem;
        }

        .login-btn {
            margin-bottom: 0
        }

        &.typ-p-0 {
            @media only screen and (max-width: $media-mobile) {
                padding: 1.6rem 0;
            }
        }
    }

    .steps-content {
        max-height: 550px;
        overflow-y: auto;
        padding-right: 3rem;

        /* width */
        &::-webkit-scrollbar {
            width: 4px;
        }

        /* Track */
        &::-webkit-scrollbar-track {
            background: #fff;
        }

        /* Handle */
        &::-webkit-scrollbar-thumb {
            background: #DEDEDE;
            border-radius: 1.2rem;
        }

        /* Handle on hover */
        &::-webkit-scrollbar-thumb:hover {
            background: #DEDEDE;
        }

        @media only screen and (max-width: $media-mobile) {
            max-height: 100%;
            padding-right: 0rem;
            margin-top: 7rem;
        }

        .title {
            font-size: 2rem;
            line-height: 2.8rem;
            margin-bottom: 2rem;
        }

        .typ-steps {
            margin-bottom: 1.2rem;

            .custom-radio {
                width: 100%;
                flex-direction: row;
                gap: 10px;
                padding: 1.2rem;

                .icon {
                    width: 40px;
                    height: 40px;
                    font-size: 2.4rem;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: 0.8rem;
                    background: #fff;
                    border-radius: 50%;
                    flex: 0 0 4rem;

                    &.blue {
                        background: #ECF2FB;
                        color: #3D7EDB;
                    }

                    &.orange {
                        background: #FFF8E5;
                        color: #FFB800;
                    }

                    &.red {
                        background: #FAE6EA;
                        color: #D2042D;
                    }

                    &.green {
                        background: #E5F6EC;
                        color: #00A441;
                    }
                }

                span:last-child {
                    flex: 0 0 calc(100% - 5rem);
                }
            }

            input[type="radio"]:checked+.custom-radio {
                font-family: $font-medium;
                color: $clr-base;
            }
        }

        .typ-size {
            display: flex;
            gap: 1.2rem;
            flex-wrap: wrap;

            .bs-radio {
                margin-bottom: 0;

                .custom-radio {
                    min-width: auto;
                    padding: 1.2rem 1.6rem;
                }
            }

            &.typ-login {
                .bs-radio {
                    .custom-radio {
                        min-width: 76px;

                        @media only screen and (max-width: $media-mobile) {
                            min-width: 74px;
                        }
                    }
                }
            }

            &.typ-2 {
                .bs-radio {
                    width: 48%;
                }
            }
        }

        .form-wrap {
            .form-group {

                position: relative;

                .form-input {
                    padding-right: 4rem;

                }


            }
        }

        .range-main {
            display: block;
            padding: 0 11px 0 0;

            @media only screen and (max-width: $media-mobile) {
                padding: 0 15px 0 0;
            }

            .range {
                position: relative;
                width: 100%;
                height: 5px;

                input {
                    width: 100%;
                    position: absolute;
                    top: 2px;
                    height: 0;
                    -webkit-appearance: none;
                }

                input::-webkit-slider-thumb {
                    -webkit-appearance: none;
                    width: 42px;
                    height: 44px;
                    margin: -8px 0 0;
                    border-radius: 50%;
                    background-image: url('../../components/cp-login/image/home-icon.svg');
                    background-size: contain;
                    background-position: center center;
                    background-repeat: no-repeat;
                    cursor: pointer;
                    border: 0 !important;
                }


                input::-moz-range-thumb {
                    width: 42px;
                    height: 44px;
                    margin: -8px 0 0;
                    border-radius: 50%;
                    background-image: url('../../components/cp-login/image/home-icon.svg');
                    background-size: contain;
                    background-position: center center;
                    background-repeat: no-repeat;
                    cursor: pointer;
                    border: 0 !important;
                }

                input::-ms-thumb {
                    width: 42px;
                    height: 44px;
                    margin: -8px 0 0 -8px;
                    border-radius: 50%;
                    background-image: url('../../components/cp-login/image/home-icon.svg');
                    background-size: contain;
                    background-position: center center;
                    background-repeat: no-repeat;
                    cursor: pointer;
                    border: 0 !important;
                }

                input::-webkit-slider-runnable-track {
                    width: 100%;
                    height: 2.4rem;
                    cursor: pointer;
                    background: #DEDEDE;
                    border-radius: 1.2rem;
                }

                input::-moz-range-track {
                    width: 100%;
                    height: 2px;
                    cursor: pointer;
                    background: #b2b2b2;
                }

                input::-ms-track {
                    width: 100%;
                    height: 2px;
                    cursor: pointer;
                    background: #b2b2b2;
                }

                input:focus {
                    background: none;
                    outline: none;
                }

                .range input::-ms-track {
                    width: 100%;
                    cursor: pointer;
                    background: transparent;
                    border-color: transparent;
                    color: transparent;
                }


            }

            .range-labels {
                margin: 18px -41px 0;
                padding: 0;
                list-style: none;
                display: flex;

                @media only screen and (max-width: $media-mobile) {
                    margin: 18px -19px 0;
                }

                li {
                    position: relative;
                    width: 96.25px;
                    text-align: center;
                    color: #999999;
                    font-size: 14px;
                    cursor: pointer;
                    font-family: $font-semiBold;

                    @media only screen and (max-width: $media-mobile) {
                        width: 75.25px;
                    }
                }

                .active {
                    color: $clr-base;
                    font-size: 3.6rem;

                    @media only screen and (max-width: $media-mobile) {
                        font-size: 2rem;
                    }
                }

                .selected::before {
                    background: $clr-base;
                }

                .active.selected::before {
                    display: none;
                }

            }

        }

        &.typ-content {
            max-height: 610px;

            @media only screen and (max-width: $media-mobile) {
                max-height: 100%;
                margin-top: 0;
            }
        }
    }

}

.typ-get-started {
    margin-top: 16rem;
    padding-bottom: 0;

    .img-wrap {
        height: calc(100vh - 150px);
        position: relative;
        width: 100%;

        @media only screen and (max-width: $media-mobile) {
            height: calc(100vh - 130px);
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }

        &::after {
            content: '';
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
            height: 100%;

        }

        .get-started-main {
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            z-index: 1;
            max-width: 124rem;
            right: 0;
            margin: auto;

            @media only screen and (max-width: $media-mobile) {
                width: 100%;
                padding: 0rem 1.6rem;
                bottom: 50px;
                transform: none;
                top: auto;
            }

            .title {
                color: $clr-root;
                font-family: $font-semiBold;
                font-size: 4rem;
                line-height: 5.2rem;

                @media only screen and (max-width: $media-mobile) {
                    font-size: 2.8rem;
                    line-height: 4rem;
                }
            }

            .small-text {
                font-size: 2.8rem;
                line-height: 3rem;
                margin-bottom: 2.4rem;
                color: $clr-root;
                font-family: $font-semiBold;

                @media only screen and (max-width: $media-mobile) {
                    font-size: 2.4rem;
                }

                &.underline-text {
                    font-family: $font-medium;
                    font-size: 1.4rem;
                    margin-top: 3.2rem;

                    @media only screen and (max-width: $media-mobile) {
                        text-align: center;
                        margin-top: 2.4rem;
                    }
                }
            }

            .brand {
                font-size: 2rem;
                font-family: $font-medium;

                @media only screen and (max-width: $media-mobile) {
                    font-size: 1.6rem;
                }
            }

            .get-started-btn {
                min-width: 23.6rem;
                margin-top: 4.8rem;

                @media only screen and (max-width: $media-mobile) {
                    min-width: 100%;
                }
            }
        }
    }

}

.tab {
    display: none;
}
