@import "../config/variables";
@import "../config/mixin";

.cp-login{
    display: flex;
    justify-content: flex-start;
    border: 1px solid #dedede;
    border-radius: 24px;
    @media only screen and (max-width: $media-mobile){
        border: 0;
    }
    .lhs{
        width: 50%;
        @media only screen and (max-width: $media-mobile){
            display: none;
        }
        .img-wrap{
            width: 507px;
            height: 766px;
            overflow: hidden;
        }
    }
    .rhs{
        width: 50%;
        padding: 2.4rem 4.8rem 0;
        @media only screen and (max-width: $media-mobile){
            width: 100%;
            padding:0;
        }
        .title{
            font-size: 2.8rem;
            font-family: $font-semiBold;
            color: $clr-base;
            line-height: 40px;
            padding-bottom: 1.6rem;

         @media only screen and (max-width: $media-mobile){
            font-size: 2.4rem;
         }
         .sub-title{
            font-size: 2rem;
            color: $clr-base;
            line-height: 28px;
            display: block;
         }
        }
        .desc{
            font-size: 1.4rem;
            color: $clr-para;
            font-family: $font-regular;
            &.typ2{
                font-family: $font-medium;
                text-align: center;
                display: flex;
                justify-content: center;
            }
        }
        .form-wrap{
            margin-top: 1.5rem;
            &.typ2{
                position: relative;
                height: 100vh;
            }
           .form-group{
                display: flex;
                flex-direction: column;
                position: relative;
                margin-bottom: 35px;
                @media only screen and (max-width: $media-mobile){
                    margin-bottom: 25px;
                }
                .form-label{
                    font-size: 1.4rem;
                    font-family: $font-regular;
                    color: $clr-para;
                    padding-bottom: 0.8rem;
                }
                .form-input{
                    border-radius: 12px;
                    border: 1px solid #dedede;
                    font-size: 1.6rem;
                    font-family: $font-medium;
                    color:$clr-base;
                    padding: 1rem;
                    &.typ-otp{
                        width: 75px;
                        height: 64px;
                        text-align: center;
                        @media only screen and (max-width: $media-mobile){
                            width: 60px;
                        }
                    }
                }
                .forgot-link{
                    position: absolute;
                    bottom: -33px;
                    right: 0;
                    @media only screen and (max-width: $media-mobile){
                        font-size: 1.2rem;
                        bottom: -25px;
                    }
                }
                .otp-wrap{
                    display: flex;
                    justify-content: space-between;
                }
            }
        }
        .act-wrap{
            .login-btn{
                width: 100%;
                margin-bottom: 1.6rem;
                
            }
            .desc{
                @media only screen and (max-width: $media-mobile){
                    font-size: 1.2rem;
                }
            }
            .btn-account{
                @media only screen and (max-width: $media-mobile){
                    font-size: 1.2rem;
                }
            }
            &.typ2{
                position: absolute;
                bottom: 0;
                left: -53px;
                border-top: 1px solid #dedede;
                border-bottom: 1px solid #dedede;
                right: 35px;
                width: 124%;
                padding-left: 6rem;
                padding-right: 6rem;
                padding-top: 2rem;
                @media only screen and (max-width: $media-mobile){
                    position: fixed;
                    left: 0;
                    right: 0;
                    width: 97%;
                    padding-left: 1.6rem;
                    padding-right: 1.6rem;
                    border: 0;
                    background: $clr-root;

                }
            }
        }
        .sign-up-sec{
            margin-top: 24px;
            .title{
                font-size: 1.4rem;
                font-family: $font-regular;
                color: #808080;
                position: relative;
                text-align: center;
                &::after{
                    position: absolute;
                    background: #dedede;
                    width: 132px;
                    left: 0;
                    top: 20px;
                    content: '';
                    height: 1px;
                    @media only screen and (max-width: $media-mobile){
                        width: 106px;
                    }
                }
                &::before{
                    position: absolute;
                    background: #dedede;
                    width: 132px;
                    right: 0;
                    top: 20px;
                    content: '';
                    height: 1px;
                    @media only screen and (max-width: $media-mobile){
                        width: 106px;
                    }
                }
            }
            .option-list{
                display: flex;
                justify-content: space-between;
                gap: 1.6rem;
                margin-bottom: 32px;
            .option-list-item{
                border: 1px solid #dedede;
                border-radius: 12px;
                text-align: center;
                width: 50%;
                display: flex;
                justify-content: center;
                padding: 1rem;
                img{
                    width: 24px;
                    height: 24px;
    
                }
            }
            &.typ2{
                .option-list-item{
                    border: 0;
                    margin-right: 2rem;
                    @media only screen and (max-width: $media-mobile){
                        margin-right: 0;
                    }
                    .btn{
                        @media only screen and (max-width: $media-mobile){
                            font-size: 1.2rem;
                        }
                    }
                   
                    &:first-child{
                      position: relative;
                      &::after{
                        content: '';
                        background: #dedede;
                        width: 1px;
                        height: 28px;
                        right: -28px;
                        top: 12px;
                        position: absolute;
                        @media only screen and (max-width: $media-mobile){
                            height: 19px;
                            right: -17px;
                            top: 12px;
                        }
                      }
                    }
                }
            }
            }
        }

        .bottom-sec{
            display: flex;
            justify-content: center;
            gap: 0.8rem;
            margin-bottom: 1.6rem;  
            @media only screen and (max-width: $media-mobile){
                margin-bottom: 0.8rem; 
            }
            .otp-timer{
                font-size: 1.4rem;
                font-family: $font-regular;
                color: #EE4400;
            }
            .re-send-link{
                color: #B3B3B3;
                font-family: $font-medium;
                font-size: 1.4rem;
            }
        }
        .valid-message{
            font-size: 1.4rem;
            color: $clr-base;
            font-family: $font-medium;
            text-align: center;
        }
        .pass-verification{
            display: flex;
            flex-direction:column;
            margin-bottom: 2.4rem;
            margin-top: -2rem;
            .verify-item{
                font-size: 1rem;
                font-family: $font-regular;
                color: #999;
                position: relative;
                padding-left: 2rem;
                &:first-child{
                    padding-left: 0;
                    padding-bottom: 0.8rem;
                    &::after{
                        display: none;
                    }
                }
                &::after{
                    content: "\e92e";
                    position: absolute;
                    left: 0;
                    top: 0;
                    font-size: 1.2rem;
                    color: #999;
                    font-family: 'icomoon' !important;

                }
                
                &.completed{
                    color: #00A441;
                    position: relative;

                    &::after{
                        content: "\e92e";
                        position: absolute;
                        left: 0;
                        top: 0;
                        font-size: 1.2rem;
                        color: #00A441;  
                        font-family: 'icomoon' !important;
  
                    }
                }
                &.error{
                    color: #EE4400;
                    &::after{
                        content: "\e92e";
                        position: absolute;
                        left: 0;
                        top: 0;
                        font-size: 1.2rem;
                        color: #EE4400;
                        font-family: 'icomoon' !important;

                    }
                }
        
            }
        }
       
        
    }
    input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* For Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}

}

