@import "../config/variables";
@import "../config/mixin";

.cp-ongoing-orders{
    border: 1px solid $clr-border;
    padding: 16px;
    border-radius: 12px;
    .cp-title{
        padding: 0 0 15px 0;
        display: flex;
        justify-content: flex-start;
        border-bottom: 1px solid $clr-border;
        margin-bottom: 12px;
        align-items: center;
        position: relative;
        .title{
            display: flex;
            color: $clr-base;
            font-size: 20px;
            line-height: 28px;
            font-family: $font-semiBold;
            @media only screen and (max-width: $media-sm) {
                font-size: 16px;
                line-height: 24px;
                padding: 0px 0 10px 0px;
            }
        }
        .icon-wrap{
            height: 40px;
            width: 40px;
            border-radius: 50%;
            background: #E5F6EC;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 10px;
            @media only screen and (max-width: $media-sm) {
                width: 32px;
                height: 32px;
            }
        }
        .icon{
            color: #00A441;
            font-size: 20px;
            @media only screen and (max-width: $media-sm) {
                font-size: 14px;
            }
        }
        .btn-link{
            position: relative;
            margin: 0 0 0 auto;
            @media only screen and (max-width: $media-sm) {
                font-size: 12px;
                line-height: 16px;
            }
        }
    }
    .product-wrap{
        display: flex;
        justify-content: start;
        @media only screen and (max-width: $media-sm) {
            flex-wrap: wrap;
        }
        .img-wrap{
            width: 78px;
            height: 78px;
            padding: 12px;
            border: 1px solid #DEDEDE;
            border-radius: 12px;
            background: #fff;
            margin-right: 24px;
            flex-shrink: 0;
            position: relative;
            img{
                width: 100%;
            }
            .count{
                width: 27px;
                height: 27px;
                border-radius: 100%;
                background: #D2042D;
                line-height: 27px;
                text-align: center;
                position: absolute;
                right: -11px;
                top: -6px;
                z-index: 1;
                color: $clr-root;
                font-family: $font-semiBold;
                font-size: 14px;
            }
        }
        .product-details{
            position: relative;
            width: 83%;
            @media only screen and (max-width: $media-sm) {
                width: calc(100% - 105px);
            }
            .order-details{
                font-size: 16px;
                line-height: 24px;
                font-family: $font-medium;
                color: $clr-base;
                @media only screen and (max-width: $media-sm) {
                    font-size: 14px;
                    line-height: 20px;
                }
            }
            .payment-status{
                font-size: 12px;
                line-height: 16px;
                font-family: $font-medium;
                color: #EE4400;
                padding-bottom: 10px;
                display: flex;
                align-items: center;
                icon{
                    font-size: 16px;
                    margin-right: 5px;
                    font-size: 12px;
                }
            }
            .amt{
                font-family: $font-semiBold;
                font-size: 20px;
                line-height: 28px;
                color: $clr-base;
                @media only screen and (max-width: $media-sm) {
                    font-size: 16px;
                    line-height: 24px;
                }
            }
        }
    }
    .action-wrap{
        align-items: end;
        display: flex;
        @media only screen and (max-width: $media-sm) {
            flex-grow: 1;
            margin-top: 24px;
        }
        .btn{
            min-width: 110px;
            padding: 1rem 1.6rem;
            font-size: 14px;
            line-height: 16px;
            @media only screen and (max-width: $media-sm) {
                width: 100%;
            }
        }
    }
}