@import "../config/variables";
@import "../config/mixin";

.cp-order-management {
    border: 1px solid #DEDEDE;
    padding: 4rem;
    @include border-radius(1.6rem);
    overflow: hidden;

    @media only screen and (max-width: $media-mobile) {
        border: 0;
        padding: 0;
        @include border-radius(0);
    }

    .head-wrap {
        display: flex;
        justify-content: space-between;
        margin-bottom: 4rem;

        @media only screen and (max-width: $media-mobile) {
            flex-direction: column;
            margin-bottom: 3.2rem;
        }

        .title {
            font-size: 3.6rem;
            font-family: $font-semiBold;
            color: $clr-base;

            @media only screen and (max-width: $media-mobile) {
                font-size: 2rem;
            }

        }

        .red-text {
            color: #D2042D;
        }

        .cp-search {
            width: 34.3rem;

            @media only screen and (max-width: $media-mobile) {
                width: 100%;
                margin-top: 1.6rem;
            }

            .search-icon {
                color: #B3B3B3;
            }

            @media only screen and (max-width: $media-mobile) {
                .search-wrap {
                    display: block;
                }
            }
        }
    }

    .sec-cont {
        margin-bottom: 2rem;
    }

    .my-order-cont-wrap {
        border: 1px solid #DEDEDE;
        padding: 1.6rem;
        @include border-radius(1.6rem);
        background: #fff;
        position: relative;

        .cont-head {
            padding-bottom: 1.2rem;
            margin-bottom: 1.2rem;
            border-bottom: 1px solid #DEDEDE;

            .order-date {
                display: flex;
                justify-content: space-between;
                font-size: 1.2rem;
                color: #666666;
                align-items: center;

                .order-tag {
                    padding: 2px 8px;
                    @include border-radius(2.6rem);

                    &.blue {
                        background: #D8E5F8;
                        color: #00398C;

                    }

                    &.yellow {
                        background: #FFF1CC;
                        color: #A77800;
                    }

                    &.green {
                        background: #CCEDD9;
                        color: #00A441;
                    }

                    &.red {
                        background: #FCDACC;
                        color: #EE4400;
                    }
                }

            }

            .order-no {
                display: flex;
                justify-content: space-between;
                color: $clr-base;
                font-size: 1.6rem;
                font-family: $font-medium;
                align-items: center;
                margin: 8px 0;

                .price {
                    font-size: 2rem;

                    @media only screen and (max-width: $media-mobile) {
                        font-size: 1.6rem;
                    }
                }
            }

            .order-status {
                display: flex;
                align-items: center;
                font-size: 1.2rem;
                font-family: $font-medium;
                color: $clr-base;
                gap: 4px;

                .icon {
                    font-size: 1.6rem;
                }

                &.red {
                    color: #EE4400;

                    .icon {
                        color: #EE4400;
                    }
                }

                &.red-icon {
                    .icon {
                        color: #EE4400;
                    }
                }

                &.blue {
                    .icon {
                        color: #3D7EDB;
                    }
                }

                &.green {
                    .icon {
                        color: #00A441;
                    }
                }
            }
        }

        .product-title {
            font-size: 1.6rem;
            color: $clr-base;
            font-family: $font-medium;
            margin-bottom: 1.2rem;

            @media only screen and (max-width: $media-mobile) {
                font-size: 1.4rem;
            }
        }

        .product-list-wrap {
            display: flex;
            justify-content: space-between;
            align-items: end;

            @media only screen and (max-width: $media-mobile) {
                flex-direction: column;
                align-items: start;
            }

            .prodcut-list-main {
                display: flex;
                align-items: center;
                gap: 1.2rem;

                .product-list {
                    @include border-radius(1.2rem);
                    width: 84px;
                    height: 84px;
                    border: 1.78px solid #DEDEDE;
                    overflow: hidden;

                    @media only screen and (max-width: $media-mobile) {
                        width: 62px;
                        height: 62px;
                    }

                    &.typ-number {
                        display: flex;
                        align-items: center;
                        color: #666666;
                        font-size: 2.4rem;
                        justify-content: center;

                        @media only screen and (max-width: $media-mobile) {
                            font-size: 1.6rem;
                        }
                    }
                }
            }

            .btn-wrap {
                display: flex;
                gap: 1.2rem;
                margin-top: 1.6rem;

                @media only screen and (max-width: $media-mobile) {
                    width: 100%;
                }

                .w-224 {
                    min-width: 22.4rem !important;

                    @media only screen and (max-width: $media-mobile) {
                        min-width: 100% !important;
                    }
                }

                .btn {
                    font-size: 1.4rem;
                    min-width: 13.7rem;

                    @media only screen and (max-width: $media-mobile) {
                        min-width: 48%;
                    }
                }
            }
        }

        .btn-wrap-main {
            padding-top: 1.2rem;
            margin-top: 1.2rem;
            border-top: 1px solid #DEDEDE;

            .w-224 {
                min-width: 22.4rem !important;

                @media only screen and (max-width: $media-mobile) {
                    min-width: 100% !important;
                }
            }

            .btn {
                font-size: 1.4rem;
                min-width: 13.7rem;
            }
        }
    }


    &.typ-order-details {
        padding: 0;
        overflow: visible;

        .head-wrap {
            padding: 2.4rem 4rem;
            border-bottom: 1px solid #DEDEDE;
            flex-direction: column;

            @media only screen and (max-width: $media-mobile) {
                padding: 2.4rem 1.6rem;
                margin: 0 -1.6rem;
            }

            .title {
                font-size: 2.4rem;

                @media only screen and (max-width: $media-mobile) {
                    font-size: 2rem;
                }
            }

            .payment-status {
                display: flex;
                align-items: center;
                width: 100%;
                gap: 6px;
                color: #EE4400;
                font-size: 1.2rem;
                font-family: $font-medium;

                .icon {
                    color: #EE4400;
                    font-size: 1.6rem;
                }

                .btn {
                    margin-left: auto;
                    font-size: 1.4rem;
                    padding: 10px;
                }
            }
        }

        .sec-cont {
            padding: 1.6rem 4rem;

            @media only screen and (max-width: $media-mobile) {
                padding: 2.4rem 1.6rem;
                border-bottom: 1px solid #DEDEDE;
                margin: 0 -1.6rem;
            }

            &:last-child {
                @media only screen and (max-width: $media-mobile) {
                    border-bottom: 0;
                }
            }

            .sec-head {
                margin-bottom: 1.6rem;

                .sub-title {
                    font-size: 2rem;
                    font-family: $font-semiBold;
                    color: $clr-base;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    .link-list {
                        display: flex;
                        gap: 16px;

                        .link {
                            font-family: $font-medium;
                            font-size: 1.4rem;
                            text-decoration: underline;
                            position: relative;

                            @media only screen and (max-width: $media-mobile) {
                                font-size: 1.2rem;
                            }
                        }

                        & .link+.link::before {
                            content: '|';
                            font-size: 1.4rem;
                            padding-inline: 0.4rem;
                            font-family: $font-regular;
                            position: absolute;
                            left: -12px;
                            color: #DEDEDE;

                            @media only screen and (max-width: $media-sm) {
                                font-size: 1.2rem;
                            }
                        }
                    }
                }

                .desc {
                    color: #666666;
                    font-size: 1.4rem;
                }

                &.border-b {
                    border-bottom: 1px solid #DEDEDE;
                    padding-bottom: 1.2rem;
                }
            }

            .cp-cart-card {
                padding: 1.6rem 2.4rem;

                @media only screen and (max-width: $media-mobile) {
                    padding: 1.2rem;
                }

                .tag {
                    padding: 2px 8px;
                    @include border-radius(2.6rem);
                    background: #D8E5F8;
                    color: #3D7EDB;
                }
            }

            .link {
                font-size: 1.4rem;
                text-decoration: underline;
                font-family: $font-medium;
            }
        }


    }

    .delivery-details {
        .delivery-details-list {
            margin-bottom: 1.6rem;

            .title {
                font-size: 1.6rem;
                font-family: $font-medium;
                color: $clr-base;
            }

            .desc {
                font-size: 1.6rem;
                line-height: 2.4rem;
                color: #666666;

                @media only screen and (max-width: $media-mobile) {
                    font-size: 1.4rem;
                }

                &.typ-address {
                    max-width: 400px;
                }
            }
        }
    }

    .refund-details {
        .refund-details-list {
            margin-bottom: 1.6rem;
            display: flex;
            justify-content: space-between;

            .title {
                font-size: 1.6rem;
                font-family: $font-medium;
                color: $clr-base;
            }

            .desc {
                font-size: 1.4rem;
                line-height: 2.4rem;
                color: #666666;

                @media only screen and (max-width: $media-mobile) {
                    font-size: 1.4rem;
                }

                &.typ-address {
                    max-width: 400px;
                }
            }
        }
    }

    .m-payment-wrap {
        @media only screen and (max-width: $media-mobile) {
            padding: 2.4rem 1.6rem;
            border: 1px solid #DEDEDE;
            @include border-radius(1.6rem);
        }
    }

    .payment-details-wrap {
        .payment-details {
            display: flex;
            gap: 8px;
            align-items: end;

            @media only screen and (max-width: $media-mobile) {
                flex-wrap: wrap;
            }

            .icon {
                width: 4rem;
                height: 4rem;
                @include border-radius(0.8rem);
                padding: 4px;
                border: 1px solid #DEDEDE;
            }

            .link {
                margin-left: auto;

                @media only screen and (max-width: $media-mobile) {
                    width: 100%;
                    margin-left: 48px;
                }
            }

            .payment-text {
                .title {
                    font-size: 1.6rem;
                    font-family: $font-semiBold;
                    color: $clr-base;
                }

                .small-text {
                    color: #666666;
                    font-size: 1.4rem;
                }
            }
        }
    }

    .dealer-details-wrap {
        border: 1px solid #DEDEDE;
        @include border-radius(1.6rem);
        padding: 1.2rem;

        .dealer-details {
            display: flex;
            gap: 8px;

            .icon {
                font-size: 2.4rem;
                color: #999999;
            }

            .dealer-text {
                .title {
                    font-size: 1.6rem;
                    font-family: $font-semiBold;
                    color: $clr-base;

                    @media only screen and (max-width: $media-mobile) {
                        font-size: 1.4rem;
                    }
                }


            }
        }

        .prgress-bar-main {
            border-top: 1px solid #DEDEDE;
            padding-top: 1.2rem;
            margin-top: 1.2rem;

            .desc {
                display: flex;
                align-items: center;
                font-size: 1.2rem;
                color: #666666;
                justify-content: space-between;

                @media only screen and (max-width: $media-mobile) {
                    font-size: 1rem;
                }

                .time {
                    color: $clr-base;
                    font-family: $font-medium;
                }
            }

            .progress {
                margin: 12px auto 0;
                padding: 0;
                width: 100%;
                height: 4px;
                overflow: hidden;
                background: #DEDEDE;
                @include border-radius(1.2rem);
            }

            .bar {
                position: relative;
                float: left;
                min-width: 1%;
                height: 100%;
                background: #D2042D;
                @include border-radius(1.2rem);
            }
        }

    }

    .order-details {
        border: 1px solid #DEDEDE;
        @include border-radius(1.6rem);
        overflow: hidden;

        @media only screen and (max-width: $media-mobile) {
            // padding: 1.2rem;
        }

        .product-head {
            padding: 1.6rem 2.4rem;
            background-color: #ECF2FB;

            .product-desc {
                display: flex;
                font-size: 1.4rem;
                justify-content: space-between;
                color: $clr-base;
                margin-top: 4px;
                align-items: center;

                .tag {
                    border: 1px solid #EE4400;
                    color: #EE4400;
                    background-color: #fff;
                    @include border-radius(1.6rem);
                    font-size: 1.2rem;
                    padding: 2px 8px;
                    line-height: normal;
                }
            }

            .product-title {
                font-size: 2rem;
                color: #00398C;
                line-height: 2.8rem;
                display: flex;
                font-family: $font-semiBold;
                justify-content: space-between;

                .price {
                    font-size: 2rem;
                    color: #00398C;
                }
            }
        }
    }

    .review-star {
        .icon {
            font-size: 1.6rem;
            width: 1.6rem;
            height: 1.6rem;
            color: #CCCCCC;

            &.typ-active {
                color: #FFB800;
            }
        }
    }

    .typ-cancel-order-radio {
        display: flex;
        gap: 1.2rem;
        flex-wrap: wrap;

        .bs-radio {
            margin-bottom: 0;

            @media only screen and (max-width: $media-mobile) {
                width: 100%;
            }

            .custom-radio {
                min-width: auto;
                padding: 1.2rem 2.4rem;

                @media only screen and (max-width: $media-mobile) {
                    min-width: 100%;
                }
            }
        }
    }

    .cp-form {
        .form-label {
            font-family: $font-semiBold !important;
            color: $clr-base !important;
            font-size: 1.6rem;
        }
    }

    .mb-0 {
        margin-bottom: 0 !important;
    }

    .typ-cancel-order {
        background: #ECF2FB !important;
        border: 1px solid #B1CBF1 !important;
        @include border-radius(1.6rem !important);

        .prodcut-item {
            margin-bottom: 0 !important;
        }
    }

    .text-bold {
        color: $clr-base;
        font-family: $font-semiBold;
    }

    .description {
        max-width: 678px;
        font-size: 1.2rem;

        .link {
            text-decoration: underline;
        }
    }
}

.typ-order-management {
    margin-top: 3.2rem;
    display: flex;
    gap: 2rem;
    justify-content: flex-end;

    @media only screen and (max-width: $media-mobile) {
        gap: 1.2rem;
    }

    .btn {
        min-width: 34rem;

        @media only screen and (max-width: $media-mobile) {
            min-width: 48%;
        }
    }
}


// drawer
.typ-my-order-drawer {
    .head-sec {
        padding: 0rem 0 2.4rem;

        .drawer-title {
            font-size: 2rem;
            font-family: $font-semiBold;
        }
    }

    .cont-wrapper {

        position: relative;
    }

    .cont-sec {
        min-height: 74vh;
        height: auto;
    }

    .mb-12 {
        margin-bottom: 1.2rem;
    }

    .order-dealer-wrap {
        margin-bottom: 2.4rem;
        padding-bottom: 2.4rem;
        border-bottom: 1px solid #DEDEDE;

        .order-dealer-head {
            display: flex;
            justify-content: space-between;
            margin-bottom: 2.4rem;
            padding-bottom: 1.6rem;
            border-bottom: 1px solid #DEDEDE;

            .head-text {
                .title {
                    color: #00398C;
                    font-size: 2rem;
                    font-family: $font-semiBold;
                }

                .desc {
                    font-size: 1.2rem;
                    color: $clr-base;
                }


            }

            .price {
                color: #00398C;
                font-size: 2rem;
                font-family: $font-semiBold;
            }
        }
    }

    .cp-search {
        width: 100%;
        margin-bottom: 2.4rem;
    }

    .w-100 {
        width: 100%;
        min-width: 100%;
    }

    .btn-wrap {
        bottom: -16px;
        position: sticky;
        background-color: #fff;
        left: 0;
        right: 0;
        padding: 1.2rem;

    }

}

.tab {
    display: none;
}

// rating experience

.rating-main {
    @include border-radius(1.6rem);
    border: 1px solid #DEDEDE;
    margin-top: -24px;
    overflow: hidden;
    // position: relative;
    // z-index: -1;

    .radio-wrap {
        gap: 8px;
        display: flex;
        justify-content: space-between;
        margin: 1.6rem 0;

        @media only screen and (max-width: $media-mobile) {
            gap: 0px;
        }
    }

    .rating-head {
        background: #FFF1CC;
        border-bottom: 1px solid #FFD466;
        padding: 2.8rem 1.6rem 1.2rem;

        .head-title {
            font-size: 2rem;
            font-family: $font-semiBold;
            color: $clr-base;
            @media only screen and (max-width: $media-mobile) {font-size: 1.6rem}
        }
    }

    .desc {
        color: $clr-base;
    }

    .rating-sec {
        display: flex;
        justify-content: space-between;
        padding: 1.2rem 1.6rem;
        align-items: center;

        @media only screen and (max-width: $media-mobile) {
            flex-direction: column;
            width: 100%;
        }

        .rating-wrap {
            width: 65%;

            @media only screen and (max-width: $media-mobile) {
                width: 100%;
            }
        }
    }

    &.typ-2 {
        margin-top: 0;

        .rating-head {
            padding: 1.2rem 0;
            margin: 0 2.4rem;
            background-color: transparent;
            border-bottom: 1px solid #DEDEDE;
        }
    }

    &.typ-3 {
        border: 0;
        margin-top: 4rem;
        @include border-radius(0);

        .desc {
            font-family: $font-medium
        }

        .rating-sec {
            flex-direction: column;
            padding: 0;
            align-items: inherit;

            .rating-wrap {
                width: 100%
            }
        }

        .step-sec {
            .steps-num-main {
                display: flex;
                align-items: center;
                justify-content: space-between;
                font-size: 1.2rem;
                color: #333333;

                .steps-num {
                    font-family: $font-medium;
                    color: #666666;
                }
            }

            .step-main {
                display: flex;
                gap: 0.4rem;
                margin-bottom: 2.4rem;

                .step {
                    width: auto;
                    -ms-flex-preferred-size: 0;
                    flex-basis: 0;
                    -webkit-box-flex: 1;
                    -ms-flex-positive: 1;
                    flex-grow: 1;
                    max-width: 100%;
                    width: 25%;
                    height: 3px;
                    background-color: #CCCCCC;
                    @include border-radius(1rem);

                    &.active {
                        background-color: #3D7EDB;
                    }

                    &.finish {
                        background-color: #00A441;
                    }
                }
            }
        }
    }
}

.typ-rate-experience {
    .title {
        font-family: $font-semiBold;
        font-size: 2rem;
        color: $clr-base;
    }

    .cp-form {
        margin-top: 0;
    }
}