@import "../config/variables";
@import "../config/mixin";


.cp-other-info {
    margin-top: 4.8rem;
    margin-bottom: 2.4rem;

    @media only screen and (max-width: $media-mobile) {
        margin-block: 3.2rem;
    }

    .other-info-list {
        .other-info-item {
            border-radius: 12px;
            border: 1px solid $clr-border;
            padding: 1.6rem 4rem 1.6rem 1.6rem;
            font-size: 1.6rem;
            color: $clr-base;
            display: flex;
            flex-wrap: wrap;
            margin-bottom: 1.2rem;
            font-family: $font-semiBold;
            flex-direction: column;
            position: relative;
            cursor: pointer;

            @media only screen and (max-width: $media-mobile) {
                font-size: 1.4rem;
                line-height: 2rem;
            }

            &:after {
                content: "\e907";
                position: absolute;
                right: 0;
                top: 50%;
                font-size: 2.4rem;
                color: #999999;
                font-family: 'icomoon' !important;
                transform: translate(-50%, -50%) rotate(181deg)
            }

            .sub-item {
                font-size: 1.4rem;
                color: $clr-para;
                font-family: $font-regular;
                line-height: 1.6rem;

                &.typ-green {
                    border: 1px solid #66C88D;
                    background: #E5F6EC;
                    font-size: 1.4rem;
                    color: #00A441;
                    font-family: $font-medium;
                    border-radius: 26px;
                    max-width: 16rem;
                    text-align: center;
                    padding: 0.3rem;

                }
            }

            .sub-item-list {
                display: flex;

                .icon {
                    color: #FFB800;
                    position: relative;

                    &:nth-child(5) {
                        padding-right: 1rem;

                        &::after {
                            content: '';
                            background-color: $clr-para;
                            width: 1px;
                            height: 13px;
                            position: absolute;
                            right: 5px;
                            top: 1px;
                        }
                    }
                }
            }
        }
    }

    .act-wrap {
        position: sticky;
        bottom: 20px;
    }

    &.typ-icon {
        .other-info-list {
            align-items: center;
            justify-content: space-between;
            flex-direction: row;
            gap: 2rem;

            .other-info-item {
                align-items: center;
                justify-content: flex-start;
                flex-direction: row;
                gap: 1.2rem;
                width: 50%;

                @media only screen and (max-width: $media-mobile) {
                    width: 100%;
                }

                .icon {
                    font-size: 2.4rem;
                    line-height: 2.6rem;
                    color: $clr-primary;
                }
            }
        }
    }

    &.typ-tiscon {
        .other-info-list {
            display: flex;
            align-items: flex-start;
            gap: 2rem;

            @media only screen and (max-width: $media-mobile) {
                flex-wrap: wrap;
                gap: 1.2rem;
                margin-bottom: 0;
            }

            .other-info-item {
                flex-wrap: nowrap;
                flex-direction: row;
                width: 50%;
                gap: 1.2rem;
                align-items: center;

                @media only screen and (max-width: $media-mobile) {
                    margin-bottom: 0;
                    width: 100%;
                }

                .icon {
                    color: $clr-primary;
                }
            }
        }
    }

    &.typ-payment {
        .tag {
            border: 1px solid #66C88D;
            background-color: #CCEDD9;
            border-radius: 2.6rem;
            font-size: 1.2rem;
            color: $clr-base;
            padding: 2px 8px;
            display: inline-flex;
        }
    }

    &.typ-sp-landing {
        margin-top: 3.2rem;
        margin-bottom: 0;
        border-bottom: 1px solid #DEDEDE;
        padding-bottom: 3.2rem;
        @media only screen and (max-width: $media-mobile) { margin-top: 1.6rem;}
        .other-info-list {
            .other-info-item {
                margin-bottom: 0;
                max-width: 40rem;
                flex-direction: initial;
                gap: 8px;
                font-size: 1.4rem;
                font-family: $font-medium;

                .icon {
                    width: 4rem;
                    height: 4rem;
                    @include border-radius(50%);
                    padding: 8px;
                    font-size: 2.4rem;
                    color: #3D7EDB;
                    background-color: #ECF2FB;
                }

                .link {
                    text-decoration: underline;
                    color: #3D7EDB;
                    font-family: $font-medium;
                    display: block;
                }

                &:after {
                    content: "\e907";
                    position: absolute;
                    right: 10px;
                    bottom: 18px;
                    font-size: 1.6rem;
                    color: #3D7EDB;
                    font-family: 'icomoon' !important;
                    transform: rotate(181deg);
                }
            }
        }

    }
}