@import "../config/variables";
@import "../config/mixin";

.cp-offer-banner {
    position: relative;
    display: flex;
    align-items: center;
    height: 176px;
    width: 100%;
    border-radius: 16px;
    overflow: hidden;
    padding: 10px 10px 10px 24px;
    img{
        object-fit: cover;
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
    }
    .offer-content{
        display: flex;
        justify-content: center;
        flex-direction: column;
        z-index: 1;
    }
    .offer-text{
        font-family: $font-medium;
        font-size: 16px;
        line-height: 24px;
        color: $clr-root;
        .big{
            display: flex;
            width: 100%;
            font-size: 36px;
            line-height: 48px;
            font-family: $font-semiBold;
            width: 100%;
            @media only screen and (max-width: $media-sm) {
                font-size: 28px;
                line-height: 40px;
            }
        }
    } 
    .action-wrap{
        position: relative;
        display: flex;
        margin-top: 5px;
        .btn-link{
            color: $clr-root;
            @media only screen and (max-width: $media-sm) {
                font-size: 14px;
                line-height: 20px;
            }
            &::after{
                background: $clr-root;
            }
        }  
    }
}
