@import "../config/variables";
@import "../config/mixin";

.cp-order-timeline {

    margin: 0px auto;
    position: relative;
    overflow: hidden;

    // &::before {
    //     content: '';
    //     position: absolute;
    //     top: 6px;
    //     left: 50%;
    //     margin-left: -1px;
    //     width: 2px;
    //     height: 82%;
    //     background: #CCCCCC;
    //     z-index: 1;
    //     left: 12px;
    //     width: 2px;
    // }

    .timeline-block {
        width: -webkit-calc(50% + 8px);
        width: -moz-calc(50% + 8px);
        width: calc(50% + 8px);
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: flex;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        -moz-box-pack: justify;
        justify-content: space-between;
        clear: both;
    }

    .timeline-block-right {
        float: right;
        position: relative;
        &::before {
            content: "";
            position: absolute;
            top: 30px;
            left: 11px;
            width: 2px;
            height: 100%;
            background: #CCCCCC;
            z-index: 1;

        }
        &::after {
            content: "";
            position: absolute;
            top: 30px;
            left: 11px;
            width: 2px;
            height: 0%;
            background: #00A441;
            z-index: 1;

        }

        &:last-child {
            &::after {
                display: none;
            }
            &::before {
                display: none;
            }
        }

        .marker {
            width: 24px;
            height: 24px;
            ;
            border-radius: 50%;
            // border: 2px solid #F5F7FA;
            // background: #b8b8b8;
            margin-top: 5px;
            z-index: 1;
            text-align: center;
            position: relative;
            left: 0px;
        }
        .icon {
            color: #CCCCCC;
            font-size: 2.4rem;
        }
        &.active {
            &::after {
                height: 100%;
            }

            .marker {
                width: 24px;
                height: 24px;
                // background: #5bd040;
                left: 0px;
            }

            .icon {
                display: block !important;
                position: absolute;
                top: 0;
                right: 0;
                left: 0;
                bottom: 0;
                margin: auto;
                color: #00A441;
            }
        }
    }

    .timeline-content {
        width: 95%;
        padding: 0 15px;
        color: #666
    }


    .timeline-content h3 {
        font-size: 16px;
        font-family: $font-semiBold;
        color: $clr-base;
    }

    .timeline-content span {
        font-size: 12px;
        color: #666666;
    }

    .timeline-content p {
        font-size: 14px;
        line-height: 1.5em;
        word-spacing: 1px;
        color: #888;
    }

    .timeline-block {
        width: 100%;
        margin-bottom: 30px;
    }

    .timeline-block-right {
        float: none;
    }

    .timeline-block-left {
        float: none;
        direction: ltr;
    }


}