
@import "../config/variables";
@import "../config/mixin";

.cp-progress-bar-pravesh{
display: flex;
justify-content: flex-start;
gap: 0.8rem;
margin-bottom: 2rem;
.progress-bar{
    width:16%;
    height: 4px;
    background: #ccc;
    border-radius: 8px;
    &.green{
        background: #00A441;
    }
    &.blue{
        background: $clr-primary;
    }
    @media only screen and (max-width: $media-mobile) {
        width: 16%;
    }
}
}