@import "../config/variables";
@import "../config/mixin";

.cp-project-planner {
    .cont-wrap {
        padding-right: 10rem;

        @media only screen and (max-width: $media-mobile) {
            padding-right: 0;
            margin-bottom: 1.6rem;
        }

        .sec-head {
            margin-bottom: 1rem;
        }

        .desc {
            color: $clr-base;
            line-height: 2.8rem;
        }

        .btn-wrap {
            margin-top: 3.2rem;

            .btn {
                min-width: 24rem
            }
        }
    }

    .project-planner-wrap {
        border: 1px solid #DEDEDE;
        padding: 2.4rem;
        background-color: #fff;
        @include border-radius(1.6rem);
        margin-bottom: 1.2rem;

        @media only screen and (max-width: $media-mobile) {
            padding: 1.6rem;
        }

        &.typ-bg-color {
            border-color: #FFD466;
            background-color: #FFF8E5;
        }

        .title {
            font-size: 2rem;
            color: $clr-base;
            font-family: $font-semiBold;

            &.ellipsis {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }

        .sub-title {
            font-size: 1.2rem;
            margin-bottom: 8px;
        }

        .cont-sec {
            border-top: 1px solid #FFD466;
            padding-top: 1.6rem;
            margin-top: 1.6rem;
        }

        .desc {
            font-size: 1.4rem;
            color: $clr-base;
            line-height: 2rem;
        }

        .progress-bar-wrap {
            background-color: #00398C;
            padding: 1.2rem;
            @include border-radius(0.8rem);
            margin-top: 1.6rem;

            .ellipsis {
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 1;
                -webkit-box-orient: vertical;
                overflow: hidden;
            }

            .dates-wrap {
                display: flex;
                align-items: center;
                justify-content: space-between;

                .date {
                    font-size: 1.2rem;
                    color: #fff;
                    font-family: $font-medium;
                }
            }

            .progress {
                height: 4px;
                margin: 8px 0;
                overflow: hidden;
                background-color: #f5f5f5;
                border-radius: 11px;

                .progress-bar {
                    float: left;
                    width: 0%;
                    height: 100%;
                    color: #fff;
                    text-align: center;
                    background-color: #00A441;
                    -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .15);
                    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .15);
                    -webkit-transition: width .6s ease;
                    -o-transition: width .6s ease;
                    transition: width .6s ease;
                }
            }

            .days {
                font-size: 1rem;
                color: #fff;
                font-family: $font-medium;
                text-align: right;
            }
        }
    }

    .planner-img-wrap {
        width: 280px;
        height: 280px;
        @include border-radius(50%);
        border: 3px solid #ECF2FB;
        margin: auto;
        background-color: rgba(236, 242, 251, 10%);
        overflow: hidden;
        padding: 28px 0 0 40px;
        margin-bottom: 2.4rem;

        &.blue-circle {
            background-color: rgba(236, 242, 251, 10%);
            border: 3px solid #ECF2FB;
        }

        &.green-circle {
            background-color: rgba(153, 218, 179, 10%);
            border: 3px solid #99DAB3;
        }

        &.orange-circle {
            background-color: rgba(255, 227, 153, 10%);
            border: 3px solid #FFE399;
        }

        &.pink-circle {
            background-color: rgba(237, 155, 171, 10%);
            border: 3px solid #ED9BAB;
        }
    }

    .planner-cont-wrap {
        text-align: center;
        max-width: 217px;
        margin: auto;

        @media only screen and (max-width: $media-mobile) {
            font-size: 1.6rem;
        }

        .title {
            font-size: 2.4rem;
            color: $clr-base;
            font-family: $font-semiBold;
            margin-bottom: 1.2rem;
        }

        .desc {
            color: $clr-base;
            line-height: 2.8rem;
        }
    }

    .project-planner-main {
        @media only screen and (max-width: $media-mobile) {
            border: 1px solid #DEDEDE;
            @include border-radius(1.2rem);
            padding: 1.6rem;

            .planner-head-title {
                display: flex;
                align-items: center;
                font-size: 1.6rem;
                font-family: $font-semiBold;
                color: $clr-base;
                padding-bottom: 1.2rem;
                margin-bottom: 1.2rem;
                border-bottom: 1px solid #DEDEDE;
                gap: 0.8rem;

                .icon {
                    width: 3.2rem;
                    height: 3.2rem;
                    background-color: #FFF8E5;
                    @include border-radius(50%);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: #FFB800;
                    font-size: 1.6rem;
                }
            }

            .desc {
                color: $clr-base;
                line-height: 2.4rem;
                margin-bottom: 1.6rem;
            }

            .btn {
                min-width: 100%;
            }
        }
    }


    &.typ-2 {
        .project-planner-main {
            padding: 0;
            border: 0;
            @include border-radius(0);

            .project-planner-wrap {
                padding: 1.6rem;
                position: relative;
                z-index: 2;

                .title {
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    justify-content: space-between;

                    .icon {
                        color: #3D7EDB;
                        font-size: 1.8rem;
                    }
                }

                &.typ-blue-bg {
                    background-color: #ECF2FB;
                    border-color: #B1CBF1;

                }

                &.mt-3 {
                    margin-top: -3rem;
                    position: relative;
                    z-index: 1;
                    padding-top: 3rem;
                }

                .total-spent {
                    display: flex;
                    align-items: center;
                    font-size: 1.2rem;
                    gap: 4px;
                    color: $clr-base;
                    font-family: $font-medium;


                    .icon {
                        font-size: 1.2rem;
                        color: #000;
                    }

                    .link {
                        margin-left: auto;
                        text-decoration: underline;
                    }
                }

                .detail-wrap {
                    transition: all 0.3s ease-in-out;
                    border-top: 1px solid #B1CBF1;
                    margin-top: 1.2rem;

                    .detail-list {
                        display: flex;
                        align-items: center;
                        font-size: 1.2rem;
                        gap: 4px;
                        color: $clr-base;
                        margin-top: 1.2rem;

                        .text-bold {
                            font-family: $font-medium;
                        }

                        .icon {
                            font-size: 1.6rem;
                        }
                    }
                }
            }
        }
    }

    .stage-wrap {
        // padding-left: 2rem;

        .stage-head-sec {
            display: flex;
            align-items: center;
            margin-bottom: 2.4rem;

            .title {
                display: flex;
                align-items: center;
                gap: 12px;
                font-size: 2.4rem;
                font-family: $font-semiBold;
                color: $clr-base;

                .link {
                    text-decoration: underline;
                    font-size: 1.2rem;
                }
            }

            .cp-select {
                margin-left: auto;
            }

            &.typ-2 {
                margin-bottom: 1.6rem;

                .title {
                    font-size: 2rem;
                    justify-content: space-between;
                    width: 100%;

                    .count {
                        font-size: 1.2rem;
                        color: #808080;
                        font-family: $font-regular;
                    }


                    &.typ-2 {
                        display: block;

                        .sub-text {
                            font-size: 1.4rem;
                            color: $clr-base;
                            margin-top: 4px;
                            font-family: $font-regular;
                            display: block;
                        }
                    }
                }

                .link {
                    text-decoration: underline;
                    font-size: 1.4rem;
                    white-space: nowrap;

                    &.disable {
                        color: #B3B3B3;
                        pointer-events: none;
                    }
                }
            }
        }

        .stage-steps-wrap {
            background-color: #FFF8E5;
            @include border-radius(1.2rem);
            padding: 1.6rem 2.4rem;
            margin-bottom: 2.4rem;
            position: relative;

            .head-wrap {
                border-bottom: 1px solid #FFE399;
                padding-bottom: 1.2rem;
                margin-bottom: 1.2rem;

                .title {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    font-size: 1.4rem;
                    color: $clr-base;
                    font-family: $font-medium;
                }


            }

            .icon {
                color: #FFD466;
                font-size: 2.4rem;
                cursor: pointer;
                position: absolute;
                right: 12px;
                top: 12px;
            }

            .step-text {
                font-size: 1.2rem;
                color: $clr-base;
                font-family: $font-medium;
            }

            .desc {
                font-size: 1.4rem;
                color: $clr-base;
            }
        }

        .stage-list-wrap {
            .stage-list {
                margin-bottom: 1.2rem;
            }

            .stage-list-sec {
                border: 1px solid #DEDEDE;
                @include border-radius(1.2rem);
                padding: 1.6rem 2.4rem;
                position: relative;
                overflow: hidden;
                background-color: #fff;
                z-index: 2;

                &::after {
                    content: '';
                    width: 8px;
                    height: 100%;
                    background-color: #FFB800;
                    position: absolute;
                    left: 0;
                    overflow: hidden;
                    top: 0;
                    bottom: 0;
                }

                .title {
                    font-size: 1.6rem;
                    font-family: $font-semiBold;
                    color: $clr-base;
                    margin-bottom: 4px;
                }

                .desc {
                    font-size: 1.4rem;
                    color: #666;
                }

                .tag-wrap {
                    display: flex;
                    align-items: center;
                    gap: 5px;

                    .tag {
                        background-color: #FFF1CC;
                        border: 1px solid #FFD466;
                        @include border-radius(26px);
                        padding: 4px 8px;
                        font-family: $font-medium;
                        font-size: 1.2rem;
                        color: $clr-base;
                        display: inline-block;
                        line-height: 1.2rem;
                        margin-bottom: 1.6rem;

                        &.blue {
                            color: #3D7EDB;
                            background-color: #ECF2FB;
                            border-color: #3D7EDB;
                        }

                        &.green {
                            color: $clr-base;
                            background-color: #CCEDD9;
                            border-color: #66C88D;
                        }

                        &.red {
                            color: #EE4400;
                            background-color: #fff;
                            border-color: #EE4400;
                        }

                        &.green-br {
                            color: #00A441;
                            background-color: #fff;
                            border-color: #00A441;
                        }

                        &.grey {
                            color: #fff;
                            background-color: #999999;
                            border-color: #999999;
                        }
                    }

                    .icon {
                        font-size: 1.8rem;
                        margin-left: auto;
                        color: #3D7EDB;
                    }

                    .text {
                        margin-left: auto;
                        font-size: 1.2rem;
                        font-family: $font-medium;
                        color: $clr-base;
                    }
                }

                .expense-detail-wrap {
                    display: flex;
                    gap: 4rem;

                    .expense-detail-list {
                        .expense-title {
                            margin-bottom: 4px;
                            font-size: 1.4rem;
                            color: #666;
                            display: block;
                        }


                        .expense-detail {
                            font-size: 1.4rem;
                            color: $clr-base;
                            font-family: $font-medium;
                            display: block;
                        }

                        .link {
                            text-decoration: underline;
                        }
                    }

                    .radial-progressbar {
                        margin-left: auto;

                        .progress-container {
                            position: relative;
                            width: 40px;
                            height: 40px;
                        }

                        .progress-circle {
                            width: 100%;
                            height: 100%;
                            transform: rotate(-90deg);
                        }

                        circle {
                            fill: none;
                            stroke-width: 4;
                            stroke-linecap: round;
                            transition: stroke-dasharray 0.5s ease;
                        }

                        .background-circle {
                            stroke: #F3F4F6;
                        }

                        .progress {
                            stroke: #4caf50;
                            stroke-dasharray: 67 100;
                        }

                        .progress-text {
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                            font-size: 10px;
                            color: $clr-base;
                        }
                    }
                }

                &.blue {

                    &::after {
                        background-color: #3D7EDB;
                    }
                }

                &.green {

                    &::after {
                        background-color: #00A441;
                    }
                }

                &.no-color {
                    &::after {
                        content: none;
                    }
                }

                .check-list-btn {
                    display: flex;
                    gap: 0.8rem;
                    margin-top: 1.6rem;

                    .btn {
                        padding: 1rem 1.6rem;
                        font-size: 1.4rem;
                    }
                }

                .total-spent {
                    display: flex;
                    align-items: center;
                    font-size: 1.4rem;
                    color: #333333;
                    margin-bottom: 8px;
                    gap: 8px;

                    .price {
                        font-family: $font-semiBold;
                        font-size: 1.4rem;
                    }
                }

                .no-stage {
                    max-width: 120px;
                    margin: auto;
                    text-align: center;

                    .img {
                        max-width: 120px;
                        margin: auto;
                    }

                    .title {
                        font-size: 1.6rem;
                        font-family: $font-semiBold;
                        color: $clr-base;
                    }
                }

                .info-wrap {
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    padding: 0.8rem 0;
                    gap: 8px;
                    border: 0;
                    border-top: 1px solid #DEDEDE;
                    margin-top: 8px;
                    background: transparent;
                    border-radius: 0;
                    margin-bottom: 0;

                    .icon {
                        font-size: 1.6rem;
                        color: #EE4400;
                    }

                    .desc {
                        font-size: 1rem;
                        font-family: $font-medium;
                        color: #EE4400;
                        margin-bottom: 0;
                    }
                }
            }

            .total-spend-list {
                background-color: #ECF2FB;
                border: 1px solid #B1CBF1;
                padding: 20px 16px 12px;
                @include border-radius(1.2rem);
                margin-top: -15px;
                z-index: 1;
                position: relative;

                .total-spent {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    font-size: 1.4rem;
                    color: $clr-base;
                    margin-bottom: 8px;

                    .price {
                        font-family: $font-semiBold;
                        font-size: 1.6rem;
                    }
                }

                .link-list {
                    display: flex;
                    align-items: center;
                    gap: 1.6rem;

                    .link {
                        text-decoration: underline;
                        font-size: 1.4rem;
                        position: relative;
                    }

                    & .link+.link::before {
                        content: '|';
                        font-size: 1.4rem;
                        padding-inline: 0.4rem;
                        font-family: $font-regular;
                        position: absolute;
                        left: -16px;

                        @media only screen and (max-width: $media-sm) {
                            font-size: 1.2rem;
                        }
                    }
                }


            }

            &.disable {
                pointer-events: none;

                .stage-list-sec {
                    .tag {
                        background-color: #333333;
                        border-color: #333333;
                        color: #FFFFFF
                    }

                    &::after {
                        background-color: #999999;
                    }

                    .expense-detail-wrap {
                        .expense-detail {
                            color: #999;
                            font-family: $font-regular;
                        }
                    }


                }


                .total-spend-list {
                    background-color: #EDEDED;
                    border-color: #EDEDED;

                    .link {
                        color: #999999;
                    }

                    .total-spent {
                        color: #999999;
                    }

                    .price {
                        color: #999999;
                    }

                    .link {
                        color: #999999;
                    }
                }
            }
        }

        .check-list-wrap {
            @include border-radius(1.2rem);
            border: 1px solid #DEDEDE;

            .check-list-head {
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 1.6rem;

                .check-head-left {
                    .check-title {
                        font-size: 1.4rem;
                        width: 100%;
                        color: $clr-base;
                        font-family: $font-semiBold;
                    }

                    .count {
                        font-size: 1.6rem;
                        color: #666666;
                        font-family: $font-medium;
                    }
                }

                .check-head-right {
                    .icon {
                        font-size: 1.2rem;
                        color: #000000;
                        width: 2.4rem;
                        height: 2.4rem;
                        position: relative;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        transition: transform 0.3s ease;
                    }
                }
            }

            .rotated {
                transform: rotate(180deg);
            }

            .check-list {
                padding: 1.6rem 2.4rem;
                border-top: 1px solid #DEDEDE;

                .form-group {
                    border-bottom: 1px solid #DEDEDE;
                    padding-bottom: 1.2rem;
                }

                .check-title {
                    font-size: 1.6rem;
                    font-family: $font-semiBold;
                    color: $clr-base;
                }

                .btn-wrap {
                    margin-top: 3.2rem;
                    text-align: right;

                    .btn {
                        min-width: 34.3rem
                    }
                }
            }

            &.disable {
                pointer-events: none;

                .check-title {
                    color: #808080;
                }

            }


        }

        .stage-nav-wrap {
            display: flex;
            justify-content: space-between;
            padding: 22px 16px;
            align-items: center;
            border-bottom: 1px solid #DEDEDE;

            .sub-title {
                color: #808080;
                font-size: 1.2rem;
            }

            .title {
                font-size: 2rem;
                font-family: $font-semiBold;
                color: $clr-base;
            }

            .icon {
                font-size: 2.4rem;
                width: 2.4rem;
                height: 2.4rem;
                cursor: pointer;
                color: #000;
            }
        }

        .upload-photo-wrap {
            @include border-radius(1.2rem);
            border: 1px solid #DEDEDE;
        }
    }

    .mb-32 {
        margin-bottom: 3.2rem;
    }

    .restart-btn {
        display: flex;
        gap: 10px;
        align-items: center;
        justify-content: end;

        .btn {
            padding: 1rem 1.6rem;
            font-size: 1.4rem;
        }

        .info-wrap {
            display: flex;
            border: 1px solid #FFD466;
            background: #FFF8E5;
            justify-content: flex-start;
            align-items: start;
            padding: 0.8rem 1.6rem;
            border-radius: 12px;
            gap: 8px;

            .icon {
                font-size: 2.4rem;
                color: #A77800;
            }

            .desc {
                font-size: 1.2rem;
                font-family: $font-medium;
                color: #A77800;
                margin-bottom: 0;
            }
        }
    }

    .info-wrap {
        display: flex;
        border: 1px solid #FFD466;
        background: #FFF8E5;
        justify-content: flex-start;
        align-items: center;
        padding: 0.8rem 1.2rem;
        border-radius: 12px;
        gap: 8px;
        margin-bottom: 2.4rem;

        .icon {
            font-size: 2.4rem;
            color: #A77800;
        }

        .desc {
            font-size: 1.2rem;
            font-family: "Poppins Medium";
            color: #A77800;
            margin-bottom: 0;
        }
    }

    .ideal-timeline-wrap {
        .ideal-timeline-list {
            display: flex;
            gap: 1rem;
            justify-content: space-between;
            border-bottom: 1px solid #DEDEDE;
            padding: 1.6rem 0;
            .title {
                font-size: 1.4rem;
                font-family: $font-semiBold;
                color: $clr-base;
                margin-bottom: 4px;
            }

            .desc {
                font-size: 1.2rem;
                color: #666;
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
            }
            .days{    font-size: 1.4rem;
                font-family: $font-semiBold;
                color: $clr-base; white-space: nowrap;}
        }
    }
}