@import "../config/variables";
@import "../config/mixin";

.cp-range {

  &.noUi-target {
    background: #EDEDED; // Matches the background of the container
    border-radius: 0.6rem;
    width: 100%;
    height: 0.6rem;
    .noUi-handle {
      width: 2.4rem;
      height: 2.1rem;
      background: $clr-root url('./assets/images/tsa-pointer.png') 0 0 no-repeat;
      @include border-radius(5px);
    }
  
    .noUi-tooltip {
      background-color: #007bff;
      color: #fff;
      font-size: 12px;
      border-radius: 4px;
      padding: 2px 5px;
    }
    .noUi-connect{
      background: linear-gradient(90deg, #670015 -18.73%, #D2042D 29.33%);
    }
    
  }

  
}

// .rangeslider{
//     background: #CCCCCC;
//     position: relative;
//     box-shadow: none;
//     &__fill{
//         background: linear-gradient(90deg, #670015 -18.73%, #D2042D 29.33%);
//     }
//     &__handle{
//         &::after{
//             width: 2.4rem;
//             height: 2.2rem;
//             background: url('./assets/images/tsa-pointer.png') 0 0 no-repeat;
//         }
//     }
// }

.noUi-handle:after, .noUi-handle:before{
  display: none;
}