@import "../config/variables";
@import "../config/mixin";


.cp-rebar-result {
    display: flex;

    @media only screen and (max-width: $media-mobile) {
        flex-wrap: wrap;
    }

    .grid-col-lhs {
        width: 33.5%;
        padding-right: 1.5rem;

        @media only screen and (max-width: $media-mobile) {
            width: 100%;
            padding-right: 0;
        }

    }

    .grid-col-rhs {
        width: 66.5%;

        @media only screen and (max-width: $media-mobile) {
            width: 100%;
            margin-top: 4rem;
        }
    }

    .result-wrap {
        border: 1px solid #DEDEDE;
        @include border-radius(1.6rem);
        margin-bottom: 1.6rem;

        .prod-head {
            padding: 1.2rem 1.6rem;
            background-color: $clr-bg;
            display: flex;
            justify-content: space-between;
            align-items: center;
            @include border-radius(1.6rem 1.6rem 0 0);

            .price,
            .title {
                color: #00398C;
                font-size: 2rem;
                line-height: 2.8rem;
                font-family: $font-semiBold;
            }
        }

        .product-title {
            font-family: $font-medium;
            font-size: 2rem;
            line-height: 2.8rem;
            color: $clr-base;
            margin-bottom: 1.6rem;
        }

        .cont-wrap {
            padding: 1.6rem;
            overflow-y: scroll;

            &.typ-spreator {
                border-bottom: 1px solid #DEDEDE;
            }
        }
    }

    .wrapper {
        margin-bottom: 6.4rem;

        @media only screen and (max-width: $media-mobile) {
            margin-bottom: 4.8rem;
        }
    }

    .material-wrap {
        width: 100%;
        min-height: 33.4rem;
        @include border-radius(1.6rem);
        border: 1px solid $clr-border;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 3.2rem 1.6rem;

        @media only screen and (max-width: $media-mobile) {
            padding: 2.4rem 1.2rem;
        }

        .img-wrap {
            width: 7.2rem;
            height: 7.2rem;
            background: #F58F66;
            padding: 1rem;
            margin-bottom: 1.2rem;
            @include border-radius(50%);
            display: flex;
            align-items: center;
            justify-content: center;

            .icon {
                font-size: 3.9rem;
                line-height: 7.2rem;
                color: $clr-root;
            }
        }

        .home-typ {
            font-family: $font-semiBold;
            font-size: 2rem;
            line-height: 2.8rem;
            text-align: center;
            color: $clr-base;
            position: relative;
            padding-bottom: 1.2rem;
            margin-bottom: 1.6rem;
            text-transform: capitalize;

            @media only screen and (max-width: $media-mobile) {
                font-size: 1.6rem;
                line-height: 2.4rem;
            }

            &:after {
                content: '';
                position: absolute;
                bottom: 0rem;
                left: 50%;
                transform: translateX(-50%);
                height: 3px;
                width: 4.8rem;
                background: #F16933;
                @include border-radius(1rem);
            }
        }

        .detail-list {
            display: flex;
            align-items: center;
            flex-direction: column;
            text-align: center;
            gap: 2.4rem;

            @media only screen and (max-width: $media-mobile) {
                gap: 1.2rem;
            }

            .title {
                color: $clr-black;
                font-size: 1.4rem;
                line-height: 2rem;

                @media only screen and (max-width: $media-mobile) {
                    font-size: 1.2rem;
                    line-height: 1.6rem;
                }
            }
        }

        &.typ-pink {
            .img-wrap {
                background: #DB3657;
            }

            .home-typ {
                &:after {
                    content: '';
                    background: #DB3657;
                }
            }
        }
    }


    //   this section added for Estimated building cost - calculator result  start

    &.typ-calculator-result {

        .grid-col-lhs,
        .sec-cont,
        .sec-head {
            @media only screen and (max-width: $media-mobile) {
                padding: 0 1.6rem;
            }
        }

        .wrapper {
            .mb-24 {
                margin-bottom: 2.4rem;
            }

            .wrapper-img-wrap {
                width: 100%;
                @include border-radius (1.6rem);
                overflow: hidden;
                margin-bottom: 6.4rem;
                // background: linear-gradient(180deg, #FFF3CA 33.85%, #373737 86.7%);
                display: flex;
                align-items: center;
                flex-direction: column;
                justify-content: center;
                // padding: 3rem;
                @media only screen and (max-width: $media-mobile) {
                    min-height: auto;
                    @include border-radius(0);
                    margin-bottom: 4.8rem;
                    // padding: 7rem 0rem;
                }

        
            }

            .bullet-list-wrap {
                background-color: #F3F4F6;
                padding: 2.4rem 2rem;
                @include border-radius(1.2rem);
                margin-bottom: 3.2rem;

                @media only screen and (max-width: $media-mobile) {
                    padding: 1.6rem 1.2rem;
                }

                .list-text {
                    margin-left: 2.4rem;

                    .list-item {
                        margin-bottom: 1.2rem;
                        list-style: disc;
                        font-size: 1.6rem;
                        color: $clr-base;
                    }
                }
            }

            .typ-architects-recommended {
                margin-bottom: 6.4rem;

                @media only screen and (max-width: $media-mobile) {
                    padding-bottom: 3.2rem;
                    margin-bottom: 3.4rem;
                }
            }

        }

        .result-wrap {
            background-color: #fff;
            z-index: 2;
            overflow: hidden;
            position: relative;

            .prod-head {
                @include border-radius(0);

                &.typ-stage-head {
                    border-bottom: 1px solid #B1CBF1;

                    .prod-item {
                        .title {
                            font-size: 1.4rem;
                            color: $clr-base;
                            text-transform: uppercase;
                        }

                        .dropdown {
                            position: relative;
                        }
                    }
                }
            }

            .cont-wrap {
                overflow-y: visible;
                padding: 1.6rem 0;

                .table-head {
                    font-size: 1.6rem;
                    font-family: $font-medium;
                    color: $clr-base;
                    margin-bottom: 2px;

                    @media only screen and (max-width: $media-mobile) {
                        font-size: 1.4rem;
                    }

                    &.typ-head-blue {
                        color: #00398C;
                        font-family: $font-semiBold;
                    }
                }

                .table-open-head {
                    font-family: $font-regular;
                }

                .table-desc {
                    font-size: 1.2rem;
                    margin-bottom: 0;
                    color: #666666;

                    @media only screen and (max-width: $media-mobile) {
                        font-size: 1rem;
                    }
                }

                .price {
                    font-size: 1.6rem;
                    font-family: $font-semiBold;
                    color: $clr-base;

                    @media only screen and (max-width: $media-mobile) {
                        font-size: 1.4rem;
                    }
                }

                .cp-table.typ-rebar {
                    .list-item {
                        padding: 1.2rem 1.6rem;
                        vertical-align: middle;

                        @media only screen and (max-width: $media-mobile) {
                            width: auto;
                        }
                    }

                    .fold-wrap {
                        padding: 0rem 1.6rem;
                    }

                    .view {
                        cursor: pointer;

                        td:last-child {
                            padding-right: 3.6rem;
                            position: relative;

                            &::before {
                                // position: absolute;
                                // top: 20px;
                                // right: -5px;
                                // /* width: 4px; */
                                // height: 10px;
                                // margin-top: -8px;
                                // font-family: 'icomoon' !important;
                                // content: "\e90e";
                                // transition: all 0.3s ease;
                                // color: #000000;
                                // font-size: 1.2rem;

                                position: absolute;
                                top: 50%;
                                right: 18px;
                                width: 9px;
                                height: 16px;
                                margin-top: -8px;
                                font-family: 'icomoon' !important;
                                content: "\e90e";
                                transition: all 0.3s ease;
                                font-size: 1.4rem;
                            }
                        }

                        &.open {
                            td:last-child {
                                &::before {
                                    transform: rotate(-180deg);
                                    right: 12px;
                                }
                            }
                        }
                    }

                    .fold {
                        display: none;

                        &.open {
                            display: table-row;
                        }
                    }
                }

                .grey-bg {
                    background-color: #F3F4F6;
                    padding: 0 1.2rem;
                    border-radius: 0 0 12px 12px;
                }

                .typ-cost-breakup {
                    border-collapse: collapse;

                    .seperator-border {
                        border-top: 1px dashed #DEDEDE;
                    }
                }

                .link {
                    font-size: 1.4rem;
                    text-decoration: underline;
                    margin-top: 2px;
                    display: block;
                }
            }
        }
    }

    //   this section added for Estimated building cost end
}