@import "../config/variables";
@import "../config/mixin";

.cp-select {
    .select-label {
        font-family: $font-regular;
        font-size: 14px;
        line-height: 2rem;
        color: $clr-base;
        margin-bottom: 0.8rem;
    }

    .select-dropdown {
        position: relative;
        display: inline-block;
        max-width: 100%;

        .select-dropdown-button {
            padding: 10px 35px 10px 15px;
            background-color: #fff;
            color: #616161;
            border: 1px solid #cecece;
            border-radius: 12px;
            cursor: pointer;
            width: 343px;
            text-align: left;

            &::focus {
                outline: none;
            }

            .zmdi-chevron-down {
                position: absolute;
                right: 1.2rem;
                top: 50%;
                transform: translateY(-50%);

                &::after {
                    content: "\e90e";
                    font-family: 'icomoon';
                    font-size: 2rem;
                    line-height: 2rem;
                    color: $clr-base;
                }
            }

            .select-text {
                font-size: 1.6rem;
                font-family: $font-regular;
                color: $clr-para;
            }
        }

        .select-dropdown-list {
            position: absolute;
            display: block;
            left: 0;
            right: 0;
            max-height: 300px;
            overflow: auto;
            margin: 0;
            padding: 0;
            list-style-type: none;
            opacity: 0;
            pointer-events: none;
            transform-origin: top left;
            transform: scale(1, 0);
            transition: all ease-in-out .3s;
            z-index: 2;
            background: $clr-root;
            border: 1px solid #ECF2FB;
            border-radius: 6px;

            &.active {
                opacity: 1;
                pointer-events: auto;
                transform: scale(1, 1);

            }

        }

        .select-dropdown-list-item {
            display: block;
            list-style-type: none;
            font-size: 14px;
            line-height: 1.4;
            cursor: pointer;
            color: #616161;
            transition: all ease-in-out .3s;
            width: 100%;

        }
    }

    .dropdown-item {
        display: flex;
        justify-content: space-between;
        font-size: 14px;
        font-family: $font-regular;
        color: $clr-para;
        background: #fff;
        border-top: 1px solid #e6e6e6;
        padding: 1rem;

        &:hover {
            background: #ECF2FB;

        }
    }

    &.typ-category {
        margin-bottom: 1.6rem;
    }

    .title {
        font-size: 1.4rem;
        font-family: $font-regular;
        color: $clr-para;
        margin-bottom: 0.8rem;
    }

    &.typ-structura-pdp {
        margin-bottom: 1.6rem;

        .select-dropdown {
            @media only screen and (max-width: $media-sm) {
                margin-bottom: 2.4rem;
                max-width: unset;
            }
        }

        .select-dropdown-button {
            @media only screen and (max-width: $media-sm) {
                width: 19.3rem;
                height: 4.8rem;

            }

        }
    }

    //   this section added for Estimated building cost - calculator result  start
    &.typ-2 {
        .select-dropdown {
            .select-dropdown-button {
                width: 140px;
                padding: 8px 35px 8px 10px;
                color: #fff;
                @include border-radius(8px);

                &.active-dropdown {
                    box-shadow: 0px 0px 5px 0px #00000066;
                }

                .zmdi-chevron-down {
                    &::after {
                        font-size: 1.2rem;
                        color: #fff;
                    }
                }

                &.btn-orange {
                    background-color: #F58F66;

                    &.active-dropdown {
                        border: 1px solid #EE4400;
                    }
                }

                &.btn-yellow {
                    background-color: #FFB800;

                    &.active-dropdown {
                        border: 1px solid #e0a206;
                    }
                }

                &.btn-pink {
                    background-color: #E46881;

                    &.active-dropdown {
                        border: 1px solid #c74761;
                    }
                }

                .select-text {
                    color: #fff;
                    font-size: 1.2rem;
                }
            }

            .select-dropdown-list {
                min-width: 200px;
                left: auto;
                padding: 1.2rem;
                @include border-radius(12px);

                .dropdown-item {
                    border: none;
                }
            }
        }

    }

    //   this section added for Estimated building cost - calculator result  end
    &.typ-style {
        .select-dropdown-button {
            .select-text {
                color: $clr-base;
                font-family: $font-medium;
            }

            .zmdi-chevron-down {
                &::after {
                    font-size: 1.4rem;
                    color: #000;
                }
            }
        }

        .select-dropdown-list {
            padding: 1.6rem;
        }

        .dropdown-item {
            border: 0;
            @include border-radius(4px);
            margin-bottom: 8px;

            &:hover {
                .select-dropdown-list-item {
                    color: $clr-base;
                    font-family: $font-medium;
                }
            }
        }

    }

    &.typ-stages {
        .select-dropdown {
            .select-dropdown-button {
                padding: 7px 35px 7px 15px;
                color: $clr-base;
                border: 1px solid #DEDEDE;
                @include border-radius(0);
                width: 108px;

                .select-text {
                    font-size: 1.2rem;
                    font-family: $font-medium;
                    color: $clr-base;
                }

                .zmdi-chevron-down {
                    &::after {
                        font-size: 1.4rem;
                    }
                }
            }
        }
    }
}