@import "../config/variables";
@import "../config/mixin";

.cp-service-provider-login {
    max-width: 820px;
    margin: auto;
    @include border-radius(2.4rem);
    overflow: hidden;
    border: 1px solid #DEDEDE;
    flex-direction: column;

    @media only screen and (max-width: $media-mobile) {
        border: 0;
        overflow: visible;
    }

    .cp-service-provider-wrap {
        padding: 2.4rem;
        background-color: #fff;

        @media only screen and (max-width: $media-mobile) {
            padding: 0;
        }
    }

    .provider-head {
        margin-bottom: 3.2rem;

        @media only screen and (max-width: $media-mobile) {
            margin-bottom: 2.4rem;
        }

        .head-title {
            font-size: 2.8rem;
            font-family: $font-semiBold;
            color: $clr-base;

            @media only screen and (max-width: $media-mobile) {
                font-size: 2rem;
                text-align: left;
            }
        }

        .sub-title {
            font-size: 2rem;
            font-family: $font-semiBold;
            color: $clr-base;
        }

        .desc {
            @media only screen and (max-width: $media-mobile) {
                text-align: left;
            }
        }
    }

    .cont-wrap {
        .cont-sub-title {
            font-size: 1.6rem;
            font-family: $font-medium;
            font-size: 1.6rem;
            margin-bottom: 1.6rem;
            color: $clr-base;

            &.typ-2 {
                font-size: 2rem;
                font-family: $font-semiBold;

                @media only screen and (max-width: $media-mobile) {
                    font-size: 1.6rem;
                }
            }
        }

        &.typ-width {
            max-width: 425px;
            margin: auto;
            width: 100%;
            padding: 0;
        }

        .feature-title {
            font-family: $font-medium;
            font-size: 2rem;
        }

        .trusted-services-wrap {
            display: flex;
            // align-items: center;
            border-bottom: 1px solid #DEDEDE;
            padding-bottom: 2.4rem;
            margin: 0 -6px 2.4rem;

            @media only screen and (max-width: $media-sm) {
                margin: 0 -4px 2.4rem;
            }

            .trusted-services-list {
                flex: 0 0 33.33%;
                max-width: 33.33%;
                padding: 0 6px;

                @media only screen and (max-width: $media-sm) {
                    padding: 0 4px;
                }

                .trusted-services {
                    padding: 1.2rem;
                    @include border-radius(1.2rem);
                    height: 100%;

                    .desc {
                        font-size: 1.6rem;
                        line-height: 2.4rem;
                        color: $clr-base;
                        font-family: $font-medium;
                    }

                    .icon {
                        width: 4rem;
                        height: 4rem;
                        @include border-radius(1.2rem);
                        font-size: 2.4rem;
                        padding: 8px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        margin-bottom: 1.2rem;
                        background-color: #fff;
                    }

                    &.green-bg {
                        background-color: #E5F6EC;

                        .icon {
                            color: #00A441;
                        }
                    }

                    &.blue-bg {
                        background-color: #ECF2FB;

                        .icon {
                            color: #3D7EDB;
                        }
                    }

                    &.pink-bg {
                        background-color: #FAE6EA;

                        .icon {
                            color: #D2042D;
                        }
                    }
                }
            }
        }

        .steps-content {
            overflow-y: initial;
            padding-right: 0;
            max-height: 100%;

            @media only screen and (max-width: $media-sm) {
                margin-top: 0;
            }
        }
    }

    .btn-wrap {
        border-top: 1px solid #DEDEDE;
        padding: 2.4rem 3.2rem;

        @media only screen and (max-width: $media-mobile) {
            padding: 1.6rem 0;
            border: 0;
            position: sticky;
            bottom: 0;
            left: 0;
            right: 0;
            width: 100%;
            background-color: #fff;

            .btn {
                min-width: 100%;
            }
        }

        &.flex {
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-wrap: wrap;



            @media only screen and (max-width: $media-mobile) {
                gap: 8px;

                .btn {
                    min-width: 48%;
                }
            }
        }

        .ml-auto {
            margin-left: auto
        }
    }

    .typ-provider-steps {
        @include border-radius(1.6rem 1.6rem 0 0);
        margin-top: -16px;
        flex-direction: column;

        @media only screen and (max-width: $media-mobile) {
            margin-top: 85px;
        }
    }

    .mt-0 {
        margin-top: 0;
    }

    .mb-0 {
        margin-bottom: 0 !important;
    }

    .mb-32 {
        margin-bottom: 3.2rem;
    }

    .mt-32 {
        margin-top: 3.2rem;
    }

    // .btn-link {
    //     text-decoration: underline;
    //     font-family: $font-medium;
    // }
    .link {
        width: 100%;
        flex: 0 0 100%;

        @media only screen and (max-width: $media-mobile) {
            position: sticky;
            bottom: 70px;
            background: #fff;
            width: 100%;
            padding: 5px;
        }

        .btn-link {
            font-size: 1.6rem;
            text-decoration: underline;
            font-family: $font-medium;

            @media only screen and (max-width: $media-mobile) {
                font-size: 1.4rem;
            }
        }
    }

    .w-100 {
        min-width: 100%;
    }

    .services-form {
        .form-input {
            margin-bottom: 1.6rem;
        }
    }

    .typ-expertise {
        gap: 1.6rem;
    }

    .cp-select {
        .select-dropdown {
            width: 100%;

            .select-dropdown-button {
                width: 100%;
            }
        }
    }

    .bullet-list {
        margin-left: 2.4rem;
        margin-bottom: 1.6rem;

        .list-item {
            line-height: 2.4rem;
            list-style: disc;
            font-size: 1.6rem;
            color: #333333;

            @media only screen and (max-width: $media-mobile) {
                font-size: 1.4rem;
            }

            &::marker {
                font-size: 1rem;
            }
        }
    }


}