/* colors */
/*font family*/
/* breakpoints */
/*transform*/
/*opacity*/
/*opacity- end*/
.cp-cart-card {
  background: #FFFFFF;
  padding: 1.6rem 2.4rem;
}
@media only screen and (max-width: 768px) {
  .cp-cart-card {
    padding: 1.6rem 1.2rem;
  }
}
.cp-cart-card.separator {
  border-bottom: 2px solid #DEDEDE;
}
.cp-cart-card:last-child {
  border-radius: 0 16px 0 16px;
}
.cp-cart-card .bottom-link-list {
  display: flex;
  justify-content: flex-end;
  gap: 2.4rem;
  padding: 2rem 0;
}
@media only screen and (max-width: 768px) {
  .cp-cart-card .bottom-link-list {
    justify-content: flex-start;
  }
}
.cp-cart-card .bottom-link-list .link-item {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  position: relative;
  gap: 0.4rem;
  align-items: center;
}
.cp-cart-card .bottom-link-list .link-item:after {
  position: absolute;
  right: -10px;
  top: 0;
  height: 20px;
  width: 1px;
  background: #DEDEDE;
  content: "";
}
.cp-cart-card .bottom-link-list .link-item .link-text {
  font-size: 1.4rem;
  color: #3D7EDB;
  font-family: "Poppins Medium";
  text-decoration: underline;
}
@media only screen and (max-width: 768px) {
  .cp-cart-card .bottom-link-list .link-item .link-text {
    font-size: 1.2rem;
  }
}
.cp-cart-card .bottom-link-list .link-item .icon {
  font-size: 2.4rem;
  color: #3D7EDB;
}
@media only screen and (max-width: 768px) {
  .cp-cart-card .bottom-link-list .link-item .icon {
    font-size: 1.4rem;
  }
}
.cp-cart-card .bottom-link-list .link-item:last-child::after {
  display: none;
}
.cp-cart-card.typ-tiscon-pdp .cart-list {
  display: block;
  border-bottom: 0;
  margin: 1.6rem 0 2.4rem;
}
.cp-cart-card.typ-tiscon-pdp .cart-list .list-item {
  width: 20%;
  padding: 1.6rem;
}
@media only screen and (max-width: 768px) {
  .cp-cart-card.typ-tiscon-pdp .cart-list .list-item {
    padding: 1.2rem;
  }
}
.cp-cart-card.typ-tiscon-pdp .cart-list .list-item .list-head {
  padding: 0.6rem;
}
.cp-cart-card.typ-tiscon-pdp .cart-list .list-item.text-center {
  text-align: center;
}
.cp-cart-card.typ-tiscon-pdp .cart-list .list-item.text-left {
  text-align: left;
}
.cp-cart-card.typ-tiscon-pdp .cart-list .list-item.text-right {
  text-align: right;
}
.cp-cart-card.typ-tiscon-pdp .cart-list .sepretor {
  border-bottom: 1px solid #DEDEDE;
}
.cp-cart-card.typ-tiscon-pdp .cart-list::after {
  background-color: #DEDEDE;
  width: 106%;
  position: absolute;
  left: -23px;
  bottom: 0;
  content: "";
  height: 1px;
}
@media only screen and (max-width: 768px) {
  .cp-cart-card.typ-tiscon-pdp .cart-list::after {
    width: 109%;
    left: -15px;
  }
}
.cp-cart-card.typ-tiscon-pdp .tag-label {
  border-radius: 26px;
  background: #D2042D;
  color: #FFFFFF;
  font-size: 1.2rem;
  font-family: "Poppins Medium";
  text-align: center;
  padding: 0.2rem 0.8rem;
  position: absolute;
  left: 150px;
  top: 10px;
}
.cp-cart-card.typ-tiscon-pdp .btn.delete-btn::after {
  width: 90%;
  left: auto;
  right: 0;
}
@media only screen and (max-width: 768px) {
  .cp-cart-card.typ-pravesh-card {
    margin-left: 0;
    border-bottom: 0.8rem #F3F4F6 solid;
    border-radius: 0;
  }
}
.cp-cart-card.typ-pravesh-card.mr-t {
  margin-top: 2rem;
}
@media only screen and (max-width: 768px) {
  .cp-cart-card.typ-pravesh-card.mr-t {
    margin-top: 0;
  }
}
.cp-cart-card.typ-pravesh-card .sec-sub-title {
  font-family: "Poppins Semibold";
}
.cp-cart-card.typ-pravesh-card .border-b {
  border-bottom: 1px solid #DEDEDE;
}
@media only screen and (max-width: 768px) {
  .cp-cart-card.typ-pravesh {
    padding: 1.6rem 1.2rem;
    display: flex;
    gap: 1.6rem;
    margin-left: 0;
  }
}
@media only screen and (max-width: 768px) {
  .cp-cart-card.typ-pravesh .sec-head {
    order: 2;
  }
}
@media only screen and (max-width: 768px) {
  .cp-cart-card.typ-pravesh .sec-desc {
    font-size: 1.4rem;
  }
}
@media only screen and (max-width: 768px) {
  .cp-cart-card.typ-pravesh .sec-cont {
    flex: 0 0 60px;
  }
}
.cp-cart-card.typ-pravesh .action-wrap .icon.active {
  color: #D2042D;
}
.cp-cart-card.typ-order-summery {
  padding: 1.6rem 1.2rem;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-bottom: 1px solid #DEDEDE;
}
.cp-cart-card.typ-order-summery:last-child {
  border: 0;
}
.cp-cart-card.typ-order-summery .prodcut-item {
  display: flex;
  gap: 1rem;
  margin-bottom: 1.2rem;
}
.cp-cart-card.typ-order-summery .prodcut-item .product-img {
  width: 5.6rem;
  height: 5.6rem;
  border: 1px solid #DEDEDE;
  background-color: #fff;
  border-radius: 1.2rem;
  -webkit-border-radius: 1.2rem;
  -moz-border-radius: 1.2rem;
  overflow: hidden;
}
.cp-cart-card.typ-order-summery .prodcut-item .title {
  font-size: 1.4rem;
  color: #333333;
  font-family: "Poppins Semibold";
}
.cp-cart-card.typ-order-summery .prodcut-item .desc {
  font-size: 1.2rem;
}
.cp-cart-card.typ-order-summery .prodcut-item .product-price {
  font-family: "Poppins Semibold";
  font-size: 1.6rem;
  margin-left: auto;
  color: #333333;
}
.cp-cart-card.typ-order-summery .prodcut-item .link {
  font-size: 1.4rem;
  text-decoration: underline;
  margin-left: auto;
  font-family: "Poppins Medium";
}
.cp-cart-card.typ-order-confirmation {
  border: 1px solid #DEDEDE;
  padding: 1.6rem 2.4rem;
  border-radius: 1.6rem;
  -webkit-border-radius: 1.6rem;
  -moz-border-radius: 1.6rem;
  z-index: 2;
  position: relative;
}
@media only screen and (max-width: 768px) {
  .cp-cart-card.typ-order-confirmation {
    padding: 1.2rem;
  }
}
.cp-cart-card.typ-order-confirmation .head-title {
  font-size: 2.4rem;
  font-family: "Poppins Semibold";
  border-bottom: 1px solid #DEDEDE;
  padding-bottom: 1.2rem;
  margin-bottom: 1.2rem;
  color: #333333;
}
@media only screen and (max-width: 768px) {
  .cp-cart-card.typ-order-confirmation .head-title {
    font-size: 1.6rem;
  }
}
.cp-cart-card.typ-order-confirmation .head-title.typ-2 {
  font-size: 1.4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Poppins Medium";
}
@media only screen and (max-width: 768px) {
  .cp-cart-card.typ-order-confirmation .head-title.typ-2 {
    font-family: "Poppins Medium";
  }
}
.cp-cart-card.typ-order-confirmation .head-title .link {
  text-decoration: underline;
  white-space: nowrap;
}
.cp-cart-card.typ-order-confirmation .desc {
  font-size: 1.6rem;
  color: #333333;
  margin-bottom: 1.6rem;
  line-height: 2.8rem;
}
@media only screen and (max-width: 768px) {
  .cp-cart-card.typ-order-confirmation .desc {
    font-size: 1.4rem;
    line-height: 2rem;
  }
}
.cp-cart-card.typ-order-confirmation .radio-wrap {
  gap: 1.6rem;
  display: flex;
  justify-content: space-between;
}
@media only screen and (max-width: 768px) {
  .cp-cart-card.typ-order-confirmation .radio-wrap {
    gap: 0rem;
  }
}
.cp-cart-card.typ-order-confirmation .btn-wrap {
  margin-top: 2.4rem;
}
.cp-cart-card.typ-order-confirmation .prodcut-item {
  display: flex;
  gap: 1.2rem;
  align-items: center;
  border-bottom: 1px solid #DEDEDE;
  padding-bottom: 1.2rem;
  margin-bottom: 1.2rem;
}
.cp-cart-card.typ-order-confirmation .prodcut-item .product-img-wrap {
  position: relative;
  height: 80px;
}
.cp-cart-card.typ-order-confirmation .prodcut-item .product-img-wrap .product-img {
  position: absolute;
  width: 80px;
  height: 80px;
  border: 1px solid #DEDEDE;
  background-color: #fff;
  border-radius: 1.2rem;
  -webkit-border-radius: 1.2rem;
  -moz-border-radius: 1.2rem;
  overflow: hidden;
  top: 0;
  left: 16px;
  z-index: 3;
}
.cp-cart-card.typ-order-confirmation .prodcut-item .product-img-wrap .product-img:nth-child(2) {
  left: -1px;
  top: 0px;
  scale: 0.9;
  z-index: 2;
}
.cp-cart-card.typ-order-confirmation .prodcut-item .product-img-wrap .product-img:nth-child(3) {
  left: -16px;
  top: 0px;
  scale: 0.8;
  z-index: 1;
}
.cp-cart-card.typ-order-confirmation .prodcut-item .product-img-wrap .product-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.cp-cart-card.typ-order-confirmation .prodcut-item .product-desc {
  padding-left: 100px;
}
.cp-cart-card.typ-order-confirmation .prodcut-item .product-desc .title,
.cp-cart-card.typ-order-confirmation .prodcut-item .product-desc .price {
  font-size: 1.4rem;
  color: #333333;
  font-family: "Poppins Semibold";
}
.cp-cart-card.typ-order-confirmation .prodcut-item .product-desc .desc {
  margin-bottom: 0;
  font-size: 1.4rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.cp-cart-card.typ-order-confirmation .prodcut-item .product-desc .price {
  margin-top: 5px;
}
.cp-cart-card.typ-order-confirmation .prodcut-item.typ-single .product-img {
  left: 0;
}
.cp-cart-card.typ-order-confirmation .prodcut-item.typ-single .product-desc {
  padding-left: 85px;
}
.cp-cart-card.typ-order-confirmation .delivery-info-sec .bold-text {
  font-family: "Poppins Medium";
  color: #333333;
}
.cp-cart-card.typ-order-confirmation .delivery-info-sec .info-list {
  color: #666666;
  margin-bottom: 2px;
  display: flex;
  align-items: start;
  gap: 8px;
}
.cp-cart-card.typ-order-confirmation .delivery-info-sec .info-list p {
  font-size: 1.2rem;
}
.cp-cart-card.typ-order-confirmation .delivery-info-sec .info-list .icon {
  font-size: 1.6rem;
  color: #3D7EDB;
}
@media only screen and (max-width: 768px) {
  .cp-cart-card.typ-rate-exper {
    margin: 2.4rem 0;
  }
}

/*# sourceMappingURL=cp-cart-card.css.map */
