/* colors */
/*font family*/
/* breakpoints */
/*transform*/
/*opacity*/
/*opacity- end*/
.cp-dashboard-my-aashiyana .head-wrap {
  margin-bottom: 3.2rem;
  display: flex;
  align-items: center;
  gap: 0.8rem; }
  @media only screen and (max-width: 768px) {
    .cp-dashboard-my-aashiyana .head-wrap {
      border-bottom: 1px solid #DEDEDE;
      margin: 0 -1.6rem 3.2rem;
      padding: 0 1.6rem 2.4rem; } }
  .cp-dashboard-my-aashiyana .head-wrap .icon {
    font-size: 3.2rem;
    width: 5.6rem;
    height: 5.6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ECF2FB;
    color: #3D7EDB;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%; }
    @media only screen and (max-width: 768px) {
      .cp-dashboard-my-aashiyana .head-wrap .icon {
        font-size: 1.6rem;
        width: 3.2rem;
        height: 3.2rem; } }
  .cp-dashboard-my-aashiyana .head-wrap .title {
    font-size: 2.8rem;
    color: #333333;
    font-family: "Poppins Semibold"; }
    @media only screen and (max-width: 768px) {
      .cp-dashboard-my-aashiyana .head-wrap .title {
        font-size: 1.6rem; } }
.cp-dashboard-my-aashiyana .project-detail-wrap {
  border: 1px solid #DEDEDE;
  padding: 4rem;
  border-radius: 1.6rem;
  -webkit-border-radius: 1.6rem;
  -moz-border-radius: 1.6rem;
  overflow: hidden;
  padding: 2.4rem; }
  @media only screen and (max-width: 768px) {
    .cp-dashboard-my-aashiyana .project-detail-wrap {
      border: 0;
      padding: 0;
      border-radius: 0;
      -webkit-border-radius: 0;
      -moz-border-radius: 0; } }
  .cp-dashboard-my-aashiyana .project-detail-wrap .sub-title {
    font-size: 2rem;
    color: #333333;
    font-family: "Poppins Semibold";
    margin-bottom: 1.6rem; }
  .cp-dashboard-my-aashiyana .project-detail-wrap .typ-bold {
    font-family: "Poppins Semibold";
    font-size: 1.6rem;
    color: #333333;
    margin-bottom: 1.6rem; }
  .cp-dashboard-my-aashiyana .project-detail-wrap .cont-sec {
    margin-bottom: 4.8rem; }
    @media only screen and (max-width: 768px) {
      .cp-dashboard-my-aashiyana .project-detail-wrap .cont-sec {
        margin-bottom: 3.2rem; } }
    .cp-dashboard-my-aashiyana .project-detail-wrap .cont-sec:last-child {
      margin-bottom: 0; }
  .cp-dashboard-my-aashiyana .project-detail-wrap .typ-w-680 {
    max-width: 68rem; }
  .cp-dashboard-my-aashiyana .project-detail-wrap .mb-16 {
    margin-bottom: 1.6rem; }
  .cp-dashboard-my-aashiyana .project-detail-wrap .typ-con-stage {
    display: flex;
    flex-wrap: wrap;
    gap: 1.6rem; }
    @media only screen and (max-width: 768px) {
      .cp-dashboard-my-aashiyana .project-detail-wrap .typ-con-stage {
        flex-direction: column; } }
  .cp-dashboard-my-aashiyana .project-detail-wrap .typ-stage {
    margin-bottom: 0;
    width: calc(50% - 8px); }
    @media only screen and (max-width: 768px) {
      .cp-dashboard-my-aashiyana .project-detail-wrap .typ-stage {
        width: 100%; } }
    .cp-dashboard-my-aashiyana .project-detail-wrap .typ-stage .custom-radio {
      width: 100%;
      flex-direction: row;
      gap: 10px;
      padding: 1.2rem; }
      .cp-dashboard-my-aashiyana .project-detail-wrap .typ-stage .custom-radio .icon {
        width: 40px;
        height: 40px;
        font-size: 2.4rem;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0.8rem;
        background: #fff;
        border-radius: 50%;
        flex: 0 0 4rem; }
        .cp-dashboard-my-aashiyana .project-detail-wrap .typ-stage .custom-radio .icon.blue {
          background: #ECF2FB;
          color: #3D7EDB; }
        .cp-dashboard-my-aashiyana .project-detail-wrap .typ-stage .custom-radio .icon.orange {
          background: #FFF8E5;
          color: #FFB800; }
        .cp-dashboard-my-aashiyana .project-detail-wrap .typ-stage .custom-radio .icon.red {
          background: #FAE6EA;
          color: #D2042D; }
        .cp-dashboard-my-aashiyana .project-detail-wrap .typ-stage .custom-radio .icon.green {
          background: #E5F6EC;
          color: #00A441; }
      .cp-dashboard-my-aashiyana .project-detail-wrap .typ-stage .custom-radio span:last-child {
        flex: 0 0 calc(100% - 5rem); }
    .cp-dashboard-my-aashiyana .project-detail-wrap .typ-stage input[type="radio"]:checked + .custom-radio {
      font-family: "Poppins Medium";
      color: #333333; }
    .cp-dashboard-my-aashiyana .project-detail-wrap .typ-stage.typ-buisness .custom-radio {
      position: relative;
      font-family: "Poppins Medium";
      font-size: 1.4rem;
      color: #333333; }
      .cp-dashboard-my-aashiyana .project-detail-wrap .typ-stage.typ-buisness .custom-radio .small-text {
        display: block;
        font-family: "Poppins Regular";
        font-size: 1.2rem;
        color: #666666; }
    .cp-dashboard-my-aashiyana .project-detail-wrap .typ-stage.typ-buisness .checkmark {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 16px;
      height: 21px;
      width: 21px;
      background-color: rgba(0, 0, 0, 0);
      border-radius: 50%;
      border: 2px solid #999999;
      transition: all 0.3s; }
    .cp-dashboard-my-aashiyana .project-detail-wrap .typ-stage.typ-buisness .checkmark::after {
      content: "";
      position: absolute;
      display: none; }
    .cp-dashboard-my-aashiyana .project-detail-wrap .typ-stage.typ-buisness .checkmark::after {
      top: 3px;
      left: 3px;
      width: 11px;
      height: 11px;
      border-radius: 50%;
      background: #3D7EDB; }
    .cp-dashboard-my-aashiyana .project-detail-wrap .typ-stage.typ-buisness input[type="radio"]:checked + .custom-radio .checkmark::after {
      display: block; }
  .cp-dashboard-my-aashiyana .project-detail-wrap .typ-size {
    display: flex;
    gap: 1.2rem;
    flex-wrap: wrap;
    margin-bottom: 2.4rem; }
    .cp-dashboard-my-aashiyana .project-detail-wrap .typ-size .bs-radio {
      margin-bottom: 0; }
      .cp-dashboard-my-aashiyana .project-detail-wrap .typ-size .bs-radio .custom-radio {
        min-width: auto;
        padding: 1.2rem 1.6rem; }
      .cp-dashboard-my-aashiyana .project-detail-wrap .typ-size .bs-radio.col-3 {
        width: 31.4%; }
        @media only screen and (max-width: 768px) {
          .cp-dashboard-my-aashiyana .project-detail-wrap .typ-size .bs-radio.col-3 {
            width: 30.5%; } }
    .cp-dashboard-my-aashiyana .project-detail-wrap .typ-size.typ-login .bs-radio .custom-radio {
      min-width: 76px; }
      @media only screen and (max-width: 768px) {
        .cp-dashboard-my-aashiyana .project-detail-wrap .typ-size.typ-login .bs-radio .custom-radio {
          min-width: 74px; } }
  .cp-dashboard-my-aashiyana .project-detail-wrap .range-main {
    display: block;
    padding: 0 11px 0 0; }
    @media only screen and (max-width: 768px) {
      .cp-dashboard-my-aashiyana .project-detail-wrap .range-main {
        padding: 0 15px 0 0; } }
    .cp-dashboard-my-aashiyana .project-detail-wrap .range-main .range {
      position: relative;
      width: 100%;
      height: 5px; }
      .cp-dashboard-my-aashiyana .project-detail-wrap .range-main .range input {
        width: 100%;
        position: absolute;
        top: 2px;
        height: 0;
        -webkit-appearance: none; }
      .cp-dashboard-my-aashiyana .project-detail-wrap .range-main .range input::-webkit-slider-thumb {
        -webkit-appearance: none;
        width: 42px;
        height: 44px;
        margin: -10px 0 0;
        border-radius: 50%;
        background-image: url("../../components/cp-login/image/home-icon.svg");
        background-size: contain;
        background-position: center center;
        background-repeat: no-repeat;
        cursor: pointer;
        border: 0 !important; }
      .cp-dashboard-my-aashiyana .project-detail-wrap .range-main .range input::-moz-range-thumb {
        width: 42px;
        height: 44px;
        margin: -8px 0 0;
        border-radius: 50%;
        background-image: url("../../components/cp-login/image/home-icon.svg");
        background-size: contain;
        background-position: center center;
        background-repeat: no-repeat;
        cursor: pointer;
        border: 0 !important; }
      .cp-dashboard-my-aashiyana .project-detail-wrap .range-main .range input::-ms-thumb {
        width: 42px;
        height: 44px;
        margin: -8px 0 0 -8px;
        border-radius: 50%;
        background-image: url("../../components/cp-login/image/home-icon.svg");
        background-size: contain;
        background-position: center center;
        background-repeat: no-repeat;
        cursor: pointer;
        border: 0 !important; }
      .cp-dashboard-my-aashiyana .project-detail-wrap .range-main .range input::-webkit-slider-runnable-track {
        width: 100%;
        height: 1.2rem;
        cursor: pointer;
        background: #DEDEDE;
        border-radius: 1.2rem; }
      .cp-dashboard-my-aashiyana .project-detail-wrap .range-main .range input::-moz-range-track {
        width: 100%;
        height: 2px;
        cursor: pointer;
        background: #b2b2b2; }
      .cp-dashboard-my-aashiyana .project-detail-wrap .range-main .range input::-ms-track {
        width: 100%;
        height: 2px;
        cursor: pointer;
        background: #b2b2b2; }
      .cp-dashboard-my-aashiyana .project-detail-wrap .range-main .range input:focus {
        background: none;
        outline: none; }
      .cp-dashboard-my-aashiyana .project-detail-wrap .range-main .range .range input::-ms-track {
        width: 100%;
        cursor: pointer;
        background: transparent;
        border-color: transparent;
        color: transparent; }
    .cp-dashboard-my-aashiyana .project-detail-wrap .range-main .range-labels {
      margin: 18px -50px 0;
      padding: 0;
      list-style: none;
      display: flex; }
      @media only screen and (max-width: 768px) {
        .cp-dashboard-my-aashiyana .project-detail-wrap .range-main .range-labels {
          margin: 18px -19px 0; } }
      .cp-dashboard-my-aashiyana .project-detail-wrap .range-main .range-labels li {
        position: relative;
        width: 25%;
        text-align: center;
        color: #999999;
        font-size: 14px;
        cursor: pointer;
        font-family: "Poppins Semibold"; }
      .cp-dashboard-my-aashiyana .project-detail-wrap .range-main .range-labels .active {
        color: #333333;
        font-size: 3.6rem; }
        @media only screen and (max-width: 768px) {
          .cp-dashboard-my-aashiyana .project-detail-wrap .range-main .range-labels .active {
            font-size: 2rem; } }
      .cp-dashboard-my-aashiyana .project-detail-wrap .range-main .range-labels .selected::before {
        background: #333333; }
      .cp-dashboard-my-aashiyana .project-detail-wrap .range-main .range-labels .active.selected::before {
        display: none; }
  .cp-dashboard-my-aashiyana .project-detail-wrap .upload-file-area .desc {
    max-width: 317px;
    margin: auto; }
  .cp-dashboard-my-aashiyana .project-detail-wrap .typ-aashiyana {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 1.2rem; }
    @media only screen and (max-width: 768px) {
      .cp-dashboard-my-aashiyana .project-detail-wrap .typ-aashiyana {
        justify-content: center; } }
    @media only screen and (max-width: 768px) {
      .cp-dashboard-my-aashiyana .project-detail-wrap .typ-aashiyana .btn {
        min-width: 48%; } }

/*# sourceMappingURL=cp-dashboard-my-aashiyana.css.map */
