/* colors */
/*font family*/
/* breakpoints */
/*transform*/
/*opacity*/
/*opacity- end*/
.cp-login {
  display: flex;
  justify-content: flex-start;
  border: 1px solid #dedede;
  border-radius: 24px;
}
@media only screen and (max-width: 768px) {
  .cp-login {
    border: 0;
  }
}
.cp-login .lhs {
  width: 50%;
}
@media only screen and (max-width: 768px) {
  .cp-login .lhs {
    display: none;
  }
}
.cp-login .lhs .img-wrap {
  width: 507px;
  height: 766px;
  overflow: hidden;
}
.cp-login .rhs {
  width: 50%;
  padding: 2.4rem 4.8rem 0;
}
@media only screen and (max-width: 768px) {
  .cp-login .rhs {
    width: 100%;
    padding: 0;
  }
}
.cp-login .rhs .title {
  font-size: 2.8rem;
  font-family: "Poppins Semibold";
  color: #333333;
  line-height: 40px;
}
@media only screen and (max-width: 768px) {
  .cp-login .rhs .title {
    font-size: 2.4rem;
  }
}
.cp-login .rhs .desc {
  font-size: 1.4rem;
  color: #666666;
  font-family: "Poppins Regular";
}
.cp-login .rhs .desc.typ2 {
  font-family: "Poppins Medium";
  text-align: center;
  display: flex;
  justify-content: center;
}
.cp-login .rhs .form-wrap {
  margin-top: 3.2rem;
}
.cp-login .rhs .form-wrap .form-group {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-bottom: 35px;
}
@media only screen and (max-width: 768px) {
  .cp-login .rhs .form-wrap .form-group {
    margin-bottom: 25px;
  }
}
.cp-login .rhs .form-wrap .form-group .form-label {
  font-size: 1.4rem;
  font-family: "Poppins Regular";
  color: #666666;
  padding-bottom: 0.8rem;
}
.cp-login .rhs .form-wrap .form-group .form-input {
  border-radius: 12px;
  border: 1px solid #dedede;
  font-size: 1.6rem;
  font-family: "Poppins Medium";
  color: #333333;
  padding: 1rem;
}
.cp-login .rhs .form-wrap .form-group .forgot-link {
  position: absolute;
  bottom: -33px;
  right: 0;
}
@media only screen and (max-width: 768px) {
  .cp-login .rhs .form-wrap .form-group .forgot-link {
    font-size: 1.2rem;
    bottom: -25px;
  }
}
.cp-login .rhs .act-wrap .login-btn {
  width: 100%;
  margin-bottom: 1.6rem;
}
@media only screen and (max-width: 768px) {
  .cp-login .rhs .act-wrap .desc {
    font-size: 1.2rem;
  }
}
@media only screen and (max-width: 768px) {
  .cp-login .rhs .act-wrap .btn-account {
    font-size: 1.2rem;
  }
}
.cp-login .rhs .sign-up-sec {
  margin-top: 24px;
}
.cp-login .rhs .sign-up-sec .title {
  font-size: 1.4rem;
  font-family: "Poppins Regular";
  color: #808080;
  position: relative;
  text-align: center;
}
.cp-login .rhs .sign-up-sec .title::after {
  position: absolute;
  background: #dedede;
  width: 132px;
  left: 0;
  top: 20px;
  content: "";
  height: 1px;
}
@media only screen and (max-width: 768px) {
  .cp-login .rhs .sign-up-sec .title::after {
    width: 106px;
  }
}
.cp-login .rhs .sign-up-sec .title::before {
  position: absolute;
  background: #dedede;
  width: 132px;
  right: 0;
  top: 20px;
  content: "";
  height: 1px;
}
@media only screen and (max-width: 768px) {
  .cp-login .rhs .sign-up-sec .title::before {
    width: 106px;
  }
}
.cp-login .rhs .sign-up-sec .option-list {
  display: flex;
  justify-content: space-between;
  gap: 1.6rem;
  margin-bottom: 32px;
}
.cp-login .rhs .sign-up-sec .option-list .option-list-item {
  border: 1px solid #dedede;
  border-radius: 12px;
  text-align: center;
  width: 50%;
  display: flex;
  justify-content: center;
  padding: 1rem;
}
.cp-login .rhs .sign-up-sec .option-list .option-list-item img {
  width: 24px;
  height: 24px;
}
.cp-login .rhs .sign-up-sec .option-list.typ2 .option-list-item {
  border: 0;
  margin-right: 2rem;
}
@media only screen and (max-width: 768px) {
  .cp-login .rhs .sign-up-sec .option-list.typ2 .option-list-item {
    margin-right: 0;
  }
}
@media only screen and (max-width: 768px) {
  .cp-login .rhs .sign-up-sec .option-list.typ2 .option-list-item .btn {
    font-size: 1.2rem;
  }
}
.cp-login .rhs .sign-up-sec .option-list.typ2 .option-list-item:first-child {
  position: relative;
}
.cp-login .rhs .sign-up-sec .option-list.typ2 .option-list-item:first-child::after {
  content: "";
  background: #dedede;
  width: 1px;
  height: 28px;
  right: -28px;
  top: 12px;
  position: absolute;
}
@media only screen and (max-width: 768px) {
  .cp-login .rhs .sign-up-sec .option-list.typ2 .option-list-item:first-child::after {
    height: 19px;
    right: -17px;
    top: 12px;
  }
}
.cp-login .rhs.relative {
  position: relative;
}
.cp-login .rhs.typ-2 {
  padding-right: 1.6rem;
}
.cp-login .step-sec {
  background-color: #612D61;
  border-radius: 0.8rem;
  -webkit-border-radius: 0.8rem;
  -moz-border-radius: 0.8rem;
  margin-bottom: 3.2rem;
  padding: 1.2rem 1.6rem;
  color: #FFFFFF;
}
.cp-login .step-sec .steps-num {
  font-family: "Poppins Medium";
  font-size: 1.2rem;
}
.cp-login .step-sec .step-main {
  margin-top: 0.8rem;
  display: flex;
  gap: 0.4rem;
}
.cp-login .step-sec .step-main .progress-bar {
  width: 25%;
  height: 3px;
  background-color: #FFFFFF;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
}
.cp-login .step-sec .step-main .progress-bar.active {
  background-color: #FFB800;
}
.cp-login.mt-2 {
  margin-top: 2.4rem;
}
.cp-login .sticky {
  position: absolute;
  bottom: 0;
  background-color: #fff;
  border-top: 1px solid #DEDEDE;
  padding: 2.4rem 4.8rem;
  width: 100%;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 1.6rem;
  border-radius: 0 0 24px 0;
}
.cp-login .sticky .btn-steps {
  min-width: 13.2rem;
}
.cp-login .sticky .btn-link {
  font-size: 1.4rem;
}
.cp-login .steps-content {
  max-height: 550px;
  overflow-y: auto;
  padding-right: 3rem;
}
.cp-login .steps-content .title {
  font-size: 2rem;
  line-height: 2.8rem;
  margin-bottom: 2rem;
}
.cp-login .steps-content .title.typ-small {
  font-size: 1.6rem;
  margin-bottom: 1.6rem;
}
.cp-login .steps-content .typ-steps {
  margin-bottom: 1.2rem;
}
.cp-login .steps-content .typ-steps .custom-radio {
  width: 100%;
  flex-direction: row;
  gap: 10px;
  padding: 1.2rem;
}
.cp-login .steps-content .typ-steps .custom-radio .icon {
  width: 40px;
  height: 40px;
  font-size: 2.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.8rem;
  background: #fff;
  border-radius: 50%;
}
.cp-login .steps-content .typ-steps .custom-radio .icon.blue {
  background: #ECF2FB;
  color: #3D7EDB;
}
.cp-login .steps-content .typ-steps .custom-radio .icon.orange {
  background: #FFF8E5;
  color: #FFB800;
}
.cp-login .steps-content .typ-steps .custom-radio .icon.red {
  background: #FAE6EA;
  color: #D2042D;
}
.cp-login .steps-content .typ-steps .custom-radio .icon.green {
  background: #E5F6EC;
  color: #00A441;
}
.cp-login .steps-content .typ-steps input[type=radio]:checked + .custom-radio {
  font-family: "Poppins Medium";
  color: #333333;
}
.cp-login .steps-content .typ-size {
  display: flex;
  gap: 1.2rem;
  flex-wrap: wrap;
}
.cp-login .steps-content .typ-size .bs-radio {
  margin-bottom: 0;
}
.cp-login .steps-content .typ-size .bs-radio .custom-radio {
  min-width: auto;
  padding: 1.2rem 1.6rem;
}
.cp-login .steps-content .form-wrap .form-group {
  position: relative;
}
.cp-login .steps-content .form-wrap .form-group .form-input {
  padding-right: 4rem;
}
.cp-login .steps-content .form-wrap .form-group .icon {
  width: 3.2rem;
  height: 3.2rem;
  position: absolute;
  right: 5px;
  bottom: 5px;
  font-size: 2.4rem;
  color: #999999;
}

.cd__main {
  display: block !important;
}

.range-main {
  display: block;
}

.range {
  position: relative;
  width: 100%;
  height: 5px;
}

.range input {
  width: 100%;
  position: absolute;
  top: 2px;
  height: 0;
  -webkit-appearance: none;
}

.range input::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 42px;
  height: 44px;
  margin: -8px 0 0;
  border-radius: 50%;
  background-image: url("../../components/cp-login/image/home-icon.svg");
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  cursor: pointer;
  border: 0 !important;
}

.range input::-moz-range-thumb {
  width: 42px;
  height: 44px;
  margin: -8px 0 0;
  border-radius: 50%;
  background-image: url("../../components/cp-login/image/home-icon.svg");
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  cursor: pointer;
  border: 0 !important;
}

.range input::-ms-thumb {
  width: 42px;
  height: 44px;
  margin: -8px 0 0 -8px;
  border-radius: 50%;
  background-image: url("../../components/cp-login/image/home-icon.svg");
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  cursor: pointer;
  border: 0 !important;
}

.range input::-webkit-slider-runnable-track {
  width: 100%;
  height: 2.4rem;
  cursor: pointer;
  background: #DEDEDE;
  border-radius: 1.2rem;
}

.range input::-moz-range-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  background: #b2b2b2;
}

.range input::-ms-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  background: #b2b2b2;
}

.range input:focus {
  background: none;
  outline: none;
}

.range input::-ms-track {
  width: 100%;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

.range-labels {
  margin: 18px -41px 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.range-labels li {
  position: relative;
  width: 96.25px;
  text-align: center;
  color: #999999;
  font-size: 14px;
  cursor: pointer;
  font-family: "Poppins Semibold";
}

.range-labels .active {
  color: #333333;
  font-size: 3.6rem;
}

.range-labels .selected::before {
  background: #333333;
}

.range-labels .active.selected::before {
  display: none;
}

.cd__main {
  display: flex;
  width: 100%;
  padding: 0 20px;
}

.cd__main {
  background: #fff;
  padding: 20px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.cd__main {
  display: block !important;
}

@media only screen and (min-width: 1360px) {
  .cd__main {
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
    padding: 24px;
  }
}

/*# sourceMappingURL=cp-login.css.map */
