/* colors */
/*font family*/
/* breakpoints */
/*transform*/
/*opacity*/
/*opacity- end*/
.cp-login {
  display: flex;
  justify-content: flex-start;
  border: 1px solid #dedede;
  border-radius: 24px;
  /* For Firefox */
}
@media only screen and (max-width: 768px) {
  .cp-login {
    border: 0;
  }
}
.cp-login .lhs {
  width: 50%;
}
@media only screen and (max-width: 768px) {
  .cp-login .lhs {
    display: none;
  }
}
.cp-login .lhs .img-wrap {
  width: 507px;
  height: 766px;
  overflow: hidden;
}
.cp-login .rhs {
  width: 50%;
  padding: 2.4rem 4.8rem 0;
}
@media only screen and (max-width: 768px) {
  .cp-login .rhs {
    width: 100%;
    padding: 0;
  }
}
.cp-login .rhs .title {
  font-size: 2.8rem;
  font-family: "Poppins Semibold";
  color: #333333;
  line-height: 40px;
  padding-bottom: 1.6rem;
}
@media only screen and (max-width: 768px) {
  .cp-login .rhs .title {
    font-size: 2.4rem;
  }
}
.cp-login .rhs .title .sub-title {
  font-size: 2rem;
  color: #333333;
  line-height: 28px;
  display: block;
}
.cp-login .rhs .desc {
  font-size: 1.4rem;
  color: #666666;
  font-family: "Poppins Regular";
}
.cp-login .rhs .desc.typ2 {
  font-family: "Poppins Medium";
  text-align: center;
  display: flex;
  justify-content: center;
}
.cp-login .rhs .form-wrap {
  margin-top: 1.5rem;
}
.cp-login .rhs .form-wrap.typ2 {
  position: relative;
  height: 100vh;
}
.cp-login .rhs .form-wrap .form-group {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-bottom: 35px;
}
@media only screen and (max-width: 768px) {
  .cp-login .rhs .form-wrap .form-group {
    margin-bottom: 25px;
  }
}
.cp-login .rhs .form-wrap .form-group .form-label {
  font-size: 1.4rem;
  font-family: "Poppins Regular";
  color: #666666;
  padding-bottom: 0.8rem;
}
.cp-login .rhs .form-wrap .form-group .form-input {
  border-radius: 12px;
  border: 1px solid #dedede;
  font-size: 1.6rem;
  font-family: "Poppins Medium";
  color: #333333;
  padding: 1rem;
}
.cp-login .rhs .form-wrap .form-group .form-input.typ-otp {
  width: 75px;
  height: 64px;
  text-align: center;
}
@media only screen and (max-width: 768px) {
  .cp-login .rhs .form-wrap .form-group .form-input.typ-otp {
    width: 60px;
  }
}
.cp-login .rhs .form-wrap .form-group .forgot-link {
  position: absolute;
  bottom: -33px;
  right: 0;
}
@media only screen and (max-width: 768px) {
  .cp-login .rhs .form-wrap .form-group .forgot-link {
    font-size: 1.2rem;
    bottom: -25px;
  }
}
.cp-login .rhs .form-wrap .form-group .otp-wrap {
  display: flex;
  justify-content: space-between;
}
.cp-login .rhs .act-wrap .login-btn {
  width: 100%;
  margin-bottom: 1.6rem;
}
@media only screen and (max-width: 768px) {
  .cp-login .rhs .act-wrap .desc {
    font-size: 1.2rem;
  }
}
@media only screen and (max-width: 768px) {
  .cp-login .rhs .act-wrap .btn-account {
    font-size: 1.2rem;
  }
}
.cp-login .rhs .act-wrap.typ2 {
  position: absolute;
  bottom: 0;
  left: -53px;
  border-top: 1px solid #dedede;
  border-bottom: 1px solid #dedede;
  right: 35px;
  width: 124%;
  padding-left: 6rem;
  padding-right: 6rem;
  padding-top: 2rem;
}
@media only screen and (max-width: 768px) {
  .cp-login .rhs .act-wrap.typ2 {
    position: fixed;
    left: 0;
    right: 0;
    width: 97%;
    padding-left: 1.6rem;
    padding-right: 1.6rem;
    border: 0;
    background: #FFFFFF;
  }
}
.cp-login .rhs .sign-up-sec {
  margin-top: 24px;
}
.cp-login .rhs .sign-up-sec .title {
  font-size: 1.4rem;
  font-family: "Poppins Regular";
  color: #808080;
  position: relative;
  text-align: center;
}
.cp-login .rhs .sign-up-sec .title::after {
  position: absolute;
  background: #dedede;
  width: 132px;
  left: 0;
  top: 20px;
  content: "";
  height: 1px;
}
@media only screen and (max-width: 768px) {
  .cp-login .rhs .sign-up-sec .title::after {
    width: 106px;
  }
}
.cp-login .rhs .sign-up-sec .title::before {
  position: absolute;
  background: #dedede;
  width: 132px;
  right: 0;
  top: 20px;
  content: "";
  height: 1px;
}
@media only screen and (max-width: 768px) {
  .cp-login .rhs .sign-up-sec .title::before {
    width: 106px;
  }
}
.cp-login .rhs .sign-up-sec .option-list {
  display: flex;
  justify-content: space-between;
  gap: 1.6rem;
  margin-bottom: 32px;
}
.cp-login .rhs .sign-up-sec .option-list .option-list-item {
  border: 1px solid #dedede;
  border-radius: 12px;
  text-align: center;
  width: 50%;
  display: flex;
  justify-content: center;
  padding: 1rem;
}
.cp-login .rhs .sign-up-sec .option-list .option-list-item img {
  width: 24px;
  height: 24px;
}
.cp-login .rhs .sign-up-sec .option-list.typ2 .option-list-item {
  border: 0;
  margin-right: 2rem;
}
@media only screen and (max-width: 768px) {
  .cp-login .rhs .sign-up-sec .option-list.typ2 .option-list-item {
    margin-right: 0;
  }
}
@media only screen and (max-width: 768px) {
  .cp-login .rhs .sign-up-sec .option-list.typ2 .option-list-item .btn {
    font-size: 1.2rem;
  }
}
.cp-login .rhs .sign-up-sec .option-list.typ2 .option-list-item:first-child {
  position: relative;
}
.cp-login .rhs .sign-up-sec .option-list.typ2 .option-list-item:first-child::after {
  content: "";
  background: #dedede;
  width: 1px;
  height: 28px;
  right: -28px;
  top: 12px;
  position: absolute;
}
@media only screen and (max-width: 768px) {
  .cp-login .rhs .sign-up-sec .option-list.typ2 .option-list-item:first-child::after {
    height: 19px;
    right: -17px;
    top: 12px;
  }
}
.cp-login .rhs .bottom-sec {
  display: flex;
  justify-content: center;
  gap: 0.8rem;
  margin-bottom: 1.6rem;
}
@media only screen and (max-width: 768px) {
  .cp-login .rhs .bottom-sec {
    margin-bottom: 0.8rem;
  }
}
.cp-login .rhs .bottom-sec .otp-timer {
  font-size: 1.4rem;
  font-family: "Poppins Regular";
  color: #EE4400;
}
.cp-login .rhs .bottom-sec .re-send-link {
  color: #B3B3B3;
  font-family: "Poppins Medium";
  font-size: 1.4rem;
}
.cp-login .rhs .valid-message {
  font-size: 1.4rem;
  color: #333333;
  font-family: "Poppins Medium";
  text-align: center;
}
.cp-login .rhs .pass-verification {
  display: flex;
  flex-direction: column;
  margin-bottom: 2.4rem;
  margin-top: -2rem;
}
.cp-login .rhs .pass-verification .verify-item {
  font-size: 1rem;
  font-family: "Poppins Regular";
  color: #999;
  position: relative;
  padding-left: 2rem;
}
.cp-login .rhs .pass-verification .verify-item:first-child {
  padding-left: 0;
  padding-bottom: 0.8rem;
}
.cp-login .rhs .pass-verification .verify-item:first-child::after {
  display: none;
}
.cp-login .rhs .pass-verification .verify-item::after {
  content: "\e92e";
  position: absolute;
  left: 0;
  top: 0;
  font-size: 1.2rem;
  color: #999;
  font-family: "icomoon" !important;
}
.cp-login .rhs .pass-verification .verify-item.completed {
  color: #00A441;
  position: relative;
}
.cp-login .rhs .pass-verification .verify-item.completed::after {
  content: "\e92e";
  position: absolute;
  left: 0;
  top: 0;
  font-size: 1.2rem;
  color: #00A441;
  font-family: "icomoon" !important;
}
.cp-login .rhs .pass-verification .verify-item.error {
  color: #EE4400;
}
.cp-login .rhs .pass-verification .verify-item.error::after {
  content: "\e92e";
  position: absolute;
  left: 0;
  top: 0;
  font-size: 1.2rem;
  color: #EE4400;
  font-family: "icomoon" !important;
}
.cp-login input[type=number]::-webkit-inner-spin-button,
.cp-login input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.cp-login input[type=number] {
  -moz-appearance: textfield;
}

/*# sourceMappingURL=cp-login.css.map */
