.bs-radio {
    margin-bottom: 1.6rem;

    .custom-radio {
        cursor: pointer;
        border: 1px solid $clr-border;
        font-size: 1.4rem;
        font-family: $font-regular;
        color: $clr-para;
        background: $clr-root;
        border-radius: 12px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        min-width: 19.4rem;
        padding: 0.4rem 0;

        @media only screen and (max-width: $media-sm) {
            min-width: 16.5rem;
        }
    }

    input[type="radio"]:checked+.custom-radio {
        border: 2px solid $clr-primary;
        background: $clr-bg;
        color: $clr-primary;

        .price {
            font-family: $font-semiBold;

        }

    }

    input[type="radio"] {
        opacity: 0;
        display: none;
    }

    &.typ-structura-pdp {
        display: block;

        .custom-radio {
            min-width: 10.9rem;
            padding: 1.2rem 0;
        }

    }

    &.typ2 {
        margin-bottom: 0;

        .dot {
            width: 1.4rem;
            height: 1.4rem;
            background-color: #F1F3E6;
            flex: 0 0 1.4rem;
            @include border-radius(50%);

            &.c-blue {
                background-color: #007ABD;
            }

            &.n-blue {
                background-color: #004A8E;
            }

            &.b-green {
                background-color: #038562;
            }

            &.p-green {
                background-color: #007654;
            }

            &.p-red {
                background-color: #BC1627;
            }

            &.s-grey {
                background-color: #46484E;
            }

            &.c-red {
                background-color: #851013;
            }

            &.ca-red {
                background-color: #A7352B;
            }
        }

        .ellipsis {
            overflow: hidden;
            white-space: nowrap;
            display: block;
            text-overflow: ellipsis;
        }

        .custom-radio {
            padding: 1.3rem 0.8rem;
            flex-direction: row;
            font-size: 1.2rem;
            font-family: $font-medium ;
            min-width: 10.9rem;
            color: $clr-base;
            gap: 0.8rem;
            border: none;
            position: relative;

            &::after {
                content: '';
                position: absolute;
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
                border: 1px solid $clr-border;
                width: 100%;
                height: 100%;
                border-radius: 12px;
            }

            @media only screen and (max-width: $media-sm) {
                min-width: 100%;
                gap: 0.8rem;
                flex-wrap: nowrap;

            }
        }

        input[type="radio"]:checked+.custom-radio {
            border: none;
            background: #fff;
            color: $clr-base;
            position: relative;

            &::after {
                content: '';
                position: absolute;
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
                border: 2px solid $clr-primary;
                width: 100%;
                height: 100%;
                border-radius: 12px;
            }
        }

        @media only screen and (max-width: $media-sm) {
            width: 31%;
            white-space: nowrap;

        }

    }

    &.typ-pravesh {
        width: 47%;

        .custom-radio {
            padding: 0.6rem 0.8rem;

        }

        .dot {
            width: 2.4rem;
            height: 2.4rem;
            flex: 0 0 2.4rem;
            font-family: $font-regular;
            color: $clr-para;
            border-radius: 50%;
            overflow: hidden;

            img {
                object-fit: none;
                object-position: center;
                width: 100%;
                height: 100%;
                border-radius: 50%;
                overflow: hidden;
            }
        }
    }

    &.typ-shade {
        @media only screen and (max-width: $media-sm) {
            width: auto;
        }

        .custom-radio {
            padding: 4px;
            min-width: auto;
            height: auto;
            width: auto;
            border-radius: 50%;

            .dot {
                height: 2.4rem;
                width: 2.4rem;
                flex: 0 0 2.4rem;

                @media only screen and (max-width: $media-sm) {
                    height: 2rem;
                    width: 2rem;
                    flex: 0 0 2rem;
                }

                &.shade1 {
                    background-color: #4D311C;
                }

                &.shade2 {
                    background-color: #E0E0E0;
                }

                &.shade3 {
                    background-color: #C8672D;
                }

                &.shade4 {
                    background-color: #FCD5AD;
                }
            }

            &::after {
                border-radius: 50% !important;
            }

            input[type="radio"]:checked+.custom-radio {
                &::after {
                    border-radius: 50%;
                }
            }
        }
    }
    &.typ-flr-plan{
        padding: 0;
        width: 48%;
        margin-bottom: 0;
        @media only screen and (max-width: $media-sm) {
            width: 100%;
        }
        .custom-radio{
            padding: 0;
        }
        input[type=radio]:checked + .custom-radio{
            background: $clr-root;
            border: 1px solid #D2042D;
        }
    }
    &.typ-house{
        .custom-radio{
            padding: 0;
            border: 0;
        }
        input[type=radio]:checked{             
            & + .custom-radio{
                background: $clr-root;
                border: 0;
                .home-typ-card{
                    .img-wrap{
                        border: 4px solid #D2042D;
                    }
                }
            }
        }
    }
    &.typ-book-demo{
        .custom-radio {
            font-size: 1.6rem;
            line-height: 2.4rem;
            padding: 1.2rem 1.6rem;
    
            @media only screen and (max-width: $media-sm) {
                min-width: 16.5rem;
                align-items: flex-start;
            }
        }
    }
    &.typ-plan{
        .custom-radio {
            font-size: 2rem;
            line-height: 2.8rem;
            font-family: $font-medium;
            padding: 1.6rem;
        }
        &:last-child{
            margin-bottom: 2.4rem;
        }
    }
    &.typ-build-cost{
        .custom-radio {
            padding: 3.2rem 1.6rem;
            @media only screen and (max-width: $media-mobile){
                padding: 2.4rem 1rem;
            }
            @media only screen and (max-width: $media-sm) {
                min-width: 11.2rem;
            }
            .material-wrap{
                width: 100%;
                .img-wrap{
                    width: 7.2rem;
                    height: 7.2rem;
                    background: #FFC633;
                    padding: 1rem;
                    margin-bottom: 1.2rem;
                    @include border-radius(50%);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    .icon{
                        font-size: 3.9rem;
                        line-height: 7.2rem;
                        color: $clr-root;                
                    }           
                }
                .home-typ{
                    font-family: $font-semiBold;
                    font-size: 2rem;
                    line-height: 2.8rem;
                    text-align: center;
                    color: $clr-base;
                    position: relative;
                    padding-bottom: 1.2rem;
                    margin-bottom: 1.6rem;
                    text-transform: capitalize;
                    @media only screen and (max-width: $media-mobile){
                        font-size: 1.6rem;
                        line-height: 2.4rem;
                    }
                    &:after{
                        content: '';
                        position: absolute;
                        bottom: 0rem;
                        left: 50%;
                        transform: translateX(-50%);
                        height: 3px;
                        width: 4.8rem;
                        background: #FFC633;
                        @include border-radius(1rem);
                    }
                }
                .detail-list{
                    display: flex;
                    align-items: flex-start;
                    justify-content: flex-start;
                    gap: 1.6rem;
                    flex-direction: column;
                    text-align: left;
                    .title{
                        color: $clr-para;
                        font-size: 1.2rem;
                        line-height: 1.6rem;
                        margin-bottom: 0.2rem;
                    }
                    .desc{
                        color: $clr-black;
                        font-size: 1.4rem;
                        line-height: 2rem;
                        font-family: $font-medium;
                        @media only screen and (max-width: $media-mobile){
                            font-size: 1.2rem;
                            line-height: 1.6rem;
                        }
                    }
                }
            }
        }       
    }

    &.typ-blog-quiz {
        .custom-radio {
            align-items: start;
            padding: 1.2rem 4.6rem 1.2rem 1.6rem;
            color: $clr-base;
            position: relative;
        }

        input[type="radio"]:checked+.typ-correct, input[type="radio"]:checked+.typ-incorrect {
            border-color: #66C88D;
            background-color: #E5F6EC;
            color: $clr-base;
            font-family: $font-medium;
            &::after {
                content: "\e938";
                width: 2.4rem;
                font-size: 1.6rem;
                /* height: 2.4rem; */
                color: #00A441;
                font-family: "icomoon" !important;
                position: absolute;
                right: 8px;
                top: 0;
                /* bottom: 0; */
                margin: auto;
                text-align: center;
                top: 50%;
                transform: translateY(-50%)
            }
        }
        input[type="radio"]:checked+.typ-incorrect {
            background-color: #FDECE5;
            border-color: #F58F66;
            &::after { content: "\e91f"; color: #EE4400; font-size: 2.4rem;}
        }
    }

    &.typ-circle-radio{
        .custom-radio{ position: relative; padding: 0; padding-left: 4rem; display: block; border: none; background: none; color: $clr-base;}
        .checkmark {
            position: absolute;
            top: 0;
            left: 0;
            height: 21px;
            width: 21px;
            background-color: rgba(0,0,0,0);
            border-radius: 50%;
            border: 2px solid #999999;
            transition: all 0.3s;

          }
          input[type="radio"]:checked+.custom-radio .checkmark {
            background-color: rgba(0,0,0,0);
            border-color: #3D7EDB;
          }
          .checkmark::after {
            content: "";
            position: absolute;
            display: none;
          }
          .checkmark::after{
            top: 2px;
           left: 2px;
           width: 13px;
           height: 13px;
           border-radius: 50%;
           background: #3D7EDB;
       }
          input[type="radio"]:checked+.custom-radio .checkmark::after {
            display: block;
          }

          input[type=radio]:checked + .custom-radio {
            border: none;
            background:none;
            font-family: $font-medium;
        }   
    }

}