/* colors */
/*font family*/
/* breakpoints */
/*transform*/
/*opacity*/
/*opacity- end*/
.cp-architectural-plans-banner {
  position: relative;
  height: 220px; }
  .cp-architectural-plans-banner::after {
    position: absolute;
    content: '';
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(0.1deg, rgba(0, 0, 0, 0) -7.49%, rgba(0, 0, 0, 0.72) 59.57%); }
    @media only screen and (max-width: 768px) {
      .cp-architectural-plans-banner::after {
        background: linear-gradient(358.29deg, rgba(0, 0, 0, 0) -61.95%, rgba(0, 0, 0, 0.81) 81.22%); } }
  .cp-architectural-plans-banner img {
    height: 220px;
    width: 100%;
    object-fit: cover;
    overflow: hidden; }
  .cp-architectural-plans-banner .banner-title-wrap {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0px 0 4rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    z-index: 2;
    height: 100%;
    justify-content: flex-end; }
    @media only screen and (max-width: 768px) {
      .cp-architectural-plans-banner .banner-title-wrap {
        width: 100%;
        padding: 0rem 0 2rem;
        max-width: auto; } }
    .cp-architectural-plans-banner .banner-title-wrap .head-sec {
      display: flex;
      align-items: center;
      gap: 3.2rem;
      max-width: 124rem;
      margin: 0px auto;
      width: 100%; }
      @media only screen and (max-width: 768px) {
        .cp-architectural-plans-banner .banner-title-wrap .head-sec {
          gap: 1.2rem;
          flex-direction: column;
          align-items: self-start;
          padding: 0rem 1.6rem; } }
      .cp-architectural-plans-banner .banner-title-wrap .head-sec .title {
        font-size: 2.8rem;
        color: #fff;
        font-family: "Poppins Semibold";
        display: flex;
        align-items: center;
        gap: 1.6rem; }
        @media only screen and (max-width: 768px) {
          .cp-architectural-plans-banner .banner-title-wrap .head-sec .title {
            font-size: 2rem; } }
        .cp-architectural-plans-banner .banner-title-wrap .head-sec .title .icon {
          font-size: 2.4rem;
          width: 2.4rem;
          height: 2.4rem;
          color: #fff; }
      .cp-architectural-plans-banner .banner-title-wrap .head-sec .btn-outline {
        color: #fff;
        border-color: #fff; }
      .cp-architectural-plans-banner .banner-title-wrap .head-sec .desc {
        color: #fff;
        font-size: 2rem; }
      @media only screen and (max-width: 768px) {
        .cp-architectural-plans-banner .banner-title-wrap .head-sec.typ-filter {
          align-items: center;
          justify-content: space-between;
          flex-direction: initial; } }
    .cp-architectural-plans-banner .banner-title-wrap .btn-filter {
      min-width: auto;
      padding: 1rem 0.8rem;
      display: flex;
      align-items: center;
      gap: 1.2rem;
      position: relative;
      height: 4rem; }
      .cp-architectural-plans-banner .banner-title-wrap .btn-filter .icon {
        font-size: 1.4rem; }
      .cp-architectural-plans-banner .banner-title-wrap .btn-filter .count {
        width: 16px;
        height: 16px;
        border-radius: 50%;
        border: 1px solid #FFFFFF;
        background: #D2042D;
        position: absolute;
        color: #FFFFFF;
        font-size: 1rem;
        font-family: "Poppins Regular";
        right: -5px;
        top: -5px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center; }
  .cp-architectural-plans-banner.typ-2 {
    height: 272px; }
    .cp-architectural-plans-banner.typ-2 .banner-title-wrap {
      padding: 0px 0 9rem; }
      .cp-architectural-plans-banner.typ-2 .banner-title-wrap .head-sec {
        flex-direction: column;
        align-items: flex-start;
        gap: 2.4rem; }
        .cp-architectural-plans-banner.typ-2 .banner-title-wrap .head-sec .title {
          font-size: 4rem; }
          @media only screen and (max-width: 768px) {
            .cp-architectural-plans-banner.typ-2 .banner-title-wrap .head-sec .title {
              font-size: 2.4rem; } }
    .cp-architectural-plans-banner.typ-2 img {
      height: 272px; }

/*# sourceMappingURL=cp-architectural-plans-banner.css.map */
