/* colors */
/*font family*/
/* breakpoints */
/*transform*/
/*opacity*/
/*opacity- end*/
.cp-building-estimator {
  overflow: hidden;
  max-width: 82rem;
  margin: 0 auto;
  border-radius: 2.4rem 2.4rem 0 0;
  -webkit-border-radius: 2.4rem 2.4rem 0 0;
  -moz-border-radius: 2.4rem 2.4rem 0 0; }
  @media only screen and (max-width: 768px) {
    .cp-building-estimator {
      margin: 0 -1.6rem;
      border-radius: 0;
      -webkit-border-radius: 0;
      -moz-border-radius: 0; } }
  .cp-building-estimator.full-width {
    max-width: 100%; }
    @media only screen and (max-width: 768px) {
      .cp-building-estimator.full-width {
        margin: 0; } }
  .cp-building-estimator .calc-step {
    padding: 3.2rem 4rem 4rem;
    border-radius: 2.4rem 2.4rem 0 0;
    -webkit-border-radius: 2.4rem 2.4rem 0 0;
    -moz-border-radius: 2.4rem 2.4rem 0 0;
    background: #fff;
    margin-top: -2rem;
    border: 1px solid #DEDEDE;
    text-align: center; }
    @media only screen and (max-width: 768px) {
      .cp-building-estimator .calc-step {
        padding: 3.2rem 1.6rem; } }
    .cp-building-estimator .calc-step.step-1 {
      max-width: 100%;
      padding: 0;
      margin: 0;
      border: 0; }
  .cp-building-estimator .act-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2.4rem 3.2rem;
    border: 1px solid #DEDEDE;
    border-radius: 0 0 2.4rem 2.4rem;
    -webkit-border-radius: 0 0 2.4rem 2.4rem;
    -moz-border-radius: 0 0 2.4rem 2.4rem; }
    @media only screen and (max-width: 768px) {
      .cp-building-estimator .act-wrap {
        padding: 1.2rem;
        border-radius: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0; } }
  .cp-building-estimator .calc-title {
    font-size: 1.6rem;
    line-height: 2.4rem;
    font-family: "Poppins Medium";
    color: #666666; }
  .cp-building-estimator .calc-desc {
    font-size: 2.8rem;
    line-height: 4rem;
    font-family: "Poppins Semibold";
    margin-bottom: 3rem;
    color: #333333; }
    @media only screen and (max-width: 768px) {
      .cp-building-estimator .calc-desc {
        font-size: 2.4rem;
        line-height: 3.2rem;
        margin-bottom: 2.4rem; } }
  .cp-building-estimator .img-wrap {
    margin: 0 auto; }
    .cp-building-estimator .img-wrap img {
      object-fit: cover; }
    .cp-building-estimator .img-wrap.typ-no-flr {
      max-width: 35rem;
      height: 26.3rem;
      margin: 0 auto 4.4rem; }
      @media only screen and (max-width: 768px) {
        .cp-building-estimator .img-wrap.typ-no-flr {
          width: 31.1rem;
          height: 24rem; } }
  .cp-building-estimator .option-wrap {
    margin: 6rem auto 0;
    max-width: 32rem;
    padding: 0.8rem 1.6rem;
    border-radius: 1.2rem;
    -webkit-border-radius: 1.2rem;
    -moz-border-radius: 1.2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.2rem;
    background-color: #F3F4F6; }
    .cp-building-estimator .option-wrap .option-txt {
      font-size: 1.4rem;
      line-height: 2rem;
      font-family: "Poppins Medium";
      color: #333333; }
  .cp-building-estimator .radio-wrap {
    max-width: 61rem;
    margin: 0 auto; }
  .cp-building-estimator .lyt-grid.typ-col-3-no-wrap {
    max-width: 71.2rem;
    margin: 0 auto; }
  .cp-building-estimator.budget-help-drawer {
    margin: 0;
    text-align: center; }
    @media only screen and (max-width: 768px) {
      .cp-building-estimator.budget-help-drawer {
        margin: 0; } }
    .cp-building-estimator.budget-help-drawer .calc-desc {
      margin: 0 auto 2rem;
      max-width: 470px; }

/*# sourceMappingURL=cp-building-estimator.css.map */
