/* Error: expected "{".
 *     ,
 * 216 |   border: 1px solid $clr-border;
 *     |                                ^
 *     '
 *   src/scss/base/_base-setup.scss 216:32  @import
 *   src/scss/global.scss 16:9              root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: expected "{".\a     \2577 \a 216 \2502    border: 1px solid $clr-border;\a     \2502                                 ^\a     \2575 \a   src/scss/base/_base-setup.scss 216:32  @import\a   src/scss/global.scss 16:9              root stylesheet';
}
