/* colors */
/*font family*/
/* breakpoints */
/*transform*/
/*opacity*/
/*opacity- end*/
.lyt-grid {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 2rem; }
  @media only screen and (max-width: 768px) {
    .lyt-grid {
      gap: 1.2rem;
      flex-direction: column; } }
  .lyt-grid.typ-col-2 .grid-col {
    width: 50%; }
    @media only screen and (max-width: 768px) {
      .lyt-grid.typ-col-2 .grid-col {
        width: 100%; } }
  .lyt-grid.typ-col-2-no-wrap {
    flex-direction: row; }
    .lyt-grid.typ-col-2-no-wrap .grid-col {
      width: 50%; }
  .lyt-grid.typ-col-3 .grid-col {
    width: 33%; }
    @media only screen and (max-width: 768px) {
      .lyt-grid.typ-col-3 .grid-col {
        width: 100%; } }
  @media only screen and (max-width: 768px) {
    .lyt-grid.typ-col-3-no-wrap {
      flex-direction: row;
      gap: 0.3rem; } }
  .lyt-grid.typ-col-3-no-wrap .grid-col {
    width: 33%; }
  .lyt-grid.typ-col-3-no-wrap.gap-8 {
    gap: 8px; }
  .lyt-grid.typ-col-4 {
    flex-wrap: wrap; }
    .lyt-grid.typ-col-4 .grid-col {
      width: 23.5%; }
      @media only screen and (max-width: 768px) {
        .lyt-grid.typ-col-4 .grid-col {
          width: 100%; } }
  .lyt-grid.typ-col-4-mobile-2 {
    flex-wrap: wrap;
    flex-direction: row; }
    .lyt-grid.typ-col-4-mobile-2 .grid-col {
      width: 22.5%; }
      @media only screen and (max-width: 768px) {
        .lyt-grid.typ-col-4-mobile-2 .grid-col {
          width: 48.2%; } }
  .lyt-grid.typ-col-about {
    flex-wrap: wrap;
    justify-content: initial;
    align-items: initial; }
    .lyt-grid.typ-col-about .grid-col {
      width: 31.9%; }
      @media only screen and (max-width: 768px) {
        .lyt-grid.typ-col-about .grid-col {
          width: 100%; } }
  .lyt-grid.typ-about-news {
    height: auto; }
    @media only screen and (max-width: 768px) {
      .lyt-grid.typ-about-news {
        flex-wrap: initial;
        gap: 0;
        flex-direction: initial;
        height: 100%; } }
    .lyt-grid.typ-about-news .grid-col {
      height: auto; }
  .lyt-grid.typ-explore {
    align-items: center;
    justify-content: space-around;
    padding-bottom: 4.8rem;
    border-bottom: 1px solid #DEDEDE;
    gap: 1.2rem; }
    @media only screen and (max-width: 768px) {
      .lyt-grid.typ-explore {
        flex-direction: row;
        padding-bottom: 2.4rem; } }
    .lyt-grid.typ-explore .grid-col {
      width: 33%; }
      .lyt-grid.typ-explore .grid-col:last-child .cp-icon-details::after {
        display: none; }
    .lyt-grid.typ-explore.typ-about {
      border: none; }
  .lyt-grid.typ-category {
    gap: 1.2rem; }
    @media only screen and (max-width: 768px) {
      .lyt-grid.typ-category {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: stretch; } }
    .lyt-grid.typ-category .grid-col {
      width: 30.8%; }
  .lyt-grid.typ-4 .grid-col:first-child {
    width: 70%; }
    @media only screen and (max-width: 768px) {
      .lyt-grid.typ-4 .grid-col:first-child {
        width: 100%; } }
  .lyt-grid.typ-4 .grid-col:last-child {
    width: 30%; }
    @media only screen and (max-width: 768px) {
      .lyt-grid.typ-4 .grid-col:last-child {
        width: 100%; } }
  @media only screen and (max-width: 768px) {
    .lyt-grid.typ5 {
      flex-wrap: wrap;
      flex-direction: row; } }
  .lyt-grid.typ5 .grid-col {
    width: 25%; }
    @media only screen and (max-width: 768px) {
      .lyt-grid.typ5 .grid-col {
        width: 48%; } }
  .lyt-grid.typ-structure {
    justify-content: flex-start; }
  .lyt-grid.typ-6 .grid-col:first-child {
    width: 40%; }
    @media only screen and (max-width: 768px) {
      .lyt-grid.typ-6 .grid-col:first-child {
        width: 100%;
        padding: 0 1.6rem 1.6rem;
        background-color: #FFFBF2; } }
  .lyt-grid.typ-6 .grid-col:last-child {
    width: 60%; }
    @media only screen and (max-width: 768px) {
      .lyt-grid.typ-6 .grid-col:last-child {
        width: 100%; } }
  @media only screen and (max-width: 768px) {
    .lyt-grid.typ-7 {
      flex-direction: column-reverse; } }
  .lyt-grid.typ-7 .grid-col:first-child {
    width: 66.2%; }
    @media only screen and (max-width: 768px) {
      .lyt-grid.typ-7 .grid-col:first-child {
        width: 100%; } }
  .lyt-grid.typ-7 .grid-col:last-child {
    width: 32.3%; }
    @media only screen and (max-width: 768px) {
      .lyt-grid.typ-7 .grid-col:last-child {
        width: 100%; } }
  @media only screen and (max-width: 768px) {
    .lyt-grid.typ-about-brand .grid-col {
      width: 100% !important; } }
  .lyt-grid.typ-about-brand .grid-col:first-child {
    width: 34%; }
  .lyt-grid.typ-about-brand .grid-col:last-child {
    width: 66.66%; }
  @media only screen and (max-width: 768px) {
    .lyt-grid.typ-about-icon {
      flex-direction: initial;
      flex-wrap: wrap; } }
  @media only screen and (max-width: 768px) {
    .lyt-grid.typ-about-icon .grid-col {
      width: 48% !important; } }
  @media only screen and (max-width: 768px) {
    .lyt-grid.typ-about-icon .grid-col .cp-icon-details::after {
      top: 39%;
      height: 9rem; } }
  @media only screen and (max-width: 768px) {
    .lyt-grid.typ-about-icon .grid-col .cp-icon-details .icon {
      flex: 0 0 2rem; } }
  @media only screen and (max-width: 768px) {
    .lyt-grid.typ-about-icon .grid-col:nth-child(1) .cp-icon-details {
      border-bottom: 1px solid #ccc;
      padding-bottom: 2rem; } }
  @media only screen and (max-width: 768px) {
    .lyt-grid.typ-about-icon .grid-col:nth-child(2) .cp-icon-details {
      border-bottom: 1px solid #ccc;
      padding-bottom: 2rem; } }
  @media only screen and (max-width: 768px) {
    .lyt-grid.typ-about-icon .grid-col:nth-child(2) .cp-icon-details::after {
      content: none; } }
  @media only screen and (max-width: 768px) {
    .lyt-grid.typ-about-icon .grid-col:nth-child(3) .cp-icon-details::after {
      top: 60%; } }
  @media only screen and (max-width: 768px) {
    .lyt-grid.typ-about-icon .grid-col:nth-child(4) .cp-icon-details::after {
      content: none; } }
  .lyt-grid.typ-about-nestudio {
    gap: 4.8rem 2rem;
    flex-wrap: wrap;
    justify-content: center; }
    @media only screen and (max-width: 768px) {
      .lyt-grid.typ-about-nestudio {
        gap: 2.4rem 1rem;
        flex-direction: initial; } }
    .lyt-grid.typ-about-nestudio .grid-col {
      width: 32.2%; }
      @media only screen and (max-width: 768px) {
        .lyt-grid.typ-about-nestudio .grid-col {
          width: 48%; } }
  @media only screen and (max-width: 768px) {
    .lyt-grid.typ-col-4-wrap {
      gap: 1.2rem;
      flex-direction: initial;
      flex-wrap: wrap; } }
  .lyt-grid.typ-col-4-wrap .grid-col {
    width: 25%; }
    @media only screen and (max-width: 768px) {
      .lyt-grid.typ-col-4-wrap .grid-col {
        width: 48%; } }
  .lyt-grid.typ-column-wrap-4 {
    gap: 0;
    flex-direction: initial;
    flex-wrap: wrap;
    justify-content: inherit;
    align-items: initial;
    margin-right: -16px;
    margin-left: -16px; }
    @media only screen and (max-width: 768px) {
      .lyt-grid.typ-column-wrap-4 {
        margin-right: 0;
        margin-left: 0;
        gap: 2rem; } }
    .lyt-grid.typ-column-wrap-4 .grid-col {
      width: auto;
      flex: 0 0 25%;
      max-width: 25%;
      padding: 0 1.2rem; }
      @media only screen and (max-width: 768px) {
        .lyt-grid.typ-column-wrap-4 .grid-col {
          width: 100%;
          flex: 0 0 100%;
          max-width: 100%;
          padding: 0; } }
  .lyt-grid.typ-col-wrap-3 {
    gap: 0;
    flex-direction: initial;
    flex-wrap: wrap;
    justify-content: inherit;
    align-items: initial;
    margin-right: -16px;
    margin-left: -16px;
    row-gap: 2rem; }
    @media only screen and (max-width: 768px) {
      .lyt-grid.typ-col-wrap-3 {
        margin-right: 0;
        margin-left: 0;
        gap: 2rem; } }
    .lyt-grid.typ-col-wrap-3 .grid-col {
      width: auto;
      flex: 0 0 33.33%;
      max-width: 33.33%;
      padding: 0 1.2rem; }
      @media only screen and (max-width: 768px) {
        .lyt-grid.typ-col-wrap-3 .grid-col {
          width: 100%;
          flex: 0 0 100%;
          max-width: 100%;
          padding: 0; } }
  .lyt-grid.typ-col-5 {
    justify-content: initial;
    flex-wrap: wrap; }
    .lyt-grid.typ-col-5 .grid-col {
      width: 48.7%; }
      @media only screen and (max-width: 768px) {
        .lyt-grid.typ-col-5 .grid-col {
          width: 100%; } }
  .lyt-grid.typ-col-6 {
    gap: 0;
    flex-direction: initial;
    flex-wrap: wrap;
    justify-content: inherit;
    align-items: initial;
    margin-right: -10px;
    margin-left: -10px; }
    @media only screen and (max-width: 768px) {
      .lyt-grid.typ-col-6 {
        margin-right: 0px;
        margin-left: 0px;
        gap: 1.2rem; } }
    .lyt-grid.typ-col-6 .grid-col {
      width: auto;
      flex: 0 0 16.66%;
      max-width: 16.66%;
      padding: 0 1rem; }
      @media only screen and (max-width: 768px) {
        .lyt-grid.typ-col-6 .grid-col {
          flex: 0 0 48%;
          max-width: 48%;
          padding: 0 0px; } }
  .lyt-grid .grid-col-w-65 {
    width: 65% !important; }
    @media only screen and (max-width: 768px) {
      .lyt-grid .grid-col-w-65 {
        width: 100% !important; } }
  .lyt-grid .grid-col-w-60 {
    width: 60% !important; }
    @media only screen and (max-width: 768px) {
      .lyt-grid .grid-col-w-60 {
        width: 100% !important; } }
  .lyt-grid .grid-col-w-40 {
    width: 40% !important; }
    @media only screen and (max-width: 768px) {
      .lyt-grid .grid-col-w-40 {
        width: 100% !important; } }
  .lyt-grid .grid-col-w-35 {
    width: 35% !important; }
    @media only screen and (max-width: 768px) {
      .lyt-grid .grid-col-w-35 {
        width: 100% !important; } }
  .lyt-grid .grid-col-w-65-sp {
    width: 65% !important; }
    @media only screen and (max-width: 768px) {
      .lyt-grid .grid-col-w-65-sp {
        width: 30% !important; } }
  .lyt-grid .grid-col-w-35-sp {
    width: 35% !important; }
    @media only screen and (max-width: 768px) {
      .lyt-grid .grid-col-w-35-sp {
        width: 70% !important; } }
  .lyt-grid .grid-col-w-100 {
    width: 100% !important; }
  .lyt-grid .grid-col-w-50 {
    width: 49% !important; }
  .lyt-grid.typ-col-wrap {
    flex-wrap: wrap;
    gap: 0;
    margin: 0 -1rem;
    justify-content: initial;
    align-items: inherit;
    flex-direction: initial; }
    .lyt-grid.typ-col-wrap .grid-col {
      padding: 0 1rem; }
  .lyt-grid.flex-dir-initial {
    flex-direction: initial; }
  .lyt-grid.align-center {
    align-items: center; }
  .lyt-grid.typ-explore-style {
    flex-direction: initial;
    flex-wrap: wrap;
    justify-content: inherit;
    align-items: initial;
    gap: 2rem; }
    @media only screen and (max-width: 768px) {
      .lyt-grid.typ-explore-style {
        margin-right: 0;
        margin-left: 0;
        gap: 2rem; } }
    .lyt-grid.typ-explore-style .grid-col-8 {
      width: auto;
      flex: 0 0 calc(76% - 1rem);
      max-width: calc(76% - 1rem); }
      @media only screen and (max-width: 768px) {
        .lyt-grid.typ-explore-style .grid-col-8 {
          width: 100%;
          flex: 0 0 100%;
          max-width: 100%;
          padding: 0; } }
      .lyt-grid.typ-explore-style .grid-col-8 .bs-swiper {
        overflow: hidden; }
    .lyt-grid.typ-explore-style .grid-col-2 {
      width: auto;
      flex: 0 0 calc(24% - 1rem);
      max-width: calc(24% - 1rem); }
      @media only screen and (max-width: 768px) {
        .lyt-grid.typ-explore-style .grid-col-2 {
          width: 100%;
          flex: 0 0 100%;
          max-width: 100%;
          padding: 0; } }
  .lyt-grid.typ-design-sq {
    margin-bottom: 1.6rem;
    flex-direction: initial; }
    @media only screen and (max-width: 768px) {
      .lyt-grid.typ-design-sq {
        flex-direction: initial; } }
    .lyt-grid.typ-design-sq .grid-col {
      flex: 0 0 calc(50% - 20px);
      max-width: calc(50% - 20px); }
      @media only screen and (max-width: 768px) {
        .lyt-grid.typ-design-sq .grid-col {
          flex: 0 0 calc(50% - 6px);
          max-width: calc(50% - 6px); } }
  .lyt-grid.typ-design-quiz {
    margin-bottom: 1.6rem;
    flex-direction: initial;
    flex-wrap: wrap; }
    @media only screen and (max-width: 768px) {
      .lyt-grid.typ-design-quiz {
        flex-direction: initial; } }
    .lyt-grid.typ-design-quiz .grid-col {
      flex: 0 0 calc(33.33% - 14px);
      max-width: calc(33.33% - 14px); }
      @media only screen and (max-width: 768px) {
        .lyt-grid.typ-design-quiz .grid-col {
          flex: 0 0 calc(50% - 6px);
          max-width: calc(50% - 6px); } }
    @media only screen and (max-width: 768px) {
      .lyt-grid.typ-design-quiz.w-100 .grid-col {
        flex: 0 0 100%;
        max-width: 100%; } }
  .lyt-grid.justify-center {
    justify-content: center; }

/* colors */
/*font family*/
/* breakpoints */
/*transform*/
/*opacity*/
/*opacity- end*/
.lyt-plp {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 1.9rem; }
  @media only screen and (max-width: 768px) {
    .lyt-plp {
      gap: 1.2rem; } }
  .lyt-plp .grid-col {
    width: 23.7%; }
    @media only screen and (max-width: 768px) {
      .lyt-plp .grid-col {
        width: 100%; } }
    .lyt-plp .grid-col.typ100 {
      width: 100%; }
  .lyt-plp.typ-list .grid-col {
    width: 100%; }

.lyt-list {
  display: flex;
  align-items: center;
  gap: 1rem; }
  @media only screen and (max-width: 768px) {
    .lyt-list {
      display: none; } }
  .lyt-list .lyt-item .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4rem;
    height: 4rem;
    border-radius: 0.8rem;
    -webkit-border-radius: 0.8rem;
    -moz-border-radius: 0.8rem;
    background: #F3F4F6;
    font-size: 1.8rem;
    line-height: 2rem;
    color: #999999; }
    .lyt-list .lyt-item .icon.icon-grid {
      font-size: 2.2rem; }
  .lyt-list .lyt-item.active .icon {
    background: #666666;
    color: #FFFFFF; }

/*# sourceMappingURL=plp.css.map */
