/* colors */
/*font family*/
/* breakpoints */
/*transform*/
/*opacity*/
/*opacity- end*/
.cp-icon-list {
  border-bottom: 1px solid #DEDEDE;
  padding-bottom: 4rem; }
  .cp-icon-list .title {
    font-size: 2rem;
    font-family: "Poppins Semibold";
    color: #333333;
    margin-bottom: 1.6rem; }
    @media only screen and (max-width: 991px) {
      .cp-icon-list .title {
        font-size: 1.6rem; } }
  .cp-icon-list .cp-icon-list-wrap {
    display: flex;
    gap: 4rem; }
    @media only screen and (max-width: 991px) {
      .cp-icon-list .cp-icon-list-wrap {
        gap: 2rem; } }
    .cp-icon-list .cp-icon-list-wrap .list-item {
      font-size: 1.4rem;
      color: #333333;
      max-width: 8rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      justify-content: center; }
      .cp-icon-list .cp-icon-list-wrap .list-item .icon {
        width: 6.4rem;
        height: 6.4rem;
        font-size: 3.2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        margin-bottom: 1.6rem; }
        .cp-icon-list .cp-icon-list-wrap .list-item .icon.orange {
          color: #F16933;
          background: #FDECE5; }
        .cp-icon-list .cp-icon-list-wrap .list-item .icon.yellow {
          color: #FFB800;
          background: #FFF8E5; }
        .cp-icon-list .cp-icon-list-wrap .list-item .icon.pink {
          color: #DB3657;
          background: #FAE6EA; }
        .cp-icon-list .cp-icon-list-wrap .list-item .icon.purple {
          color: #5A245A;
          background: #EEE9EE; }
        .cp-icon-list .cp-icon-list-wrap .list-item .icon.grey {
          color: #808080;
          background: #EDEDED; }
        .cp-icon-list .cp-icon-list-wrap .list-item .icon.green {
          color: #00A441;
          background: #E5F6EC; }
        .cp-icon-list .cp-icon-list-wrap .list-item .icon.blue {
          color: #3D7EDB;
          background: #ECF2FB; }
  .cp-icon-list.typ-budget-tracker {
    border-bottom: 0;
    padding-bottom: 0; }
    .cp-icon-list.typ-budget-tracker .cp-icon-list-wrap {
      gap: 1.6rem;
      flex-wrap: wrap; }
      .cp-icon-list.typ-budget-tracker .cp-icon-list-wrap .list-item {
        font-size: 1.4rem;
        color: #333333;
        max-width: 100%;
        display: flex;
        flex-direction: initial;
        align-items: center;
        text-align: left;
        justify-content: initial;
        width: calc(33% - 0.7rem);
        border: 1px solid #DEDEDE;
        gap: 8px;
        border-radius: 1.2rem;
        -webkit-border-radius: 1.2rem;
        -moz-border-radius: 1.2rem;
        padding: 1.4rem; }
        @media only screen and (max-width: 991px) {
          .cp-icon-list.typ-budget-tracker .cp-icon-list-wrap .list-item {
            width: 100%; } }
        .cp-icon-list.typ-budget-tracker .cp-icon-list-wrap .list-item .cont-wrap {
          max-width: 20rem; }
        .cp-icon-list.typ-budget-tracker .cp-icon-list-wrap .list-item .title {
          font-size: 1.4rem;
          margin-bottom: 0; }
        .cp-icon-list.typ-budget-tracker .cp-icon-list-wrap .list-item .desc {
          font-size: 1.2rem;
          line-height: 1.6rem;
          color: #333333; }
        .cp-icon-list.typ-budget-tracker .cp-icon-list-wrap .list-item .icon {
          width: 3.6rem;
          height: 3.6rem;
          flex: 0 0 3.6rem;
          font-size: 2.4rem;
          margin-bottom: 0;
          padding: 5px; }
        .cp-icon-list.typ-budget-tracker .cp-icon-list-wrap .list-item .link {
          font-size: 1.4rem;
          text-decoration: underline;
          margin-left: auto;
          font-family: "Poppins Medium"; }
  .cp-icon-list.typ-budget-details {
    border-bottom: 0;
    padding-bottom: 0; }
    .cp-icon-list.typ-budget-details .cp-icon-list-wrap {
      gap: 1.6rem;
      flex-wrap: wrap; }
      .cp-icon-list.typ-budget-details .cp-icon-list-wrap .year {
        color: #00398C;
        font-size: 1.6rem;
        display: block;
        font-family: "Poppins Semibold"; }
      .cp-icon-list.typ-budget-details .cp-icon-list-wrap .list-item {
        font-size: 1.4rem;
        color: #333333;
        max-width: 100%;
        display: flex;
        flex-direction: initial;
        align-items: center;
        text-align: left;
        justify-content: initial;
        width: 100%;
        border: 1px solid #DEDEDE;
        gap: 8px;
        border-radius: 1.2rem;
        -webkit-border-radius: 1.2rem;
        -moz-border-radius: 1.2rem;
        padding: 1.4rem 3rem 1.4rem 1.2rem;
        position: relative; }
        @media only screen and (max-width: 991px) {
          .cp-icon-list.typ-budget-details .cp-icon-list-wrap .list-item {
            width: 100%; } }
        .cp-icon-list.typ-budget-details .cp-icon-list-wrap .list-item .cont-wrap {
          max-width: 20rem; }
        .cp-icon-list.typ-budget-details .cp-icon-list-wrap .list-item .expenses {
          margin-left: auto;
          text-align: right; }
          .cp-icon-list.typ-budget-details .cp-icon-list-wrap .list-item .expenses .price {
            font-size: 1.6rem;
            font-family: "Poppins Semibold";
            color: #333333;
            display: block; }
          .cp-icon-list.typ-budget-details .cp-icon-list-wrap .list-item .expenses .percent {
            font-size: 1.2rem;
            color: #666666;
            display: block; }
        .cp-icon-list.typ-budget-details .cp-icon-list-wrap .list-item .title {
          font-size: 1.4rem;
          margin-bottom: 0; }
        .cp-icon-list.typ-budget-details .cp-icon-list-wrap .list-item .desc {
          font-size: 1.2rem;
          line-height: 1.6rem;
          color: #333333; }
        .cp-icon-list.typ-budget-details .cp-icon-list-wrap .list-item .icon {
          width: 3.6rem;
          height: 3.6rem;
          flex: 0 0 3.6rem;
          font-size: 2.4rem;
          margin-bottom: 0;
          padding: 5px; }
        .cp-icon-list.typ-budget-details .cp-icon-list-wrap .list-item .link {
          font-size: 1.4rem;
          text-decoration: underline;
          margin-left: auto;
          font-family: "Poppins Medium"; }
        .cp-icon-list.typ-budget-details .cp-icon-list-wrap .list-item:after {
          content: "\e907";
          position: absolute;
          right: 0;
          top: 50%;
          font-size: 1.4rem;
          color: #999999;
          font-family: 'icomoon' !important;
          transform: translate(-50%, -50%) rotate(181deg); }
    .cp-icon-list.typ-budget-details.typ-detail-row .cp-icon-list-wrap .list-item .cont-wrap {
      max-width: 100%;
      display: flex;
      align-items: center;
      width: 39%;
      justify-content: space-between; }
    .cp-icon-list.typ-budget-details.typ-detail-row .cp-icon-list-wrap .list-item .expenses {
      text-align: right;
      display: flex;
      align-items: center;
      width: 36%;
      justify-content: space-between; }
      .cp-icon-list.typ-budget-details.typ-detail-row .cp-icon-list-wrap .list-item .expenses .price {
        order: 2; }
      .cp-icon-list.typ-budget-details.typ-detail-row .cp-icon-list-wrap .list-item .expenses .percent {
        order: 1; }

/*# sourceMappingURL=cp-icon-list.css.map */
