/* colors */
/*font family*/
/* breakpoints */
/*transform*/
/*opacity*/
/*opacity- end*/
.cp-loan-calculate {
  border: 1px solid #DEDEDE;
  border-radius: 1.6rem;
  -webkit-border-radius: 1.6rem;
  -moz-border-radius: 1.6rem;
  background: #FFFFFF;
  padding: 5.5rem 4.8rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media only screen and (max-width: 1023px) {
  .cp-loan-calculate {
    border: 0;
    padding: 0;
  }
}
.cp-loan-calculate .form-wrap {
  width: 58%;
}
@media only screen and (max-width: 1023px) {
  .cp-loan-calculate .form-wrap {
    width: 100%;
  }
}
.cp-loan-calculate .graph-wrap {
  width: 35%;
}
@media only screen and (max-width: 1023px) {
  .cp-loan-calculate .graph-wrap {
    width: 100%;
    overflow: hidden;
    border: 1px solid #DEDEDE;
    border-radius: 1.2rem;
    -webkit-border-radius: 1.2rem;
    -moz-border-radius: 1.2rem;
  }
}
.cp-loan-calculate .graph-wrap .donut-chart-section {
  text-align: center;
  width: 30rem;
  height: 30rem;
  margin: 0 auto;
}
.cp-loan-calculate .legend {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1rem;
  margin: 0 2.4rem 2.4rem;
}
.cp-loan-calculate .legend .legend-item {
  width: 46%;
  display: flex;
  justify-content: flex-start;
  gap: 0.5rem;
}
.cp-loan-calculate .legend .dots {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  margin-top: 0.5rem;
}
.cp-loan-calculate .legend .legend-cont {
  color: #333333;
  font-size: 1.6rem;
  line-height: 2.4rem;
  font-family: "Poppins Medium";
}
.cp-loan-calculate .legend .legend-cont .title {
  color: #666666;
  font-size: 1.6rem;
  line-height: 2.4rem;
  font-family: "Poppins Regular";
}
.cp-loan-calculate .result-wrap {
  border: 1px solid #B1CBF1;
  background: #ECF2FB;
  padding: 0.8rem 1.8rem;
  text-align: center;
  border-radius: 1.6rem;
  -webkit-border-radius: 1.6rem;
  -moz-border-radius: 1.6rem;
}
@media only screen and (max-width: 1023px) {
  .cp-loan-calculate .result-wrap {
    padding: 1.6rem;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border: 0;
  }
}
.cp-loan-calculate .result-wrap .title {
  font-size: 1.2rem;
  line-height: 1.6rem;
  color: #666666;
}
.cp-loan-calculate .result-wrap .amt {
  font-size: 2.4rem;
  line-height: 4rem;
  color: #333333;
  font-family: "Poppins Semibold";
}
@media only screen and (max-width: 1023px) {
  .cp-loan-calculate .result-wrap .amt {
    line-height: 3.2rem;
  }
}
.cp-loan-calculate .slider-container {
  margin-bottom: 8.8rem;
}
@media only screen and (max-width: 1023px) {
  .cp-loan-calculate .slider-container {
    margin-bottom: 4.8rem;
  }
}
.cp-loan-calculate .slider-container:last-child {
  margin-bottom: 0;
}
.cp-loan-calculate .slider-container .slider-input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.8rem;
  gap: 1rem;
}
.cp-loan-calculate .slider-container .slider-input .slider-label {
  font-family: "Poppins Medium";
  font-size: 1.6rem;
  line-height: 2.4rem;
  color: #333333;
}
.cp-loan-calculate .slider-container .slider-input .slider-input {
  border: 1px solid #DEDEDE;
  padding: 0.6rem 1rem;
  border-radius: 0.4rem;
  -webkit-border-radius: 0.4rem;
  -moz-border-radius: 0.4rem;
  font-size: 1.6rem;
  line-height: 2.4rem;
  color: #333333;
  text-align: center;
  max-width: 12.4rem;
  width: 100%;
}
@media only screen and (max-width: 1023px) {
  .cp-loan-calculate .slider-container .slider-input .slider-input {
    padding: 0.4rem;
  }
}
.cp-loan-calculate .slider-container .slider-input .slider-input.typ-year, .cp-loan-calculate .slider-container .slider-input .slider-input.typ-rate {
  max-width: 6.9rem;
}
@media only screen and (max-width: 1023px) {
  .cp-loan-calculate .slider-container .slider-input .slider-input.typ-year, .cp-loan-calculate .slider-container .slider-input .slider-input.typ-rate {
    max-width: 5rem;
  }
}
.cp-loan-calculate .input-wrap {
  display: flex;
  gap: 1.2rem;
}
.loan-calc-table-wrap {
  border: 1px solid #DEDEDE;
  border-radius: 2.4rem;
  -webkit-border-radius: 2.4rem;
  -moz-border-radius: 2.4rem;
}
@media only screen and (max-width: 1023px) {
  .loan-calc-table-wrap {
    border-radius: 1.6rem;
    -webkit-border-radius: 1.6rem;
    -moz-border-radius: 1.6rem;
  }
}
@media only screen and (max-width: 1023px) {
  .loan-calc-table-wrap .table-wrapper {
    overflow: hidden;
    overflow-x: scroll;
  }
}
.loan-calc-table-wrap .table-head {
  text-align: center;
  padding: 1.6rem;
}
.loan-calc-table-wrap .table-head .title {
  font-size: 1.6rem;
  line-height: 2.4rem;
  font-family: "Poppins Medium";
  color: #333333;
}
@media only screen and (max-width: 1023px) {
  .loan-calc-table-wrap .table-head .title {
    font-size: 1.4rem;
    line-height: 2rem;
  }
}

/*# sourceMappingURL=cp-loan-calculate.css.map */
