@import "../config/variables";
@import "../config/mixin";

.lyt-grid {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 2rem;

  @media only screen and (max-width: $media-mobile) {
    gap: 1.2rem;
    flex-direction: column;
  }

  &.typ-col-2 {
    .grid-col {
      width: 50%;

      @media only screen and (max-width: $media-mobile) {
        width: 100%;
      }
    }
  }

  &.typ-col-2-no-wrap {
    flex-direction: row;

    .grid-col {
      width: 50%;
    }
  }

  &.typ-col-3 {
    .grid-col {
      width: 33%;

      @media only screen and (max-width: $media-mobile) {
        width: 100%;
      }
    }
  }

  &.typ-col-3-no-wrap {
    @media only screen and (max-width: $media-mobile) {
      flex-direction: row;
      gap: 0.3rem;
    }

    .grid-col {
      width: 33%;
    }
  }

  &.typ-col-4 {
    flex-wrap: wrap;

    .grid-col {
      width: 22.5%;

      @media only screen and (max-width: $media-mobile) {
        width: 100%;
      }
    }
  }

  &.typ-col-4-mobile-2 {
    flex-wrap: wrap;
    flex-direction: row;

    .grid-col {
      width: 22.5%;

      @media only screen and (max-width: $media-mobile) {
        width: 48.2%;
      }
    }
  }

  &.typ-col-about {
    flex-wrap: wrap;
    justify-content: initial;
    align-items: initial;

    .grid-col {
      width: 31.9%;

      @media only screen and (max-width: $media-mobile) {
        width: 100%;
      }
    }
  }

  &.typ-about-news {
    height: auto;

    @media only screen and (max-width: $media-mobile) {
      flex-wrap: initial;
      gap: 0;
      flex-direction: initial;
      height: 100%;
    }

    .grid-col {
      height: auto;
    }
  }

  &.typ-explore {
    align-items: center;
    justify-content: space-around;
    padding-bottom: 4.8rem;
    border-bottom: 1px solid $clr-border;
    gap: 1.2rem;

    @media only screen and (max-width: $media-mobile) {
      flex-direction: row;
      padding-bottom: 2.4rem;
    }

    .grid-col {
      width: 33%;

      &:last-child {
        .cp-icon-details::after {
          display: none;
        }
      }
    }

    &.typ-about {
      border: none;
    }
  }

  &.typ-category {
    gap: 1.2rem;

    @media only screen and (max-width: $media-mobile) {
      flex-direction: row;
      flex-wrap: wrap;
      align-items: stretch;
    }

    .grid-col {
      width: 30.8%;
    }
  }

  &.typ-4 {
    .grid-col {
      &:first-child {
        width: 70%;

        @media only screen and (max-width: $media-mobile) {
          width: 100%;
        }
      }

      &:last-child {
        width: 30%;

        @media only screen and (max-width: $media-mobile) {
          width: 100%;
        }
      }
    }
  }

  &.typ5 {
    @media only screen and (max-width: $media-mobile) {
      flex-wrap: wrap;
      flex-direction: row;
    }

    .grid-col {
      width: 25%;

      @media only screen and (max-width: $media-mobile) {
        width: 48%;
      }
    }
  }

  &.typ-structure {
    justify-content: flex-start;
  }

  &.typ-6 {
    .grid-col {
      &:first-child {
        width: 40%;

        @media only screen and (max-width: $media-mobile) {
          width: 100%;
          padding: 0 1.6rem 1.6rem;
          background-color: #FFFBF2;
        }
      }

      &:last-child {
        width: 60%;

        @media only screen and (max-width: $media-mobile) {
          width: 100%;
        }
      }
    }
  }

  &.typ-7 {
    @media only screen and (max-width: $media-mobile) {
      flex-direction: column-reverse;
    }

    .grid-col {
      &:first-child {
        width: 66.2%;

        @media only screen and (max-width: $media-mobile) {
          width: 100%;
        }
      }

      &:last-child {
        width: 32.3%;

        @media only screen and (max-width: $media-mobile) {
          width: 100%;
        }
      }
    }
  }

  &.typ-about-brand {
    .grid-col {
      @media only screen and (max-width: $media-mobile) {
        width: 100% !important;
      }

      &:first-child {
        width: 34%;
      }

      &:last-child {
        width: 66.66%;
      }
    }
  }

  &.typ-about-icon {
    @media only screen and (max-width: $media-mobile) {
      flex-direction: initial;
      flex-wrap: wrap;
    }

    .grid-col {
      @media only screen and (max-width: $media-mobile) {
        width: 48% !important;
      }

      .cp-icon-details {
        &::after {
          @media only screen and (max-width: $media-mobile) {
            top: 39%;
            height: 9rem;
          }
        }

        .icon {
          @media only screen and (max-width: $media-mobile) {
            flex: 0 0 2rem;
          }
        }
      }

      &:nth-child(1) {
        .cp-icon-details {
          @media only screen and (max-width: $media-mobile) {
            border-bottom: 1px solid #ccc;
            padding-bottom: 2rem;
          }
        }
      }

      &:nth-child(2) {
        .cp-icon-details {
          @media only screen and (max-width: $media-mobile) {
            border-bottom: 1px solid #ccc;
            padding-bottom: 2rem;
          }

          &::after {
            @media only screen and (max-width: $media-mobile) {
              content: none;
            }
          }
        }
      }

      &:nth-child(3) {
        .cp-icon-details {
          &::after {
            @media only screen and (max-width: $media-mobile) {
              top: 60%;
            }
          }
        }
      }

      &:nth-child(4) {
        .cp-icon-details {
          &::after {
            @media only screen and (max-width: $media-mobile) {
              content: none;
            }
          }
        }
      }
    }
  }

  &.typ-about-nestudio {
    gap: 4.8rem 2rem;
    flex-wrap: wrap;
    justify-content: center;

    @media only screen and (max-width: $media-mobile) {
      gap: 2.4rem 1rem;
      flex-direction: initial;
    }

    .grid-col {
      width: 32.2%;

      @media only screen and (max-width: $media-mobile) {
        width: 48%;
      }
    }
  }

  &.typ-col-4-wrap {
    @media only screen and (max-width: $media-mobile) {
      gap: 1.2rem;
      flex-direction: initial;
      flex-wrap: wrap;
    }

    .grid-col {
      width: 25%;

      @media only screen and (max-width: $media-mobile) {
        width: 48%;
      }
    }


  }

  &.typ-column-wrap-4 {
    gap: 0;
    flex-direction: initial;
    flex-wrap: wrap;
    justify-content: inherit;
    align-items: initial;
    margin-right: -15px;
    margin-left: -15px;

    @media only screen and (max-width: $media-mobile) {
      margin-right: 0;
      margin-left: 0;
      gap: 2rem;
    }

    .grid-col {
      width: auto;
      flex: 0 0 25%;
      max-width: 25%;
      padding: 0 1rem;

      @media only screen and (max-width: $media-mobile) {
        width: 100%;
        flex: 0 0 100%;
        max-width: 100%;
        padding: 0;
      }
    }
  }

  &.typ-col-5 {
    justify-content: initial;
    flex-wrap: wrap;

    .grid-col {
      width: 48.7%;

      @media only screen and (max-width: $media-mobile) {
        width: 100%;
      }
    }
  }


  .grid-col-w-65 {
    width: 65% !important;

    @media only screen and (max-width: $media-mobile) {
      width: 100% !important;
    }
  }

  .grid-col-w-60 {
    width: 60% !important;

    @media only screen and (max-width: $media-mobile) {
      width: 100% !important;
    }
  }

  .grid-col-w-40 {
    width: 40% !important;

    @media only screen and (max-width: $media-mobile) {
      width: 100% !important;
    }
  }

  .grid-col-w-35 {
    width: 35% !important;

    @media only screen and (max-width: $media-mobile) {
      width: 100% !important;
    }
  }
  .grid-col-w-65-sp{
    width: 65% !important;
    @media only screen and (max-width: $media-mobile) {width: 30% !important}
  }
  .grid-col-w-35-sp{
    width: 35% !important;
    @media only screen and (max-width: $media-mobile) {width: 70%!important}
  }
  .grid-col-w-100 {
    width: 100% !important;
  }

  .grid-col-w-50 {
    width: 49% !important;
  }

  &.typ-col-wrap {
    flex-wrap: wrap;
    gap: 0;
    margin: 0 -1rem;
    justify-content: initial;
    align-items: inherit;
    flex-direction: initial;

    .grid-col {
      padding: 0 1rem;
    }
  }

  &.flex-dir-initial {
    flex-direction: initial;
  }

  &.align-center {
    align-items: center;
  }
}