/* colors */
/*font family*/
/* breakpoints */
/*transform*/
/*opacity*/
/*opacity- end*/
.cp-request-recieve {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; }
  .cp-request-recieve .icon {
    width: 10rem;
    height: 10rem;
    font-size: 10rem;
    color: #00A441;
    margin-bottom: 0.4rem; }
    @media only screen and (max-width: 768px) {
      .cp-request-recieve .icon {
        width: 6rem;
        height: 6rem;
        font-size: 6rem; } }
  .cp-request-recieve .title {
    color: #333333;
    font-size: 3.6rem;
    font-family: "Poppins Semibold";
    margin-bottom: 0.4rem; }
    @media only screen and (max-width: 768px) {
      .cp-request-recieve .title {
        font-size: 2.4rem; } }
  .cp-request-recieve .ref-no {
    color: #333333;
    font-family: "Poppins Medium";
    font-size: 2rem;
    margin-bottom: 0.4rem; }
    @media only screen and (max-width: 768px) {
      .cp-request-recieve .ref-no {
        font-size: 1.6rem; } }
  .cp-request-recieve .desc {
    color: #666666;
    font-size: 1.6rem;
    font-size: 1.6rem;
    text-align: center; }
  .cp-request-recieve.typ-order-confirmation .desc {
    color: #333333;
    font-size: 1.4rem;
    margin-bottom: 8px; }
    .cp-request-recieve.typ-order-confirmation .desc .text-bold {
      font-family: "Poppins Semibold"; }
    .cp-request-recieve.typ-order-confirmation .desc.green {
      color: #00A441; }
  .cp-request-recieve.typ-order-confirmation .price {
    font-size: 2.4rem;
    font-family: "Poppins Semibold";
    color: #333333;
    margin-bottom: 8px; }
    @media only screen and (max-width: 768px) {
      .cp-request-recieve.typ-order-confirmation .price {
        font-size: 2rem; } }
  .cp-request-recieve.typ-empty-cart {
    position: relative; }
    .cp-request-recieve.typ-empty-cart .sec-head {
      position: absolute;
      left: 0;
      top: 0;
      margin-bottom: 0; }
      .cp-request-recieve.typ-empty-cart .sec-head .sec-title {
        display: flex;
        font-size: 2.8rem;
        align-items: center;
        gap: 1.2rem; }
        .cp-request-recieve.typ-empty-cart .sec-head .sec-title .count {
          background: #D2042D;
          border-radius: 26px;
          color: #FFFFFF;
          font-size: 2rem;
          font-family: "Poppins Medium";
          text-align: center;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 50px;
          height: 28px; }
    .cp-request-recieve.typ-empty-cart .icon {
      width: 10rem;
      height: 10rem;
      background-color: #ECF2FB;
      color: #8BB2E9;
      font-size: 5.6rem;
      padding: 2rem;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%; }
      @media only screen and (max-width: 768px) {
        .cp-request-recieve.typ-empty-cart .icon {
          width: 7rem;
          height: 7rem;
          font-size: 4.8rem; } }
      @media only screen and (max-width: 768px) {
        .cp-request-recieve.typ-empty-cart .icon.mt-65 {
          margin-top: 6.5rem; } }
      .cp-request-recieve.typ-empty-cart .icon.yellow-icon {
        background-color: transparent;
        color: #FFB800;
        padding: 0;
        font-size: 10rem; }
    .cp-request-recieve.typ-empty-cart .btn-wrap {
      margin-top: 1.6rem; }
    .cp-request-recieve.typ-empty-cart .desc.red-text {
      max-width: 30rem;
      margin: auto;
      color: #EE4400; }
  .cp-request-recieve.typ-design-style-sq {
    border-bottom: 1px solid #DEDEDE;
    padding-bottom: 4rem; }
    @media only screen and (max-width: 768px) {
      .cp-request-recieve.typ-design-style-sq {
        margin: 0 -1.6rem;
        padding-bottom: 2.4rem; } }
    .cp-request-recieve.typ-design-style-sq .img-wrap {
      max-width: 330px;
      margin: 0 auto 2.4rem; }
    .cp-request-recieve.typ-design-style-sq .desc {
      color: #333333;
      font-family: "Poppins Medium";
      margin-bottom: 2.4rem; }
      @media only screen and (max-width: 768px) {
        .cp-request-recieve.typ-design-style-sq .desc br {
          display: none; } }
  .cp-request-recieve.typ-mooboard-result .title {
    max-width: 600px;
    margin: auto;
    text-align: center; }

/*# sourceMappingURL=cp-request-recieve.css.map */
