/* colors */
/*font family*/
/* breakpoints */
/*transform*/
/*opacity*/
/*opacity- end*/
.cp-offer-banner {
  background-color: #00398C;
  position: relative;
  padding: 3rem 2rem;
  border-radius: 1.6rem;
  -webkit-border-radius: 1.6rem;
  -moz-border-radius: 1.6rem;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  height: 100%; }
  @media only screen and (max-width: 768px) {
    .cp-offer-banner {
      padding: 1.6rem; } }
  .cp-offer-banner::before {
    content: '';
    background: linear-gradient(269.84deg, rgba(0, 0, 0, 0) 28.84%, rgba(0, 0, 0, 0.9) 79.53%);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1; }
  .cp-offer-banner::after {
    content: "\e93a";
    left: -8%;
    position: absolute;
    top: -4%;
    z-index: -1;
    color: #3D7EDB;
    font-size: 15rem;
    font-family: 'icomoon' !important;
    opacity: 30%; }
  .cp-offer-banner .shop-now-btn {
    background-color: #fff;
    padding: 8px 10px;
    color: #3D7EDB;
    font-size: 1.2rem;
    max-height: 3.2rem;
    display: flex;
    align-items: center;
    min-width: auto; }
  .cp-offer-banner .tag-wrap {
    margin-bottom: 8px; }
    .cp-offer-banner .tag-wrap .tag {
      color: #3D7EDB;
      border-radius: 2.6rem;
      font-size: 1rem;
      background-color: #fff;
      font-family: "Poppins Medium";
      padding: 4px 8px; }
  .cp-offer-banner .desc {
    color: #fff;
    font-size: 1.4rem; }
  .cp-offer-banner .font-bold {
    font-family: "Poppins Semibold"; }
  .cp-offer-banner.typ-2 {
    background: linear-gradient(89.04deg, #012A67 0.3%, #2867C1 100.68%); }
    .cp-offer-banner.typ-2::before, .cp-offer-banner.typ-2::after {
      content: none; }
    .cp-offer-banner.typ-2 .cont-wrap {
      display: flex;
      align-items: center;
      gap: 1.2rem; }
      @media only screen and (max-width: 768px) {
        .cp-offer-banner.typ-2 .cont-wrap {
          align-items: start; } }
      .cp-offer-banner.typ-2 .cont-wrap .icon {
        width: 3.6rem;
        height: 3.6rem;
        flex: 0 0 3.6rem;
        background: #FFFFFF;
        border-radius: 50%;
        color: #3D7EDB;
        font-size: 2rem;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center; }
      .cp-offer-banner.typ-2 .cont-wrap .desc {
        color: #FFFFFF;
        font-size: 1.2rem;
        font-family: "Poppins Regular";
        display: flex;
        align-items: center;
        justify-content: center; }
        @media only screen and (max-width: 768px) {
          .cp-offer-banner.typ-2 .cont-wrap .desc {
            align-items: start;
            flex-direction: column; } }
      .cp-offer-banner.typ-2 .cont-wrap .link {
        color: #FFFFFF;
        text-decoration: underline;
        font-size: 1.4rem;
        white-space: nowrap; }
  @media only screen and (max-width: 768px) {
    .cp-offer-banner.typ-mobile-full {
      margin: 0 -16px;
      border-radius: 0;
      -webkit-border-radius: 0;
      -moz-border-radius: 0; } }

/*# sourceMappingURL=cp-offer-banner.css.map */
