/* colors */
/*font family*/
/* breakpoints */
/*transform*/
/*opacity*/
/*opacity- end*/
.cp-project-planner {
  border: 1px solid #DEDEDE;
  padding: 16px;
  border-radius: 12px;
  position: relative;
}
.cp-project-planner .cong-img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
.cp-project-planner .cp-title {
  padding: 0 0 15px 0;
  display: flex;
  justify-content: flex-start;
  border-bottom: 1px solid #DEDEDE;
  margin-bottom: 12px;
  align-items: center;
  position: relative;
}
.cp-project-planner .cp-title .title {
  display: flex;
  color: #333333;
  font-size: 20px;
  line-height: 28px;
  font-family: "Poppins Semibold";
}
@media only screen and (max-width: 991px) {
  .cp-project-planner .cp-title .title {
    font-size: 16px;
    line-height: 24px;
    padding: 0px 0 10px 0px;
  }
}
.cp-project-planner .cp-title .icon-wrap {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background: #FFF8E5;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}
@media only screen and (max-width: 991px) {
  .cp-project-planner .cp-title .icon-wrap {
    width: 32px;
    height: 32px;
  }
}
.cp-project-planner .cp-title .icon {
  color: #FFB800;
  font-size: 20px;
}
@media only screen and (max-width: 991px) {
  .cp-project-planner .cp-title .icon {
    font-size: 14px;
  }
}
.cp-project-planner .cp-title .btn-link {
  position: relative;
  margin: 0 0 0 auto;
}
@media only screen and (max-width: 991px) {
  .cp-project-planner .cp-title .btn-link {
    font-size: 12px;
    line-height: 16px;
  }
}
.cp-project-planner .planner-details {
  position: relative;
  margin-bottom: 16px;
  padding-bottom: 16px;
  border-bottom: 1px solid #DEDEDE;
}
.cp-project-planner .planner-details .heading {
  font-family: "Poppins Semibold";
  color: #333333;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  margin-bottom: 10px;
  padding: 0 15px;
}
.cp-project-planner .planner-details .sub-heading {
  font-family: "Poppins Medium";
  color: #333333;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  margin-bottom: 10px;
}
.cp-project-planner .planner-details .planner-card {
  background: #00398C;
  border-radius: 12px;
  padding: 32px 40px;
}
@media only screen and (max-width: 991px) {
  .cp-project-planner .planner-details .planner-card {
    border-radius: 8px;
    padding: 24px;
  }
}
.cp-project-planner .planner-details .planner-card ul {
  list-style: none;
}
.cp-project-planner .planner-details .planner-card ul li {
  display: flex;
  justify-content: space-between;
  padding: 12px 0;
  border-bottom: 1px solid #6498E2;
}
.cp-project-planner .planner-details .planner-card ul li:first-of-type {
  padding-top: 0;
}
.cp-project-planner .planner-details .planner-card ul li:last-of-type {
  padding-bottom: 0;
  border-bottom: 0;
}
.cp-project-planner .planner-details .planner-card .content {
  display: flex;
  flex-direction: column;
  position: relative;
}
.cp-project-planner .planner-details .planner-card .label {
  font-family: "Poppins Regular";
  font-size: 14px;
  line-height: 20px;
  color: #8BB2E9;
  text-align: left;
  padding-bottom: 6px;
}
.cp-project-planner .planner-details .planner-card .details {
  font-family: "Poppins Semibold";
  font-size: 20px;
  line-height: 28px;
  color: #FFFFFF;
  text-align: left;
}
.cp-project-planner .planner-details .planner-card .tag {
  margin-top: 6px;
  background: #CCEDD9;
  border: 1px solid #66C88D;
  border-radius: 30px;
  padding: 2px 8px;
  text-align: center;
  font-size: 12px;
  line-height: 18px;
  font-family: "Poppins Medium";
  color: #333333;
}
.cp-project-planner .action-wrap {
  justify-content: space-between;
  display: flex;
}
.cp-project-planner .action-wrap.btn-primary {
  min-width: 250px;
  width: 100%;
}

/*# sourceMappingURL=cp-project-planner.css.map */
