@import "../config/variables";
@import "../config/mixin";

.cp-back-to-top {
    background-color: #00398C;
    padding: 1.2rem;
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 6.6rem;
    color: #fff;
    font-size: 1.4rem;
    font-family: $font-medium;

    .icon {
        width: 2.4rem;
        height: 2.4rem;
        color: #fff;
        font-size: 2.4rem;
    }

}